<html>
<body>
Hello {{name}}! Welcome to Occuhunt!<br />
<br />
We wanted to get you started with Occuhunt. Upload your resume here (http://occuhunt.com/showcase/) to be prepared to drop off your resumes at upcoming infosessions and career fairs.<br />
<br />
Check out upcoming infosessions and career fairs here: http://occuhunt.com/home/ <br />
<br />
If you need any help, don't hesitate to call us up at 510-612-7328 or reply to this email. We'll get back to you asap :) <br />
<br />
Cheers,<br />
Team Occuhunt<br />
</body>
</html>