{% if updated_status == 3 %}

<html>
<body>
Hello {{name}},<br />
<br />
We're sorry to inform you that your application to {{company}} has been rejected.<br />
<br />
Don't take this to heart. You are unique and another company will recognize your talents very soon. We encourage you to continue applying to other companies! If you need assistance in your job search, take advantage of your career center as much as possible.<br />
<br />
Do let us know if we can help you in any way possible. We'll be more than glad to help you!<br />
<br />
Visit http://occuhunt.com/showcase/applications/ to stay up-to-date with your applications.<br/>
<br />
Keep pushing!<br />
Occuhunt<br />
</body>
</html>

{% endif %}

<!-- If accepted, congratualte them and ask them to follow up with the recruiter immedietely if they have their contact -->
{% if updated_status == 4 %}

<html>
<body>
Hello {{name}},<br />
<br />
{{company}} has indicated an interest in interviewing you. We've CC'ed the contact person in this email. Please connect with them to find a common time.<br />
<br />
{{recruiter_message}}<br />
<br />
Keep up the good work!<br />
<br />
Visit http://occuhunt.com/showcase/applications/ to stay up-to-date with your applications.<br/>
<br />
Good luck!<br />
{{company}}<br />
via Occuhunt<br />
<br />
<br />
P.S. If the recruiter is not CC'ed in this email, please be patient and wait for them to contact you. Or if you have their contact info, please feel free to reach out to them!
</body>
</html>

{% endif %}