<html>
<body>
Hi {{name}}!<br />
<br />
We're Sanchit and Sidwyn, the founders of Occuhunt.<br />
<br />
To make sure you're started off on the right foot, we'd like to give you some recommendations:<br />
1) Upload your resume <a href="http://occuhunt.com/showcase/">here</a> (http://occuhunt.com/showcase/). This is your personal showcase page and you can choose who it is visible to. By default, it is only visible to you.<br />
2) Check out upcoming info sessions and career fairs on your campus <a href="http://occuhunt.com/home/">here</a> (http://occuhunt.com/home/) on our Discover tab.<br />
3) Begin dropping your resumes! Hover over any company at the career fair, and click on the circle to drop your resume. Once done, you can begin managing your applications <a href="http://occuhunt.com/plan/companies/">here</a> (http://occuhunt.com/plan/companies/).<br />
<br />
Bonus: If you need help with your resumes, feel free to upload it on the <a href="http://occuhunt.com/plan/resume-feed/">resume feed</a> (http://occuhunt.com/plan/resume-feed/) to get feedback.<br />
<br />
With that, we're absolutely excited to have you on Occuhunt. You can shoot us an email here, text or call to 510-612-7328, and we'll be happy to help you out!<br /><br />
Thanks for using Occuhunt!<br />
<br />
Cheers,<br />
Sanchit and Sidwyn<br />
Founders<br/>
</body>
</html>