.simplebox{
  outline: none;
  box-shadow:none !important;
}

.venue-center {
  font-weight: 500;
}

.room-top {
   font-weight: 400;
}

.room-custom {
  font-weight: 400;
  display: block;
  margin-top: 26px;
  margin-bottom: 10px;
}

body {
  background-color: white;
}

.favorited-company {
  background-image: url('/static/images/other/fold.png');
  background-repeat: no-repeat;
  background-size: 14px;
  /*border-top: 4px solid #348891 !important;*/
}

.fair-table {
  max-height:80px;
  max-width: 80px;
  word-wrap: break-word;
  overflow: hidden;
  font-weight: 400; 
  display: table-cell;
  vertical-align: middle;
  height: 80px;
  width: 80px;
  white-space: normal;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  text-align: center;
  line-height: 18px;
  
  background-color: #eef7f7;
  border-color: #adadad;
  font-size: 13px;
  letter-spacing: 0.3px;
}

.fair-table:hover {
  background-color: #a4c8cb
}

.vcenter{
}

td#career_fair_map{
  min-width: 60px;
  min-height: 60px;
  max-height: 80px;
}

.jumbotron {
  padding-top: 12px;
}

#fair_map {
  overflow: scroll;
}

.popover {
  width: 300px;
}

.popover-content {
  padding: 0px;
}

.popover-title {

}

.popover-company-info {
  text-align: center;
  margin-bottom: 10px;
}

.popover-company-info > img#background_banner {
  width: 100%;
  max-height: 200px;
  -webkit-filter: blur(5px); 
  -moz-filter: blur(5px); 
  -o-filter: blur(5px); 
  -ms-filter: blur(5px); 
  filter: blur(5px);
}

.popover-company-info > img#foreground_banner {
  position: absolute;
  display: block;
  max-width: 100px;
  max-height: 100px;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  clear: both;
}

.popover-company-info > p {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.popover-company-info > a {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}

.popover-title {
  text-align: center;
}

.popover-title > h3 {
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline;
}

.popover-title > a {
  float: right;
  display: inline;
}

.active{
  border-right: 2px solid #005f69;
  font-weight: bold;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
}

.active:hover {
  border-right: 2px solid #005f69;
  font-weight: bold;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
}

.event-header {
  color: #777;
  font-weight: 700;
}

.event-image {
  width: 64px;
}

.top-border{
  border-top: 1px solid #acacac;
}

.left-border{
  border-left: 1px solid #acacac;
}

.right-border{
  border-right: 1px solid #acacac;
}

.bottom-border{
  border-bottom: 1px solid #acacac;
}

.entrance {
  background-image: url('/static/images/Entrance.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px;
}

.exit {
  background-image: url('/static/images/Entrance.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px;
}

.fair-table:hover ~ .resume_drop {
  opacity: 1;
}

.fair-table ~ .resume_drop.resume_dropped {
  opacity: 1;
}

.resume_drop {
  opacity: 0.2;
  float: right;
  position:absolute;
  display:block;
  color:black;
  border: 1px solid rgb(0,95,104);
  background: transparent;
  margin-top: -23px;
  margin-left: 59px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  z-index: 100;

  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.resume_drop:hover {
  /*background-size: 14px;
  background: url('/static/images/checkmark.png');
  background-repeat: no-repeat;
  background: green;
*/
  opacity: 1;
  background-color: rgb(0,95,104);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.resume_dropped {
  opacity: 1;
  background-color: rgb(0,95,104);
}

#career_fair_map {
  border-spacing: 0px;
}
