
.active{
	border-right: 2px solid #005f69;
	font-weight: bold;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
}

.active:hover {
	border-right: 2px solid #005f69;
	font-weight: bold;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
}

.background-active {
	background-color: #EEF7F7;
}

.category_box {
	border-style: solid;
	border-width: 1px;
	border-color: #acacac;
	border-radius: 5px;
	overflow: scroll; 
}

#category_header {
	text-align: center;
	color: #348891;
	font-weight: 500;
}

#category_subheader {
	text-align: center;
	color: #348891;
	font-weight: 100;
	font-style: italic;
	line-height: 8px;
}

#category_body {
	margin-left: 15px;
	margin-right: 15px;
}

#category_body h4{
	font-weight: bold;
}

#get_more_recs {
	background-color:#005f69;
	color:white;
}

#get_more_recs:hover {
	background-color:white;
	color:#005f69;
}

#get_more_recs.active {
	background-color:white;
	color:#005f69;
	border-color:#dddddd;
	border-right: 2px solid #005f69;
}

#get_more_recs.active:hover {
	background-color:#dddddd;
}

#request_sent {
	text-align: center;
	color: #348891;
	font-weight: 500;
	vertical-align: middle;
	padding-top: 200px;
	padding-bottom: 200px;
}

.input-text-bordered {
	border: 2px solid #70aab0;
	padding: 5px;
	line-height: 1.5em;
	width: 100%;
}

.input-list-bordered {
	height:90px !important;
	overflow:scroll;
	border: 2px solid #70aab0;
}

.input-text-light-bordered {
	border: 1px solid #eee;
	padding: 5px;
	line-height: 1.5em;
	width: 100%;
	padding-left:20px;
	background-image:url('http://i47.tinypic.com/r02vbq.png');
	background-repeat:no-repeat;
	background-position:left center;outline:0;
}

.input-textarea-bordered {
	border: 2px solid #70aab0;
	padding: 5px;
	width: 100%;
}

.friend_thumbnail {
	padding: 3px;
	border: 1px solid #eee;
}

.friend_thumbnail:hover {
	padding: 3px;
	border: 1px solid #70aab0;
}