{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% if not match_link %}

<br>
<nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;padding-bottom:0px;">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/faq/"><strong>FAQ</strong></a></li>
      <li><a data-toggle="modal" href="#feedbackModal" onclick="mixpanel.track('Clicked on Feedback'); return true;">FEEDBACK</a></li>
      <li><a href="/privacy/"><strong>PRIVACY</strong></a></li>
      <li><a href="/recruiter/"><strong>RECRUITER</strong></a></li>
      <li><a data-toggle="modal" href="#aboutModal"><strong>ABOUT</strong></a></li>
      <li><a data-toggle="modal" href="#aboutModal"><strong>CONTACT</strong></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><div class="fb-like" data-href="https://www.facebook.com/occuhunt" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" style="top:13px;"></div></li>
    </ul>
  </div>
</nav>

<!-- Feedback Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Feedback</h4>
      </div>
      <div class="modal-body">
        <div id="feedbackForm">
          <div class="row">
            <div class="col-lg-12">
              <textarea class="form-control" rows="5" id="feedbackFormText" style="width:100%;">You've clicked the magic button. Now what do you think of Occuhunt? We'd love to hear from you!</textarea>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="form-group">
              <label for="feedbackReplyTo" class="col-lg-2 control-label" style="padding-top:7px;">Email:</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" id="feedbackReplyTo" placeholder="Optional" style="width:100%;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="mixpanel.track('Closed feedback modal'); return true;">Close</button>
        <button type="button" class="btn btn-done" id="feedbackFormSubmit" onclick="mixpanel.track('Sent feedback'); return true;">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- About Us modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog text-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <p>Call us at 510-612-7328 if you need any help!</p>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1/c3.0.160.160/p160x160/1474590_10152026189784110_1340713522_n.jpg" alt="Sanchit Bareja">
              <div class="caption">
                <h3>Sanchit Bareja</h3>
                <p>sanchit@berkeley.edu</p>
                <a id="mp-sanchit" class="btn btn-done btn-sm" href="http://www.linkedin.com/in/sanchitbareja"><strong>More about Sanchit</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  mixpanel.track_links("#mp-sanchit", "Click sanchit link", {'referrer': document.referrer });
  mixpanel.track_links("#mp-sidwyn", "Click sidwyn link", {'referrer': document.referrer });

  $("#feedbackFormSubmit").click(function(){
    mixpanel.track('Clicked Feedback from footer');
    $("#feedbackForm").before('<div id="spinnerWait"><div class="spinner"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div><div class="bar4"></div><div class="bar5"></div><div class="bar6"></div><div class="bar7"></div><div class="bar8"></div><div class="bar9"></div><div class="bar10"></div><div class="bar11"></div><div class="bar12"></div></div><p>Sending your feedback...</p></div>');
    $.ajax({
      type: "POST",
      url: "/feedback/",
      data: { feedback: $("#feedbackFormText").val(), replyToEmail:$("#feedbackReplyTo").val(), csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() }
    }).done(function( returnData ) {
      if(returnData['success']){
        $("#feedbackForm").empty();
        $("#feedbackFormSubmit").remove()
        $("#spinnerWait").replaceWith("<p>Thanks for your feedback! Your feedback has reached us :)</p>");
      } else {
        $("#spinnerWait").remove();
        $("#feedbackForm").replaceWith("<p>Oops! Something broke. Please try again in a while :( </p>");
      }
    });
  });
</script>

{% endif %}
