{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% csrf_token %}


<div class="navbar navbar-default" role="navigation">
  <div class="container">    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="{% static "images/logo/OccuhuntLogo.png" %}" style="height:30px; margin-top:10px; margin-bottom:4px"></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav nav">
      </ul>
      <ul class="nav navbar-nav navbar-left">
        {% if fairs_link or search_link %}
          <div class="btn-group" style="padding-left:50px;">
            <a class="btn btn-done btn-md" href="/home/" onclick="mixpanel.track('Viewed fair from top_bar'); return true;" style="width:40px;top:7px;"><img src="/static/images/maps_icon.png" style="height:20px;"></a>
            <a class="btn btn-done btn-md" href="/search/" onclick="mixpanel.track('Viewed search from top_bar'); return true;" style="width:40px;top:7px;"><img src="/static/images/search.png" style="height:20px;"></a>
          </div>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="/search/">DISCOVER</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">PLAN<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/plan/resume-feed/" onclick="mixpanel.track('Viewed resume-feed from top_bar'); return true;">Resume Feed</a></li>
            <li><a href="/plan/companies/" onclick="mixpanel.track('Viewed organize-feature from top_bar'); return true;">Organize Applications</a></li>
          </ul>
        </li>
        <li><a href="/match/">MATCH</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name | upper}}
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/logout/" onclick="mixpanel.track('Logged Out'); return true;">Logout</a></li>
            <input type="hidden" name="user_id" value="{{user.id}}" id="user_id">
          </ul>
        </li>
        {% else %}
        <li><a href="/login/linkedin/?next={{request.path}}" onclick="mixpanel.track('Logged In from top_bar'); return true;"><img src="{% static 'images/login-with-linkedin.png' %}" style="height:19px;"></a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>