{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% csrf_token %}


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <img src="{% static "images/beta.png" %}" style="clear:none;position:absolute:top:0px;left:0px;height:50px;float:left;" />
  <div class="container">    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" style="background-color:black;border-color:black;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{% static "images/logo/Occuhunt-Logo-small.png" %}" style="height:18px;"></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav" style="font-weight:500">
        <li><a href="/">HOME</a></li>
        <li><a href="/companies/">COMPANIES</a>
        <li><a href="/favorites/">FAVORITES</a>
        <li><a data-toggle="modal" href="#feedbackModal">FEEDBACK</a></li>

        <!-- <li><a href="/companies/">Companies</a></li> -->
      </ul>
<!--       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
 -->      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
<!--         <li><a class='btn btn-primary' style="color:white;height:50px;"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Upload Resume</a></li> -->
        <li class="dropdown" style="font-weight:500">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name}}
<!--             <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c46.46.579.579/s160x160/1001605_10151715057849110_1659770280_n.jpg" style="height:30px;padding-left:10px"> -->
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <!-- <li><a href="#">Settings</a></li> -->
            <!-- <li><a href="#">Favorite Jobs</a></li> -->
            <li><a href="/logout/">Logout</a></li>
            <input type="hidden" name="user_id" value="{{user.id}}" id="user_id">
          </ul>
        </li>
        {% else %}
        <li><a href="/login/linkedin/"><img src="{% static 'images/login-with-linkedin.png' %}"></a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<style type="text/css">

/* -----------------------------------------
   Spinner
----------------------------------------- */
    
div.spinner {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;
}

div.spinner div {
  width: 12%;
  height: 26%;
  background: #000;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

 @-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}


</style>

<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Feedback</h4>
      </div>
      <div class="modal-body">
        <div id="feedbackForm">
          <div class="row">
            <div class="col-lg-12">
              <textarea class="form-control" rows="5" id="feedbackFormText">What do you think of Occuhunt? We'd love to hear from you!</textarea>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="form-group">
              <label for="feedbackReplyTo" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" id="feedbackReplyTo" placeholder="Optional">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="feedbackFormSubmit">Send feedback!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
  $("#feedbackFormSubmit").click(function(){
    $("#feedbackForm").before('<div id="spinnerWait" style="text-align:center;"><div class="spinner"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div><div class="bar4"></div><div class="bar5"></div><div class="bar6"></div><div class="bar7"></div><div class="bar8"></div><div class="bar9"></div><div class="bar10"></div><div class="bar11"></div><div class="bar12"></div></div><p>Sending your feedback...</p></div>');
    $.ajax({
      type: "POST",
      url: "/feedback/",
      data: { feedback: $("#feedbackFormText").val(), replyToEmail:$("#feedbackReplyTo").val(), csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() }
    }).done(function( returnData ) {
      if(returnData['success']){
        $("#feedbackForm").empty();
        $("#feedbackFormSubmit").remove()
        $("#spinnerWait").replaceWith("<p>Thanks for your feedback! Your feedback has reached us :)</p>");
      } else {
        $("#spinnerWait").remove();
        $("#feedbackForm").replaceWith("<p>Oops! Something broke. Please try again in a while :( </p>");
      }
    });
  });
</script>