{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<!-- Add css here -->
<link href="{% static 'occuhunt/css/apply.css' %}" rel="stylesheet">
<script src="{% static 'occuhunt/js/custom-form-elements.js' %}"></script>
<style type="text/css">
	body {
		background-color: white;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-smooth: always;
	}
</style>

{% endblock %}

{% block extra_script %}
<!-- Add javascript here -->

{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-3 category_box">
		<div class="row">
		  	<h4 id="category_header">CHOOSE JOB</h4>
		  	<h5 id="category_subheader">Select the job you wish to apply for.</h5>
		  	<hr>
		</div>
		<div class="row">
		  	<div class="row" id="job_main">
			  	<div class="col-lg-3" id="job_logo">
				  	<img src="{% static 'images/samplelogos/accenture_logo.jpg' %}" width="60px">
			  	</div>			  				  		
			  	<div class="col-lg-9">					
		            <input type="radio" id="c1" name="job" />
				  	<label for="c1">
				  		<span><div id="circle"></div></span>
					  	<h5 id="job_company">Accenture</h5>
					  	<div id="job_title">Software Engineer</div>
	  				  	
  				  	</label>
			  	</div>
			</div>
			<div class="row" id="job_main">
			  	<div class="col-lg-3" id="job_logo">
				  	<img src="{% static 'images/samplelogos/bloomberg_logo.jpg' %}" width="60px">
			  	</div>			  				  		
			  	<div class="col-lg-9">					
		            <input type="radio" id="c2" name="job" />
				  	<label for="c2">
				  		<span><div id="circle"></div></span>
					  	<h5 id="job_company">Bloomberg</h5>
					  	<div id="job_title">Frontend Engineer</div>
	  				  	
  				  	</label>
			  	</div>
			</div>
			<div class="row" id="job_main">
			  	<div class="col-lg-3" id="job_logo">
				  	<img src="{% static 'images/samplelogos/palantir_technologies_logo.jpg' %}" width="60px">
			  	</div>			  				  		
			  	<div class="col-lg-9">					
		            <input type="radio" id="c3" name="job" />
				  	<label for="c3">
				  		<span><div id="circle"></div></span>
					  	<h5 id="job_company">Palantir</h5>
					  	<div id="job_title">Backend Engineer</div>
	  				  	
  				  	</label>
			  	</div>
			</div>
			<div class="row" id="job_main">
			  	<div class="col-lg-3" id="job_logo">
				  	<img src="{% static 'images/samplelogos/rackspace_logo.jpg' %}" width="60px">
			  	</div>			  				  		
			  	<div class="col-lg-9">					
		            <input type="radio" id="c4" name="job" />
				  	<label for="c4">
				  		<span><div id="circle"></div></span>
					  	<h5 id="job_company">Rackspace</h5>
					  	<div id="job_title">Software Engineer</div>
	  				  	
  				  	</label>
			  	</div>
			</div>
			<div class="row" id="job_main">
			  	<div class="col-lg-3" id="job_logo">
				  	<img src="{% static 'images/samplelogos/spacex-logo.jpg' %}" width="60px">
			  	</div>			  				  		
			  	<div class="col-lg-9">					
		            <input type="radio" id="c5" name="job" />
				  	<label for="c5">
				  		<span><div id="circle"></div></span>
					  	<h5 id="job_company">SpaceX</h5>
					  	<div id="job_title">QA Engineer</div>
	  				  	
  				  	</label>
			  	</div>
			</div>
	  	</div>
	</div>
	<div class="col-lg-9 category_box" id="application_preview">
		<div class="row">
		  	<h4 id="category_header">Application</h4>
		  	<h5 id="category_subheader">This is your final application. Be sure to check it before submitting!</h5>
		  	<button class="btn btn-lg btn-done" style="position:absolute; top:10px; right:10px;" id="apply_job">Apply</button>
		  	<hr>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<input class="input-text" type="text" placeholder="First Name" value="Sanchit">
			</div>
			<div class="col-lg-4">
				<input type="text" class="input-text" placeholder="Last Name" value="Bareja">
			</div>
			<div class="col-lg-4">
				<input type="text" class="input-text" placeholder="Major" value="EECS">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-lg-4">
				<input type="text" class="input-text" placeholder="Email" value="sanchit@berkeley.edu">
			</div>
			<div class="col-lg-4">
				<input type="text" class="input-text" placeholder="Phone" value="+1 (510) 612-7328">
			</div>
			<div class="col-lg-4">
				<input type="text" class="input-text" placeholder="Graduation Year" value="2015">
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-lg-12">
				<div style="width:100%; height: 10em; text-align: center; border:1px dashed #acacac; border-radius: 5px; padding-top: 4em; font-size: 20px;">
					Attach Cover Letter
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-lg-12">
				<h4>Resume</h4>
				<img style="border:1px solid #acacac" src="https://resumefeed.s3.amazonaws.com/sanchit-barejapdfu01nBM1mjF4kaWEJmaXcdgkyP4fBqI">
			</div>
		</div>
	</div>
	<div class="col-lg-9 category_box" id="application_sent">
		<img src="{% static 'images/checkmark.png' %}" style="height:100px;"/>
		<h1>Application Sent</h1>
	</div>
</div>

<script type="text/javascript">
	
	$("input[type='radio']").change(function(e){
		$("#application_preview").show();
	});
	
	$("#apply_job").on("click", function(e){
		$("#application_preview").hide();
		$("#application_sent").show();
	});

</script>

<!-- hard code everything for design -->
{% endblock %}