{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<!-- Add css here -->
<link href="/static/occuhunt/css/apply.css" rel="stylesheet">
<script src="/static/occuhunt/js/custom-form-elements.js"></script>
<style type="text/css">
	body {
		background-color: white;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-smooth: always;
	}
</style>

{% endblock %}

{% block extra_script %}
<!-- Add javascript here -->
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-3 category_box">
		<div class="row">
		  	<h4 id="category_header">CHOOSE JOB</h4>
		  	<h5 id="category_subheader">Select the job you wish to apply for.</h5>
		  	<hr>
		  	<div class="row" id="job_main">
			  	<div class="col-lg-3" id="job_logo">
				  	<img src="/static/images/samplelogos/accenture_logo.jpg" width="60px">
			  	</div>			  				  		
			  	<div class="col-lg-9">					
		            <input type="checkbox" id="c1" />
				  	<label for="c1">
				  		<span><div id="circle"></div></span>
					  	<h5 id="job_company">Accenture</h5>
					  	<div id="job_title">Software Engineer</div>
	  				  	
  				  	</label>
			  	</div>
			</div>
			<div class="row" id="job_main">
			  	<div class="col-lg-3" id="job_logo">
				  	<img src="/static/images/samplelogos/bloomberg_logo.jpg" width="60px">
			  	</div>			  				  		
			  	<div class="col-lg-9">					
		            <input type="checkbox" id="c2" />
				  	<label for="c2">
				  		<span><div id="circle"></div></span>
					  	<h5 id="job_company">Bloomberg</h5>
					  	<div id="job_title">Data Miner</div>
	  				  	
  				  	</label>
			  	</div>
			</div>
			<div class="row" id="job_main">
			  	<div class="col-lg-3" id="job_logo">
				  	<img src="/static/images/samplelogos/palantir_technologies_logo.jpg" width="60px">
			  	</div>			  				  		
			  	<div class="col-lg-9">					
		            <input type="checkbox" id="c3" />
				  	<label for="c3">
				  		<span><div id="circle"></div></span>
					  	<h5 id="job_company">Palantir</h5>
					  	<div id="job_title">NSA Spy</div>
	  				  	
  				  	</label>
			  	</div>
			</div>
			<div class="row" id="job_main">
			  	<div class="col-lg-3" id="job_logo">
				  	<img src="/static/images/samplelogos/rackspace_logo.jpg" width="60px">
			  	</div>			  				  		
			  	<div class="col-lg-9">					
		            <input type="checkbox" id="c4" />
				  	<label for="c4">
				  		<span><div id="circle"></div></span>
					  	<h5 id="job_company">Rackspace</h5>
					  	<div id="job_title">Robert Scoble</div>
	  				  	
  				  	</label>
			  	</div>
			</div>
			<div class="row" id="job_main">
			  	<div class="col-lg-3" id="job_logo">
				  	<img src="/static/images/samplelogos/spacex-logo.jpg" width="60px">
			  	</div>			  				  		
			  	<div class="col-lg-9">					
		            <input type="checkbox" id="c5" />
				  	<label for="c5">
				  		<span><div id="circle"></div></span>
					  	<h5 id="job_company">SpaceX</h5>
					  	<div id="job_title">Astronaut</div>
	  				  	
  				  	</label>
			  	</div>
			</div>
	  	</div>
	</div>
	<div class="col-lg-9">
	  	<h4 id="company_title">YOUR APPLICATION</h4>
	</div>
</div>

<!-- hard code everything for design -->
{% endblock %}