{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<!-- Add css here -->
<style type="text/css">
	body {
		background-color: white;
		background:url("http://f.cl.ly/items/051H1F0S2S3p2B2l192i/BlurKing.jpg");
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-smooth: always;
	}
	#company_title {
		text-align: center;
		color: #343a41;
		letter-spacing: 0px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.company_description {
		padding-left: 0px;
		padding-right: 0px;
	}
	#company_banner {
		width: 100%;
	}
	#company_stats {
		color: white;
		font-size: 17px;
		font-family: "Proxima Nova";
		font-weight: 400;
		line-height: 0.8em;
	}
	#company_logo {
		padding-top: 50px;
		width: 100%;
		margin-bottom: 30px;
	}
	#company_info {
		padding-top: 50px;
		width: 290px;
		text-align: left;
		font-weight: 700;
		font-family: "Proxima Nova";
		font-size: 22px;
		margin-bottom: 22px;
		color: white;
		line-height: 0.9em;
		/*letter-spacing: 1px;*/
	}
	#company_detailed_info {
		font-family: "Proxima Nova";
		font-weight: 400;
		font-size: 17px;
		color: white;
		line-height: 1.4em;
		/*letter-spacing: 0.02em;*/
	}
	#job_description {
		font-weight: 500;
		font-size: 22px;
		font-family: "Proxima Nova";
		color: #24afb2;
		letter-spacing: 0px;
	}
	#job_location {

	}
</style>

{% endblock %}

{% block extra_script %}
<!-- Add javascript here -->
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
	  	<h1 id="company_title">{{ company.name }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2" style="padding-left:0px; padding-right:0px">
		<img id="company_banner" src="{{ company.banner_image }}">
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2" id="company_description" style="background-color: #55606e;">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-1" id="company_stats" style="margin-bottom:60px">
				<img id="company_logo" src="{{ company.logo }}">
				<div style="text-align:center">
					<p>{{ company.location }}</p>
					<p>{% if company.founded %}Founded {{ company.founded }}{% endif %}</p>
					<p>{% if company.number_employees %}{{ company.number_employees }} employees{% endif %}</p>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-1" style="margin-bottom:60px">
				<div>
					<a class="btn-link" style="position:absolute; top:55px; right:15px; display:inline;"><i class="icon-plus-sign-alt icon-2x pull-right"></i></a>
					<h4 id="company_info">COMPANY INFO</h4>
				</div>
				<p id="company_detailed_info">{{ company.company_description }}</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2" id="company_description" style="background-color: #343a41;">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10" style="margin-bottom:60px">
<!-- 				<h4 id="company_info">JOBS</h4>
				<p id="job_description">Product Manager <span id="job_description" style="font-size:18px; font-weight:100; 		-webkit-font-smoothing: antialiased;">&nbsp;San Francisco, CA</span></p>
				<p id="company_detailed_info">The Project Manager has the overall responsibility for a project, taking it from concept to completion. Each Project Manager has full profit and performance responsibility for his/her jobs. The Intern will support the Project Manager with estimating, scheduling, design meetings, buyout, permitting, shop drawing and submittal review, billing, and job site visits.</p> -->
				<br />
				<br />
				<div style="text-align:center">
					<a href="{{ company.careers_website }}" class="btn btn-done" style="font-family:'Open Sans'; font-size:14px; padding-left:20px; padding-top:10px; padding-right:20px; padding-bottom:10px; font-weight:700; -webkit-font-smoothing: antialiased;">VISIT CAREERS SITE</a>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- hard code everything for design -->
{% endblock %}