{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}

<style type="text/css">

  #company_thumbnail {
    height:200px;
    vertical-align: center;
  }

  #company_thumbnail_logo {
    max-height: 200px;
  }

  .no-margin {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #company_thumbnail_favorite {
    display: none;
    position: absolute;
    top: 3px;
    right: 6px;
  }

  #company_info:hover > #company_thumbnail_favorite {
    display: block;
  }

  .glyphicon-plus {
    font-size: 20px;
  }

</style>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  function getCompanies(){
    user_id = $("#user_id").val();
    $.ajax({
      url: '/api/v1/companies/',
      data: {},
      success: function(data, textStatus, jqXHR) {
          console.log(data);
          console.log(textStatus);
          console.log(jqXHR);
          for(i in data['response']['companies']){
            if(data['response']['companies'][i]['favorites'].indexOf(parseInt(user_id)) > -1){
              $("#companies_list").append('<div class="col-lg-3 no-margin" id="company_info">'+
                                            '<div class="thumbnail" id="company_thumbnail">'+
                                              '<img id="company_thumbnail_logo" src="'+data['response']['companies'][i]['logo']+'">'+
                                            '</div>'+
                                            '<div id="company_thumbnail_favorite">'+
                                              '<a class="btn-link" onclick="unfavoriteCompanyWithId('+data['response']['companies'][i]['id']+',this)"><span class="glyphicon glyphicon-minus"></span></a>'+
                                            '</div>'+
                                          '</div>');
            } else {
              $("#companies_list").append('<div class="col-lg-3 no-margin" id="company_info">'+
                                            '<div class="thumbnail" id="company_thumbnail">'+
                                              '<img id="company_thumbnail_logo" src="'+data['response']['companies'][i]['logo']+'">'+
                                            '</div>'+
                                            '<div id="company_thumbnail_favorite">'+
                                              '<a class="btn-link" onclick="favoriteCompanyWithId('+data['response']['companies'][i]['id']+',this)"><span class="glyphicon glyphicon-plus"></span></a>'+
                                            '</div>'+
                                          '</div>');
            }
          }
        },
      dataType: 'json',
    });
  }

  // get all companies on launch
  $(document).ready(getCompanies);

</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-3">
    <h1 style="color:white;">Search</h1>
    <p style="color:white;">526 companies found</p>
    <input type="text" class="form-control input-lg" id="inputCompanyName" placeholder="COMPANY NAME">
    <br />
    <input type="text" class="form-control input-lg" id="inputJobLocation" placeholder="JOB LOCATION">
    <br />
    <select class="form-control input-lg">
      <option>Accounting</option>
      <option>Finance</option>
      <option>Health</option>
      <option>Government</option>
      <option>Software</option>
    </select>
  </div>

  <div class="col-lg-9">
    <div class="row" id="companies_list">

    </div>    
  </div>
</div>

{% endblock %}