{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<!-- Add css here -->
<style type="text/css">
	body {
		background-color: white;	
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-smooth: always;
	}
	.simplebox{
	  outline: none;
	  border:none !important;
	  box-shadow:none !important;
	}
</style>

{% endblock %}

{% block extra_script %}
<!-- Add javascript here -->
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
	  	<h1 id="company_title" style="color:#035d67;">{{ company.name }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 no-space">
		<img id="company_banner" src="{{ company.banner_image }}">
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2" id="company_description_container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-1" id="company_stats">
				<img id="company_logo" src="{{ company.logo }}">
				<div class="text-center">
					{% if company.location %}
						<p style="line-height:1.3em;">{{ company.location }}</p>
					{% endif %}
					{% if company.founded %}
						<p>Founded {{ company.founded }}</p>
					{% endif %}
					{% if company.number_employees %}
						<p>{{ company.number_employees }} employees</p>
					{% endif %}
					<br>
					<a href="{{ company.careers_website }}" class="btn btn-fav-dark" id="visit_careers_site_btn">+ FAVORITE COMPANY</a>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-1" id="company_description">
				<div>
					{% if user.is_authenticated %}
						{% if is_favorited %}
						<a class="btn-link" style="position:absolute; top:55px; right:15px; display:inline;" onclick="unfavoriteCompanyWithId({{ company.id }},this)"><span class="icon-minus icon-2x pull-right"></span></a>
						{% else %}
						<a class="btn-link" style="position:absolute; top:55px; right:15px; display:inline;" onclick="favoriteCompanyWithId({{ company.id }},this)"><span class="icon-plus icon-2x pull-right"></span></a>
						{% endif %}
					{% endif %}
					<h4 id="company_header">COMPANY INFO</h4>
				</div>
				<p id="company_detailed_info">{{ company.company_description }}</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2" id="job_description_container">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10">
				{% if user.is_authenticated %}
					<h4 id="company_header">JOBS</h4>
					{% if jobs %}					
						{% for job in jobs %}
						<p id="job_description">{{ job.name }}<span id="job_location">&nbsp;{{ job.location }}</span></p>
						<p id="company_detailed_info">{{ job.description }}</p>
						{% endfor %}
					{% else %} <!-- Logged in but has no jobs available -->
						<p id="company_detailed_info">There are no jobs available at this time.
							</ul>
						</p>
					{% endif %}
				{% else %}
					<h3 class="text-center text-white">Login to view Jobs<br /><br /><a href="/login/linkedin/?next={{request.path}}"><img src="{% static 'images/login-with-linkedin.png' %}" onclick="mixpanel.track('Logged In from Company Page'); return true;"></a></h3>
				{% endif %}
				<br />
				<br />
				<div class="text-center">
					<a href="{{ company.careers_website }}" class="btn btn-done" id="visit_careers_site_btn" onclick="mixpanel.track('Clicked on careers site from Company Page'); return true;">VISIT CAREERS SITE</a>
				</div>
				<br />
				<br />
			</div>
		</div>
	</div>
</div>


<!-- hard code everything for design -->
{% endblock %}