{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}

<style type="text/css">

  #company_thumbnail {
    height:200px;
    vertical-align: center;
  }

  #company_thumbnail_logo {
    max-height: 200px;
    max-width: 200px;
  }

  .no-margin {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #company_thumbnail_favorite {
    display: none;
    position: absolute;
    top: 3px;
    right: 6px;
  }

  #company_info:hover > #company_thumbnail_favorite {
    display: block;
  }

  .glyphicon-plus {
    font-size: 20px;
  }

</style>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  function getCompanies(){
    user_id = $("#user_id").val();
    $("#loading_state").html('<div id="spinnerWait" style="text-align:center;"><div class="spinner"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div><div class="bar4"></div><div class="bar5"></div><div class="bar6"></div><div class="bar7"></div><div class="bar8"></div><div class="bar9"></div><div class="bar10"></div><div class="bar11"></div><div class="bar12"></div></div><p>Fetching</p></div>');
    $.ajax({
      url: '/api/v1/companies/',
      data: {},
      success: function(data, textStatus, jqXHR) {
          console.log(data);
          console.log(textStatus);
          console.log(jqXHR);
          $("#loading_state").empty();
          document.getElementById('inputCompanySearch').onkeypress = function(e) {
            var event = e || window.event;
            var charCode = event.which || event.keyCode;

            if ( charCode == '13' ) {
              // Enter pressed
              searchCompanies();
            }
          }
          for(i in data['response']['companies']){
            if(data['response']['companies'][i]['favorites'].indexOf(parseInt(user_id)) > -1){
              $("#companies_list").append('<div class="col-lg-3 no-margin" id="company_info">'+
                                            '<div class="thumbnail" id="company_thumbnail">'+
                                              '<a target="_blank;" id="company_thumbnail_logo" href="/company/'+data['response']['companies'][i]['id']+'/"><img id="company_thumbnail_logo" src="'+data['response']['companies'][i]['logo']+'"></a>'+
                                            '</div>'+
                                            '<div id="company_thumbnail_favorite">'+
                                              '<a class="btn-link" onclick="unfavoriteCompanyWithId('+data['response']['companies'][i]['id']+',this)"><span class="glyphicon glyphicon-minus"></span></a>'+
                                            '</div>'+
                                          '</div>');
            } else {
              $("#companies_list").append('<div class="col-lg-3 no-margin" id="company_info">'+
                                            '<div class="thumbnail" id="company_thumbnail">'+
                                              '<a target="_blank;" id="company_thumbnail_logo" href="/company/'+data['response']['companies'][i]['id']+'/"><img id="company_thumbnail_logo" src="'+data['response']['companies'][i]['logo']+'"></a>'+
                                            '</div>'+
                                            '<div id="company_thumbnail_favorite">'+
                                              '<a class="btn-link" onclick="favoriteCompanyWithId('+data['response']['companies'][i]['id']+',this)"><span class="glyphicon glyphicon-plus"></span></a>'+
                                            '</div>'+
                                          '</div>');
            }
          }
        },
      dataType: 'json',
    });
  }

  function searchCompanies(){
    user_id = $("#user_id").val();
    search_query = $("#inputCompanySearch").val();
    $("#loading_state").html('<div id="spinnerWait" style="text-align:center;"><div class="spinner"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div><div class="bar4"></div><div class="bar5"></div><div class="bar6"></div><div class="bar7"></div><div class="bar8"></div><div class="bar9"></div><div class="bar10"></div><div class="bar11"></div><div class="bar12"></div></div><p>Fetching</p></div>');
    $.ajax({
      url: '/api/v1/companies/search/',
      data: {
        'q': search_query
      }, 
      success: function(data, textStatus, jqXHR) {
          console.log(data);
          console.log(textStatus);
          console.log(jqXHR);
          console.log("searching done");
          $("#companies_found").text(data['response']['companies'].length+" companies found");
          $("#companies_list").empty();
          $("#loading_state").empty();
          for(i in data['response']['companies']){
            if(data['response']['companies'][i]['favorites'].indexOf(parseInt(user_id)) > -1){
              $("#companies_list").append('<div class="col-lg-3 no-margin" id="company_info">'+
                                            '<div class="thumbnail" id="company_thumbnail">'+
                                              '<a target="_blank;" id="company_thumbnail_logo" href="/company/'+data['response']['companies'][i]['id']+'/"><img id="company_thumbnail_logo" src="'+data['response']['companies'][i]['logo']+'"></a>'+
                                            '</div>'+
                                            '<div id="company_thumbnail_favorite">'+
                                              '<a class="btn-link" onclick="unfavoriteCompanyWithId('+data['response']['companies'][i]['id']+',this)"><span class="glyphicon glyphicon-minus"></span></a>'+
                                            '</div>'+
                                          '</div>');
            } else {
              $("#companies_list").append('<div class="col-lg-3 no-margin" id="company_info">'+
                                            '<div class="thumbnail" id="company_thumbnail">'+
                                              '<a target="_blank;" id="company_thumbnail_logo" href="/company/'+data['response']['companies'][i]['id']+'/"><img id="company_thumbnail_logo" src="'+data['response']['companies'][i]['logo']+'"></a>'+
                                            '</div>'+
                                            '<div id="company_thumbnail_favorite">'+
                                              '<a class="btn-link" onclick="favoriteCompanyWithId('+data['response']['companies'][i]['id']+',this)"><span class="glyphicon glyphicon-plus"></span></a>'+
                                            '</div>'+
                                          '</div>');
            }
          }
        },
      dataType: 'json',
    });
  }

  // get all companies on launch
  $(document).ready(getCompanies);

</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-3">
    <h1 style="color:white;">Search</h1>
    <p style="color:white;" id="companies_found"></p>
    <input type="text" class="form-control input-lg" id="inputCompanySearch" placeholder="Company, Location" >
    <br />
    <div id="loading_state"></div>
  </div>

  <div class="col-lg-9">
    <div class="row" id="companies_list">

    </div>    
  </div>
</div>

{% endblock %}