{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<link href="/static/occuhunt/css/create_fair_map.css" rel="stylesheet">

{% endblock %}


{% block extra_script %}
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">

$(function() {
   
  obj = $('.btn.fair-table');
  dropObj = $('.fair_layout td');

  $(obj).draggable({
      cursor:'pointer',
      snap:'.fair_layout td',
      helper: 'clone',
      revert: 'invalid',
      addClasses: false,
  });

  $(dropObj).droppable({
    accept : obj,
    addClasses: false,
    cursor: "move",
    cursorAt: {left:0, top:0},
    drop: function(event, ui){
      var target = $(event.target), //dragged cell
      drag = $(ui.draggable),       //old cell
      targetText = target.html();
      dragText = drag;
      target.html(dragText);
    }
  });
});

function add_row(){

}

function add_column(){

}

function add_room(){

}

function search(){

}

function save_table_location(){

}

function save_fair_attributes(){

}

function save_room(){

}

</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <p class="hidden-print text-center">Drag and drop companies to create the fair map.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <input type="text" class="input-text" id="fairDateAndTime" placeholder="October 30th, 4 - 7pm" value="">
    </div>
    <div class="col-lg-4">
      <input type="text" class="input-text text-center" id="fairName" placeholder="Early Bird Internship Fair" value="">
    </div>
    <div class="col-lg-4">
      <input type="text" class="input-text text-right" id="fairLocation" placeholder="International House" value="">
    </div>
  </div>
  <br />

  <div class="row" id="fairContent">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-print" id="companies_list_div">
      <div class="row">
        <div class="col-lg-10">
          <input type="text" class="input-text" id="companySearch" placeholder="Facebook" value="">
        </div>
        <div class="col-lg-2 no-padding">
          <span class="glyphicon glyphicon-search" style="font-size:27px; color:#ccc;"></span>
        </div>
      </div>
      <ul class="companies_list">
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>Dell</h4>
            </div>
            <div class="col-lg-4 text-right no-padding" id="dragElem">
              <a class="btn btn-engineering fair-table" href="/company/357/" value="company_357">Dell</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>Box</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-technology fair-table" href="/company/222/" value="company_222">Box</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>PWC</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-finance fair-table" href="/company/296/" value="company_296">PWC</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>Yelp</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-technology fair-table" href="/company/225/" value="company_225">Yelp</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>HP</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-engineering fair-table" href="/company/268/" value="company_268">HP</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>AT&amp;T</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-technology fair-table" href="/company/219/" value="company_219">AT&amp;T</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>Apple</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-technology fair-table" href="/company/214/" value="company_214">Apple</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>Cisco Systems</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-engineering fair-table" href="/company/247/" value="company_247">Cisco Systems</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>Intuit</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-finance fair-table" href="/company/272/" value="company_272">Intuit</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>Intuit</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-finance fair-table" href="/company/272/" value="company_272">Intuit</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>Intuit</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-finance fair-table" href="/company/272/" value="company_272">Intuit</a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-8">
              <h4>Intuit</h4>
            </div>
            <div class="col-lg-4 text-right no-padding">
              <a class="btn btn-finance fair-table" href="/company/272/" value="company_272">Intuit</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 fair_layout_div">
      <div class="row">
        <input type="text" class="input-text text-center" id="fairRoom1" placeholder="Chevron Auditorium" value="">
        <table class="fair_layout">
          <tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr>
        </table>
      </div>
      <div class="row">
        <input type="text" class="input-text text-center" id="fairRoom1" placeholder="Blue Jazz Auditorium" value="">
        <table class="fair_layout">
          <tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr><tr>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
            <td id="career_fair_map">&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
    

<script src="/static/ember/js/libs/ember-1.1.2.js"></script>
<script src="/static/ember/js/libs/handlebars-1.0.0.js"></script>

{% endblock %}