{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<!-- Add css here -->
<style type="text/css">
	body {
		background-color: white;	
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-smooth: always;
	}

	.question {
		padding-top: 30px;
		text-align: left;
		font-weight: 700;
		font-family: "Proxima Nova";
		font-size: 22px;
		margin-bottom: 22px;
		color: white;
		line-height: 0.9em;
	}
</style>

{% endblock %}

{% block extra_script %}
<!-- Add javascript here -->
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
	  	<h1 id="company_title" style="color:#035d67;">FAQ</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 no-space">
		<img id="company_banner" src="{{ company.banner_image }}">
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2" id="company_description_container">
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2" id="job_description_container">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10">
				<br />
				<h4 class="question">Any question?</h4>
				<p style="color:white">Feel free to send us feedback or contact us directly! Email us at founders@occuhunt.com</p>
				<h4 class="question">What exactly is a 357?</h4>
				<p style="color:white">A 357 is a new type of online event. Think of it as a open house session where students can indicate interest in your company. Students get 3 days to visit the online event, only 5 companies are featured for the event and all the companies have agreed to get back to the students within 7 days (either a rejection or to call the student in for an interview).</p>
				<h4 class="question">When do 357s open up?</h4>
				<p style="color:white">Our first 357 is on 14th September 2014. We will conduct these events biweekly.</p>
				<h4 class="question">Can companies come back to every 357?</h4>
				<p style="color:white">Yes, companies can come back for the 357s however we will not place them back to back - it wouldn't be beneficial for the students to see the same companies.</p>
				<h4 class="question">How does OffrHunt work?</h4>
				<p style="color:white">A common problem for students is that they don't have enough time to explore other options between getting a first full-time offer from the company that accepts them and when the offer expires. On Occuhunt, students can tell us about their first offer, we review the validity of their offer and approve them to be put in front of top companies. Companies that are interested in the students can instantly contact the student if they're looking for a similar profile to fill a position.</p>
				<br />
				<br />
				<br />
				<br />
			</div>
		</div>
	</div>
</div>


<!-- hard code everything for design -->
{% endblock %}