{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<link href="{% static "occuhunt/css/companies-list.css" %}" rel="stylesheet">
<link href="{% static "occuhunt/css/companies-favoriting.css" %}" rel="stylesheet">

<style type="text/css">

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
}

#loadingProgressG{
width:236px;
height:8px;
overflow:hidden;
background-color:#FFFFFF;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
}

.loadingProgressG{
background-color:#22afb1;
margin-top:0;
margin-left:-236px;
-moz-animation-name:bounce_loadingProgressG;
-moz-animation-duration:0.7s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:bounce_loadingProgressG;
-webkit-animation-duration:0.7s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:bounce_loadingProgressG;
-ms-animation-duration:0.7s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:bounce_loadingProgressG;
-o-animation-duration:0.7s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:bounce_loadingProgressG;
animation-duration:0.7s;
animation-iteration-count:infinite;
animation-timing-function:linear;
width:236px;
height:8px;
}

@-moz-keyframes bounce_loadingProgressG{
  0%{
  margin-left:-236px;
  }

  100%{
  margin-left:236px;
  }

  }

  @-webkit-keyframes bounce_loadingProgressG{
  0%{
  margin-left:-236px;
  }

  100%{
  margin-left:236px;
  }

  }

  @-ms-keyframes bounce_loadingProgressG{
  0%{
  margin-left:-236px;
  }

  100%{
  margin-left:236px;
  }

  }

  @-o-keyframes bounce_loadingProgressG{
  0%{
  margin-left:-236px;
  }

  100%{
  margin-left:236px;
  }

  }

  @keyframes bounce_loadingProgressG{
  0%{
  margin-left:-236px;
  }

  100%{
  margin-left:236px;
  }

}

</style>


{% endblock %}

{% block extra_script %}
<script src="{% static "occuhunt/js/jquery-sortable.js" %}"></script>
<script src="{% static "occuhunt/js/companies-search.js" %}"></script>
<script src="{% static "occuhunt/js/favoriting.js" %}"></script>
<script type="text/javascript">
  function initialize_favoriting() {
    refreshStats();
    console.log("initialize_favoriting");
    var oldContainer;
    $("div.list-group").sortable({
      containerSelector:"div.list-group-item", 
      itemSelector:"div.list-group-item",
      group:"list-group", 
      pullPlaceholder:true, 
      placeholder:'<div class="list-group-item"/>',
      afterMove: function (placeholder, container) {
        console.log("switching!");
        if(oldContainer != container){
          if(oldContainer) {
            oldContainer.el.removeClass("activate");
          }
          container.el.addClass("activate");
          
          oldContainer = container;
        }
      },
      onDrop: function ($item, container, _super) {
        $item.removeClass("dragged").removeAttr("style");
        $("body").removeClass("dragging");
        oldContainer.el.removeClass("activate");
        refreshStats();
        favorite_id = $($item).find('#favorite_id').val();
        note = $($item).find('.list-group-item-text').text();
        category = $($item).parent().find('.list-group-header-title').text();
        // make AJAX request to update favorites on drop
        updateFavorite(favorite_id, category, note);
      },
    });
  }

  function update_favorites(){
    user_id = $("#user_id").val();
    console.log(user_id);
    $.ajax({ 
      url:'/api/v1/favorites/', 
      type:'GET',
      dataType: 'json',
      data: {
        'user_id': user_id
      }, 
      contentType: 'application/json',
      statusCode : {
        200: function(data, textStatus, jsXHR){
          console.log("update_favorites");
          $('.list-group-item').remove();
          for(i in data['response']['favorites']){
            if(data['response']['favorites'][i]['category'] == "Uncategorized"){
              $("#favorite-category-uncategorized").append('<div class="list-group-item">'+
                '<input id="favorite_id" type="hidden" value="'+data['response']['favorites'][i]['id']+'"/>'+
                '<div class="row">'+
                  '<div class="col-lg-12">'+
                    '<div class="row">'+
                      '<div class="col-lg-2">'+
                        '<a target="_blank" href="/company/'+data['response']['favorites'][i]['company']['id']+'/"><img class="logo-thumbnail" src="'+data['response']['favorites'][i]['company']['logo']+'"></a>'+
                      '</div>'+
                      '<div class="col-lg-8">'+
                        '<h4 class="list-group-item-heading">'+data['response']['favorites'][i]['company']['name']+'</h4>'+
                      '</div>'+
                      '<div class="col-lg-2">'+
                        '<a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>'+
                      '</div>'+
                    '</div>'+
                    '<div class="row">'+
                      '<div class="col-lg-10 col-lg-offset-2">'+
                        '<p class="list-group-item-text">'+data['response']['favorites'][i]['note']+'</p>'+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>');
            }
            if(data['response']['favorites'][i]['category'] == "Applied"){
              $("#favorite-category-applied").append('<div class="list-group-item">'+
                '<input id="favorite_id" type="hidden" value="'+data['response']['favorites'][i]['id']+'"/>'+
                '<div class="row">'+
                  '<div class="col-lg-12">'+
                    '<div class="row">'+
                      '<div class="col-lg-2">'+
                        '<a target="_blank" href="/company/'+data['response']['favorites'][i]['company']['id']+'/"><img class="logo-thumbnail" src="'+data['response']['favorites'][i]['company']['logo']+'"></a>'+
                      '</div>'+
                      '<div class="col-lg-8">'+
                        '<h4 class="list-group-item-heading">'+data['response']['favorites'][i]['company']['name']+'</h4>'+
                      '</div>'+
                      '<div class="col-lg-2">'+
                        '<a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>'+
                      '</div>'+
                    '</div>'+
                    '<div class="row">'+
                      '<div class="col-lg-10 col-lg-offset-2">'+
                        '<p class="list-group-item-text">'+data['response']['favorites'][i]['note']+'</p>'+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>');
            }
            if(data['response']['favorites'][i]['category'] == "Interviewing"){
              $("#favorite-category-interviewing").append('<div class="list-group-item">'+
                '<input id="favorite_id" type="hidden" value="'+data['response']['favorites'][i]['id']+'"/>'+
                '<div class="row">'+
                  '<div class="col-lg-12">'+
                    '<div class="row">'+
                      '<div class="col-lg-2">'+
                        '<a target="_blank" href="/company/'+data['response']['favorites'][i]['company']['id']+'/"><img class="logo-thumbnail" src="'+data['response']['favorites'][i]['company']['logo']+'"></a>'+
                      '</div>'+
                      '<div class="col-lg-8">'+
                        '<h4 class="list-group-item-heading">'+data['response']['favorites'][i]['company']['name']+'</h4>'+
                      '</div>'+
                      '<div class="col-lg-2">'+
                        '<a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>'+
                      '</div>'+
                    '</div>'+
                    '<div class="row">'+
                      '<div class="col-lg-10 col-lg-offset-2">'+
                        '<p class="list-group-item-text">'+data['response']['favorites'][i]['note']+'</p>'+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>');
            }
            if(data['response']['favorites'][i]['category'] == "Offered"){
              $("#favorite-category-offered").append('<div class="list-group-item">'+
                '<input id="favorite_id" type="hidden" value="'+data['response']['favorites'][i]['id']+'"/>'+
                '<div class="row">'+
                  '<div class="col-lg-12">'+
                    '<div class="row">'+
                      '<div class="col-lg-2">'+
                        '<a target="_blank" href="/company/'+data['response']['favorites'][i]['company']['id']+'/"><img class="logo-thumbnail" src="'+data['response']['favorites'][i]['company']['logo']+'"></a>'+
                      '</div>'+
                      '<div class="col-lg-8">'+
                        '<h4 class="list-group-item-heading">'+data['response']['favorites'][i]['company']['name']+'</h4>'+
                      '</div>'+
                      '<div class="col-lg-2">'+
                        '<a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>'+
                      '</div>'+
                    '</div>'+
                    '<div class="row">'+
                      '<div class="col-lg-10 col-lg-offset-2">'+
                        '<p class="list-group-item-text">'+data['response']['favorites'][i]['note']+'</p>'+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>');
            }
          }
          console.log(data);
          console.log(textStatus);
          console.log(jsXHR);
        },
        500: function(data, textStatus, jsXHR){
          console.log(data);
          console.log(textStatus);
          console.log(jsXHR);
        }
      }
    });
  }

  function initialize(){
    randomizeString();
    get_companies(4);
    update_favorites();
    initialize_favoriting();
  }

  // get all companies on launch
  $(document).ready(initialize);
  
</script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="row text-center page-header-section">
  <h1 style="color:black;">Companies</h1>
  <h4 style="color:black;">Search, add and organize your favorite companies.</h4>
</div>

<div class="row">
  <div class="col-lg-3 right-no-margin">
    <h4>Search for companies that have attended Berkeley's career fairs.</h4>
    <h3 id="companies_found"></h3>
    <input type="text" class="form-control input-lg" id="inputCompanySearch" placeholder="Try &quot;San Francisco&quot;">
    <br/>
    <button class="btn btn-done btn-lg" onclick="searchCompanies();">Search</button>
    <br />
    <br />
    <div id="loading_state"></div>
  </div>

  <div class="col-lg-9">
    <div class="row" id="companies_list">

    </div>    
  </div>
</div>

<br />


<div class="row">
  <div class="col-lg-3 right-no-margin">
    <div class="list-group fixed-height-draggable" id="favorite-category-uncategorized">
      <div class="list-group-header" id="category-uncategorized">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Uncategorized</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">0</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 right-no-margin">
    <div class="list-group fixed-height-draggable" id="favorite-category-applied">
      <div class="list-group-header" id="category-applied">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Applied</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">0</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 right-no-margin">
    <div class="list-group fixed-height-draggable" id="favorite-category-interviewing">
      <div class="list-group-header" id="category-interviewing">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Interviewing</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">0</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 right-no-margin">
    <div class="list-group fixed-height-draggable" id="favorite-category-offered">
      <div class="list-group-header" id="category-offered">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Offered</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">0</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% else %}
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center text-white">Login to organize your job applications process<br /><br /><a href="/login/linkedin/?next={{request.path}}"><img src="{% static 'images/login-with-linkedin.png' %}"></a></h3>

      <img src="{% static 'images/favorites_example.png' %}">      
    </div>
  </div>

{% endif %}
{% endblock %}