{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}

<style type="text/css">

.favorited-company {
  background-image: url('/static/images/target.png');
  background-repeat: no-repeat;
  background-size: 20px;
}

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.activate {
  border: 2px solid blue !important;
}

#write-note {
  cursor: default;
  display: none;
}

.list-group-item:hover {
  cursor: move;
}

.list-group-item:hover > .row > .col-lg-12 > .row > .col-lg-2 > #write-note {
  cursor: pointer;
  display: block;
}

.list-group-header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  background: grey;
  line-height: 30px;
}

.list-group-header-title {
  text-align: left;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  font-family: "Proxima Nova";
  font-weight: 500;
}

.list-group-header-stats {
  text-align: right;
  font-family: "Proxima Nova";
  font-weight: 100;
}

.logo-thumbnail {
  height:30px;
  max-width: 30px;
}

#category-uncategorized {
  background: #f8eff8;
}

#category-applied {
  background: #fcf2d1;
}

#category-interviewing {
  background: #dff6fb;
}

#category-offered {
  background: #e0fae2;
}

#fixed-height-draggable {
  height: 500px;
  border: 1px solid grey;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
}

#note-options {
  padding-top: 0px;
}

#note-buttons {
  padding-top: 10px;
}

</style>

{% endblock %}

{% block extra_script %}
<script src="{% static "bootstrap/dist/js/jquery-sortable.js" %}"></script>
<script type="text/javascript">
  $(function  () {
    refreshStats();
    var oldContainer;
    $("div.list-group").sortable({
      containerSelector:"div.list-group-item", 
      itemSelector:"div.list-group-item",
      group:"list-group", 
      pullPlaceholder:true, 
      placeholder:'<div class="list-group-item"/>',
      afterMove: function (placeholder, container) {
        console.log("switching!");
        if(oldContainer != container){
          if(oldContainer) {
            oldContainer.el.removeClass("activate");
          }
          container.el.addClass("activate");
          
          oldContainer = container;
        }
      },
      onDrop: function ($item, container, _super) {
        $item.removeClass("dragged").removeAttr("style");
        $("body").removeClass("dragging");
        oldContainer.el.removeClass("activate");
        refreshStats();
        favorite_id = $($item).find('#favorite_id').val();
        note = $($item).find('.list-group-item-text').text();
        category = $($item).parent().find('.list-group-header-title').text();
        // make AJAX request to update favorites on drop
        updateFavorite(favorite_id, category, note);
      },
    });
  });

  function addInputField(e){
    // Here you'll do whatever you want to happen when they click
    var textareaHtml = $('');
    var doneButton = $('<div id="note-options">'+
      '<textarea id="note-options" class="form-control" rows="3"></textarea>'+
      '<div id="note-buttons"><button id="icon-button" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>'+
      '<button id="icon-button" class="btn btn-link"><span class="glyphicon glyphicon-ok"></span></button>'+
      '<button type="submit" class="btn btn-done btn-sm pull-right" onclick="addNote($(this).parent().parent());">Done</button></div></div>');
    var note = $(e).find('.list-group-item-text').text();
    if($(e).find("textarea").length == 0){
      if(note){
        $(e).find('.list-group-item-text').text('');
      }
      $(e).append(doneButton);
      $(e).find('textarea').val(note);
      $(e).find('textarea').focus();
    }
  }

  function addNote(e){
    var note = $(e).find('textarea').val();
    if(note){
      $(e).parent().find('.list-group-item-text').text(note);
      favorite_id = $(e).parent().parent().parent().find('#favorite_id').val();
      note = $(e).parent().parent().parent().find('.list-group-item-text').text();
      category = $(e).parent().parent().parent().parent().find('.list-group-header-title').text();
      // make AJAX request to update
      updateFavorite(favorite_id, category, note);
    }
    console.log(e);
    $(e).remove();
  }

  function updateFavorite(favorite_id, category, note){
    console.log(favorite_id);
    console.log(category);
    console.log(note);
    favorite_url = '/api/v1/favorites/'+favorite_id+'/';
    console.log(favorite_url);
    $.ajax({ 
      url: favorite_url, 
      type:'PUT',
      dataType: 'json',
      data: JSON.stringify({
        'favorite': favorite_id,
        'note': note,
        'category': category
      }), 
      contentType: 'application/json',
      statusCode : {
        201: function(data, textStatus, jsXHR){
          console.log("Successfully changed favorite company!");
        },
        400: function(data, textStatus, jsXHR){
          console.log(data);
          console.log(textStatus);
          console.log(jsXHR);
        }
      }
    });
  }

  function refreshStats(){
    // update the number of companies left in the list
    var listGroups = $(".list-group");
    for (var i = listGroups.length - 1; i >= 0; i--) {
      $(listGroups[i]).find('.list-group-header-stats').text($(listGroups[i]).find('.list-group-item').length);
    };
  }
</script>
{% endblock %}

{% block content %}

<!-- BEGIN: Twitter website widget (http://twitterforweb.com) -->
<!-- <div style="width:100%;font-size:10px;text-align:right;"><script type="text/javascript">
document.write(unescape("%3Cscript src='http://twitterforweb.com/twitterbox.js?username=accenture&settings=1,0,3,300,550,f4f4f4,0,c4c4c4,101010,1,1,336699' type='text/javascript'%3E%3C/script%3E"));</script></div>
 --><!-- END: Twitter website widget (http://twitterforweb.com) -->

<div class="row">
  <div class="col-lg-3">
    <div class="list-group" id="fixed-height-draggable">
      <div class="list-group-header" id="category-uncategorized">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Uncategorized</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">1</div>
          </div>
        </div>
      </div>
      {% for favorite in favorites %}
        {% if favorite.category  == "Uncategorized" %}  
          <div class="list-group-item">
            <input id="favorite_id" type="hidden" value="{{ favorite.id }}"/>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-2">
                    <img class="logo-thumbnail" src="{{ favorite.company.logo }}">
                  </div>
                  <div class="col-lg-8">
                    <h4 class="list-group-item-heading">{{ favorite.company }}</h4>
                  </div>
                  <div class="col-lg-2">
                    <a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-2">
                    <p class="list-group-item-text">{{ favorite.note }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-3">
    <div class="list-group" id="fixed-height-draggable">
      <div class="list-group-header" id="category-applied">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Applied</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">3</div>
          </div>
        </div>
      </div>
      {% for favorite in favorites %}
        {% if favorite.category  == "Applied" %}  
          <div class="list-group-item">
            <input id="favorite_id" type="hidden" value="{{ favorite.id }}"/>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-2">
                    <img class="logo-thumbnail" src="{{ favorite.company.logo }}">
                  </div>
                  <div class="col-lg-8">
                    <h4 class="list-group-item-heading">{{ favorite.company }}</h4>
                  </div>
                  <div class="col-lg-2">
                    <a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-2">
                    <p class="list-group-item-text">{{ favorite.note }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-3">
    <div class="list-group" id="fixed-height-draggable">
      <div class="list-group-header" id="category-interviewing">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Interviewing</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">7</div>
          </div>
        </div>
      </div>
      {% for favorite in favorites %}
        {% if favorite.category  == "Interviewing" %}  
          <div class="list-group-item">
            <input id="favorite_id" type="hidden" value="{{ favorite.id }}"/>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-2">
                    <img class="logo-thumbnail" src="{{ favorite.company.logo }}">
                  </div>
                  <div class="col-lg-8">
                    <h4 class="list-group-item-heading">{{ favorite.company }}</h4>
                  </div>
                  <div class="col-lg-2">
                    <a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-2">
                    <p class="list-group-item-text">{{ favorite.note }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-3">
    <div class="list-group" id="fixed-height-draggable">
      <div class="list-group-header" id="category-offered">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Offered</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">3</div>
          </div>
        </div>
      </div>
      {% for favorite in favorites %}
        {% if favorite.category  == "Offered" %}  
          <div class="list-group-item">
            <input id="favorite_id" type="hidden" value="{{ favorite.id }}"/>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-2">
                    <img class="logo-thumbnail" src="{{ favorite.company.logo }}">
                  </div>
                  <div class="col-lg-8">
                    <h4 class="list-group-item-heading">{{ favorite.company }}</h4>
                  </div>
                  <div class="col-lg-2">
                    <a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-2">
                    <p class="list-group-item-text">{{ favorite.note }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}