{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<link href="{% static "bootstrap/dist/css/companies-list.css" %}" rel="stylesheet">
<link href="{% static "bootstrap/dist/css/companies-favoriting.css" %}" rel="stylesheet">

<style type="text/css">

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
}

</style>

{% endblock %}

{% block extra_script %}
<script src="{% static "bootstrap/dist/js/jquery-sortable.js" %}"></script>
<script src="{% static "bootstrap/dist/js/companies-search.js" %}"></script>
<script src="{% static "bootstrap/dist/js/favoriting.js" %}"></script>
<script type="text/javascript">
  function initialize_favoriting() {
    refreshStats();
    var oldContainer;
    $("div.list-group").sortable({
      containerSelector:"div.list-group-item", 
      itemSelector:"div.list-group-item",
      group:"list-group", 
      pullPlaceholder:true, 
      placeholder:'<div class="list-group-item"/>',
      afterMove: function (placeholder, container) {
        console.log("switching!");
        if(oldContainer != container){
          if(oldContainer) {
            oldContainer.el.removeClass("activate");
          }
          container.el.addClass("activate");
          
          oldContainer = container;
        }
      },
      onDrop: function ($item, container, _super) {
        $item.removeClass("dragged").removeAttr("style");
        $("body").removeClass("dragging");
        oldContainer.el.removeClass("activate");
        refreshStats();
        favorite_id = $($item).find('#favorite_id').val();
        note = $($item).find('.list-group-item-text').text();
        category = $($item).parent().find('.list-group-header-title').text();
        // make AJAX request to update favorites on drop
        updateFavorite(favorite_id, category, note);
      },
    });
  }

  function initialize(){
    randomizeString();
    getCompanies();
    initialize_favoriting();
  }

  // get all companies on launch
  $(document).ready(initialize);
  
</script>
{% endblock %}

{% block content %}

<!-- BEGIN: Twitter website widget (http://twitterforweb.com) -->
<!-- <div style="width:100%;font-size:10px;text-align:right;"><script type="text/javascript">
document.write(unescape("%3Cscript src='http://twitterforweb.com/twitterbox.js?username=accenture&settings=1,0,3,300,550,f4f4f4,0,c4c4c4,101010,1,1,336699' type='text/javascript'%3E%3C/script%3E"));</script></div>
 --><!-- END: Twitter website widget (http://twitterforweb.com) -->
{% if user.is_authenticated %}

<div class="row" style="margin-bottom:10px; text-align:center;">
  <h1 style="color:white; margin-bottom:15px text-align:center">Favorites</h1>
  <p style="color:white; font-family:'Proxima Nova'; font-weight:400; font-size:18px; padding-bottom:0px;  margin-bottom:20px; line-height:22px;"><a href="/companies/">Add</a>, rearrange and reorder your favorite companies.</p>
</div>

<div class="row">
  <div class="col-lg-3 right-no-margin">
    <p style="color:white; font-family:'Proxima Nova'; font-weight:400; font-size:18px; padding-bottom:0px;  margin-bottom:20px; line-height:22px;">Search for companies that have attended Berkeley's career fairs.</p>
    <p style="color:white; font-family:'Proxima Nova'; font-weight:100; font-size:26px; padding-bottom:0px;" id="companies_found"></p>
    <input type="text" class="form-control input-lg" id="inputCompanySearch" placeholder="Try &quot;San Francisco&quot;" style="padding-left: 13px; padding-right: 13px; margin-bottom:20px">
    <button class="btn btn-done btn-lg" onclick="searchCompanies();">Search</button>
    <br />
    <br />
    <div id="loading_state"></div>
  </div>

  <div class="col-lg-9">
    <div class="row" id="companies_list">

    </div>    
  </div>
</div>

<br />


<div class="row">
  <div class="col-lg-3 right-no-margin">
    <div class="list-group" id="fixed-height-draggable">
      <div class="list-group-header" id="category-uncategorized">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Uncategorized</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">0</div>
          </div>
        </div>
      </div>
      {% for favorite in favorites %}
        {% if favorite.category  == "Uncategorized" %}  
          <div class="list-group-item">
            <input id="favorite_id" type="hidden" value="{{ favorite.id }}"/>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-2">
                    <a target="_blank" href="/company/{{ favorite.company.id }}/"><img class="logo-thumbnail" src="{{ favorite.company.logo }}"></a>
                  </div>
                  <div class="col-lg-8">
                    <h4 class="list-group-item-heading">{{ favorite.company }}</h4>
                  </div>
                  <div class="col-lg-2">
                    <a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-2">
                    <p class="list-group-item-text">{{ favorite.note }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-3 right-no-margin">
    <div class="list-group" id="fixed-height-draggable">
      <div class="list-group-header" id="category-applied">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Applied</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">0</div>
          </div>
        </div>
      </div>
      {% for favorite in favorites %}
        {% if favorite.category  == "Applied" %}  
          <div class="list-group-item">
            <input id="favorite_id" type="hidden" value="{{ favorite.id }}"/>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-2">
                    <a target="_blank" href="/company/{{ favorite.company.id }}/"><img class="logo-thumbnail" src="{{ favorite.company.logo }}"></a>
                  </div>
                  <div class="col-lg-8">
                    <h4 class="list-group-item-heading">{{ favorite.company }}</h4>
                  </div>
                  <div class="col-lg-2">
                    <a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-2">
                    <p class="list-group-item-text">{{ favorite.note }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-3 right-no-margin">
    <div class="list-group" id="fixed-height-draggable">
      <div class="list-group-header" id="category-interviewing">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Interviewing</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">0</div>
          </div>
        </div>
      </div>
      {% for favorite in favorites %}
        {% if favorite.category  == "Interviewing" %}  
          <div class="list-group-item">
            <input id="favorite_id" type="hidden" value="{{ favorite.id }}"/>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-2">
                    <a target="_blank" href="/company/{{ favorite.company.id }}/"><img class="logo-thumbnail" src="{{ favorite.company.logo }}"></a>
                  </div>
                  <div class="col-lg-8">
                    <h4 class="list-group-item-heading">{{ favorite.company }}</h4>
                  </div>
                  <div class="col-lg-2">
                    <a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-2">
                    <p class="list-group-item-text">{{ favorite.note }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-3 right-no-margin">
    <div class="list-group" id="fixed-height-draggable">
      <div class="list-group-header" id="category-offered">
        <div class="row">
          <div class="col-lg-6">
            <div class="list-group-header-title">Offered</div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-header-stats">0</div>
          </div>
        </div>
      </div>
      {% for favorite in favorites %}
        {% if favorite.category  == "Offered" %}  
          <div class="list-group-item">
            <input id="favorite_id" type="hidden" value="{{ favorite.id }}"/>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-2">
                    <a target="_blank" href="/company/{{ favorite.company.id }}/"><img class="logo-thumbnail" src="{{ favorite.company.logo }}"></a>
                  </div>
                  <div class="col-lg-8">
                    <h4 class="list-group-item-heading">{{ favorite.company }}</h4>
                  </div>
                  <div class="col-lg-2">
                    <a class="pull-right" id="write-note" onclick="addInputField($(this).parent().parent().parent());"><span class="glyphicon glyphicon-pencil"></span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-2">
                    <p class="list-group-item-text">{{ favorite.note }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  </div>
{% else %}
  <div class="row">
    <div class="col-lg-12">
      <h3 style="text-align:center; color:white;">Login to organize your job applications process<br /><br /><a href="/login/linkedin/"><img src="{% static 'images/login-with-linkedin.png' %}"></a> </h3>

      <img src="{% static 'images/favorites_example_blur.png' %}">      
    </div>
  </div>

{% endif %}
{% endblock %}