{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}

<style type="text/css">

.favorited-company {
  background-image: url('/static/images/target.png');
  background-repeat: no-repeat;
  background-size: 20px;
}

</style>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  
  $(document).ready(function(){
    updateHunts();
    getCompanies();
  });

  $(window).bind('scroll resize', function() {
      $('#filter_bar').css('top', $(this).scrollTop());
  });

</script>
{% endblock %}

{% block content %}


{% endblock %}