{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}

<style type="text/css">

.favorited-company {
  background-image: url('/static/images/axe.png');
  background-repeat: no-repeat;
  background-size: 30px;
}

</style>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  
  $(document).ready(function(){
    updateHunts();
    getCompanies();
  });

  $(window).bind('scroll resize', function() {
      $('#filter_bar').css('top', $(this).scrollTop());
  });

</script>
{% endblock %}

{% block content %}

  <!-- Filters -->
  <div class="row pull-left visible-lg" style="margin-left:-120px; position:relative;" id="filter_bar">
    <div class="col-lg-12" style="text-align:center;">
      <div style="line-height:32px; position:relative;">
        <p style="font-weight:600; text-align:center; margin-top: 0.8em; margin-bottom: 0em; font-size:20pt; display:inline; position:relative;" id="hunting_number">...</p>
        <img src="{% static "images/hunting.jpg" %}" style="height:32px; top:-5px; position:relative;">
      </div>
      <p style="text-align:center">hunting</p>
      {% if user.is_authenticated %}
        <button class="btn btn-danger" onclick="registerHunt();" id="hunting_button">HUNT</button><br />
      {% endif %}
    </div>

    <div class="col-lg-12">
      <div class="btn-group-vertical" data-toggle="buttons">
        <br />
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-categorydisabled btn-sm" onclick="toggleTable('.favorited-company');"><img src="/static/images/axe.png" style="height:20px; float:left; position:relative; margin-left:-10px;">&nbsp;Favs</button>
        {% endif %}
        <button type="button" class="btn btn-engineering btn-sm" onclick="toggleTable('.btn-engineering');">Engineering</button>
        <button type="button" class="btn btn-finance btn-sm" onclick="toggleTable('.btn-finance');">Finance</button>
        <button type="button" class="btn btn-government btn-sm" onclick="toggleTable('.btn-government');">Government</button>
        <button type="button" class="btn btn-health btn-sm" onclick="toggleTable('.btn-health');">Health</button>
        <button type="button" class="btn btn-technology btn-sm" onclick="toggleTable('.btn-technology');">Technology</button>
        <button type="button" class="btn btn-other btn-sm" onclick="toggleTable('.btn-other');">Other</button>
      </div>
    </div>
  </div>
  <!-- Main content -->
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <style type="text/css">
        .fair-table {
          height:50px;
          width: 50px;
          text-align: left;
          padding-left: 2px; 
        }

        td#career_fair_map{
          min-width: 50px;
          min-height: 50px;
          width: 50px;
          height: 50px;
        }
      </style>
      <div class="jumbotron" style="padding-top:19px; width:760px;">
        <!-- Information about the career fair -->
        <div class="row visible-lg" style="height:2em;">
          <div class="col-lg-4" style="padding-left:0px;">
            <h4 align="left">EECS Career Fair</h4>
          </div>
          <div class="col-lg-4">
            <h4>September 25</h4>
          </div>
          <div class="col-lg-4" style="padding-right:0px;">
            <h4 style="text-align:right">RSF - Field House Gym</h4>
          </div>
        </div>
        <div class="row hidden-lg" style="height:2em;">
            <h4 align="left">EECS Career Fair, September 25, RSF - Field House Gym</h4>
        </div>
        
        <div class="row">
          <table>
            <tr>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(207)' value='company_207'>Accenture</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(208)' value='company_208'>Adap.tv</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(209)' value='company_209'>Adobe</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(210)' value='company_210'>Airbnb</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(211)' value='company_211'>Akamai Technologies</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(212)' value='company_212'>Amazon</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(213)' value='company_213'>AppDynamics</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(214)' value='company_214'>Apple</button></td>
            </tr><tr>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(215)' value='company_215'>Arista Networks</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(216)' value='company_216'>Arm, Inc</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(217)' value='company_217'>Asana</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(218)' value='company_218'>Aspera Inc.</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(219)' value='company_219'>AT&T</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(220)' value='company_220'>athenahealth Inc.</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(221)' value='company_221'>Bechtel Corporation</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(222)' value='company_222'>Box</button></td>
            </tr><tr>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(223)' value='company_223'>Zynga</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(224)' value='company_224'>Zazzle</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(225)' value='company_225'>Yelp</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(226)' value='company_226'>Yahoo!</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(227)' value='company_227'>Workday</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(228)' value='company_228'>VMware</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(229)' value='company_229'>Venmo</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(230)' value='company_230'>Two Sigma Investments</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(231)' value='company_231'>Twitter</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(232)' value='company_232'>Twilio</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(233)' value='company_233'>The Aerospace Corporation</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(234)' value='company_234'>Texas Instruments</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(235)' value='company_235'>Switchfly</button></td>
            </tr><tr>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(236)' value='company_236'>Stottler Henke Artifiical Intelligence</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(237)' value='company_237'>Storm8</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(238)' value='company_238'>Square</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(239)' value='company_239'>SK Hynix Memory Solutions Inc.</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(240)' value='company_240'>Shoretel</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(241)' value='company_241'>Sandisk</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(242)' value='company_242'>Sandia National Laboratories</button></td>
              <td id='career_fair_map'><button type='button' class='btn btn-technology fair-table' onclick='getCompany(243)' value='company_243'>Samsung Mobile STA</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="thumbnail" id="company_info" style="position:relative;">
        <img src="{% static "images/accenture-advert.jpg" %}" id="company_banner_img">
        <div class="caption">
          <div class="row">
            <div class="col-lg-2">
              <img src="{% static "images/accenture-logo.jpg" %}" id="company_logo" style="height:50px;">
            </div>
            <div class="col-lg-6">
              <h3 style="margin-top:11.5px;margin-bottom:0px;" id="company_name">
                Accenture
              </h3>
            </div>

            <div class="col-lg-4 pull-right">
              <button class="btn btn-primary" onclick="favoriteCompany()" id="favorite_company_btn"><span class="glyphicon glyphicon-plus"></span>&nbsp;Favorite</button>
            </div>
          </div>
          <hr style="margin-top:20px;margin-bottom:10px" />
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-5"><b>Company Size:</b></div>
                <div class="col-lg-7"><p id="company_size">234500<p></div>
              </div>
              <div class="row">
                <div class="col-lg-5"><b>Founded:</b></div>
                <div class="col-lg-7"><p id="company_founded">11/08</p></div>
              </div>
              <h4>Description</h4>
              <p id="company_description">
                Accenture helps organizations assess how to maximize their performance and works with them to achieve their vision. We develop and implement technology to improve our clients’ productivity and efficiency – and may run parts of their business. Ultimately, we enable our clients to become high-performance businesses and governments.
              </p>
              <br />
              <input type="hidden" value="0" name="company_id" id="company_id">
              {% if user.is_authenticated %}
              <p style="text-align:center;">
                <button id="recruiter_popover" type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="right" data-content="Will be available asap!" data-original-title="" title="Recruiter">
                  Contact Recruiter
                </button>
                
              </p>
              {% else %}
              <h4>Login for:</h4>
              <p style="text-align:center;">
                <button type="button" class="btn btn-primary" disabled="disabled">
                  Contact Recruiter
                </button>
                <button class="btn btn-primary" disabled="disabled"><span class="glyphicon glyphicon-plus"></span>&nbsp;Favorite</button>
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  

{% endblock %}