{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block head_title_base %}Upcoming Fairs{% endblock %}


{% block extra_style %}

<link href="{% static '/occuhunt/css/index.css' %}" rel="stylesheet">
<style type="text/css">
.media-body {
  display: inline-block;
}

.event-stats {
  float:right;
  display: inline-block;
  height: 64px;
  background-color: #759fc7;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.event-stats-number {
  margin-top: 10px;
  margin-bottom: 0px;
}

.event-stats-number {

}

.event-feature {
  display: inline-block;
  vertical-align: top;
  height: 64px;
  background-color: #ff8700;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

</style>

{% endblock %}

{% block extra_script %}

{% endblock %}

{% block content %}

<h1 class="text-center">Events</h1>
<div class="row">
  <div class="col-lg-2 text-right">
    <a href="/home/" id="mp-viewfair" class="btn btn-link active">Events</a><br />
    <a href="/search/" id="mp-viewsearch" class="btn btn-link">Companies</a><br />
  </div>
  <div class="col-lg-10">
    <div class="panel panel-event">
      <div class="panel-heading">March 2014</div>
      <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object event-image" src="{% static 'images/berkeley.gif' %}" alt="UC Berkeley">
          </a>
          <div class="media-body" style="display:inline-block;">
            <h4 class="media-heading"><a href="/fair/UCBerkeley/Energy-Environment-Natural-Resources-Career-Fair-Spring-2014/" class="event-header">Energy, Environment and Natural Resources Career Fair</a></h4>
            March 6th, 12 - 3pm<br />
            Alumni House
          </div>
          <div style="float:right">
            <div class="event-stats text-center" style="float:none;">
              <h3 class="event-stats-number">300</h3>
              <p class="event-stats-word">expected</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-event">
      <div class="panel-heading">February 2014</div>
      <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object event-image" src="{% static 'images/startupfair.png' %}" alt="UC Berkeley">
          </a>
          <div class="media-body" style="display:inline-block;">
            <h4 class="media-heading"><a href="/fair/UCBerkeley/Startup-Fair-Spring-2014/" class="event-header">Startup Fair</a></h4>
            February 26th, 12 - 4pm<br />
            International House
          </div>
          <div style="float:right">
            <div class="event-feature text-center">
              <h3 class="event-stats-number">NEW</h3>
              <p class="event-stats-word">Resume Drop</p>
            </div>
            <div class="event-stats text-center" style="float:none;">
              <h3 class="event-stats-number">500</h3>
              <p class="event-stats-word">expected</p>
            </div>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object event-image" src="{% static 'images/berkeley.gif' %}" alt="UC Berkeley">
          </a>
          <div class="media-body" style="display:inline-block;">
            <h4 class="media-heading"><a href="/fair/UCBerkeley/Internship-Summer-Fair-Spring-2014/" class="event-header">Internship & Summer Job Fair</a></h4>
            February 19 - 20th, 11am - 3pm<br />
            Recreational Sports Facility
          </div>
          <div style="float:right">
            <div class="event-stats text-center" style="float:none;">
              <h3 class="event-stats-number">1000+</h3>
              <p class="event-stats-word">expected</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-event">
      <div class="panel-heading">Jan 2014</div>
      <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object event-image" src="{% static 'images/berkeley.gif' %}" alt="UC Berkeley">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="/fair/UCBerkeley/Spring-Career-Fair-Spring-2014/" class="event-header">Spring Career Fair</a></h4>
            January 29th - 30th, 11am - 4pm<br />
            Recreational Sports Facility
          </div>
          <div class="event-stats text-center">
            <h3 class="event-stats-number">1394</h3>
            <p class="event-stats-word">going</p>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object event-image" src="{% static 'images/berkeley.gif' %}" alt="UC Berkeley">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="/fair/UCBerkeley/EECS-Internship-Fair-Spring-2014/" class="event-header">EECS Internship Open House</a></h4>
            January 27th, 11am - 2pm<br />
            International House
          </div>
          <div class="event-stats text-center">
            <h3 class="event-stats-number">782</h3>
            <p class="event-stats-word">going</p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-event">
      <div class="panel-heading">October 2013</div>
      <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object event-image" src="{% static 'images/berkeley.gif' %}" alt="UC Berkeley">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="/fair/UCBerkeley/Civil-Environmental-Fair-Fall-2013/" class="event-header">Civil and Environmental Engineering Fair</a></h4>
            October 30th, 4pm - 7pm<br />
            International House
          </div>
          <div class="event-stats text-center">
            <h3 class="event-stats-number">402</h3>
            <p class="event-stats-word">going</p>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object event-image" src="{% static 'images/berkeley.gif' %}" alt="UC Berkeley">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="/fair/UCBerkeley/Early-Bird-Internship-Fair-Fall-2013/" class="event-header">Early Bird Internship Fair</a></h4>
            October 17th, 11am - 3pm<br />
            Recreational Sports Facility
          </div>
          <div class="event-stats text-center">
            <h3 class="event-stats-number">595</h3>
            <p class="event-stats-word">going</p>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object event-image" src="{% static 'images/startupfair.png' %}" alt="UC Berkeley">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="/fair/UCBerkeley/Startup-Fair-Fall-2013/" class="event-header">Startup Fair</a></h4>
            October 9th, 12pm - 4pm<br />
            International House
          </div>
          <div class="event-stats text-center">
            <h3 class="event-stats-number">475</h3>
            <p class="event-stats-word">going</p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-event">
      <div class="panel-heading">September 2013</div>
      <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object event-image" src="{% static 'images/berkeley.gif' %}" alt="UC Berkeley">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="/fair/UCBerkeley/EECS-Fair-Fall-2013/" class="event-header">EECS Career Fair</a></h4>
            September 25th, 11am - 3pm<br />
            Recreational Sports Facility
          </div>
          <div class="event-stats text-center">
            <h3 class="event-stats-number">752</h3>
            <p class="event-stats-word">going</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}