{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}

{% endblock %}


{% block extra_script %}

<link href="{% static "occuhunt/css/recommendation.css" %}" rel="stylesheet">

{% endblock %}


{% block content %}

<!-- This is where the ember app will reside -->
<div id="main-body"></div>

{% verbatim %}

<script type="text/x-handlebars" data-template-name='application'>
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name='index'>
	<div class="row">
	  	{{partial 'left-sidebar'}}
	  	{{partial 'main-content-personal-recs'}}
	  	{{partial 'right-sidebar'}}
	</div>
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name='sendrecs'>
	<div class="row">
	  	{{partial 'left-sidebar'}}
	  	{{partial 'main-content-send-recs'}}
	  	{{partial 'right-sidebar-send-rec-tip'}}
	</div>
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name='requestrecs'>
	<div class="row">
	  	{{partial 'left-sidebar'}}
	  	{{partial 'main-content-request-recs'}}
	  	{{partial 'right-sidebar-rec-form-tip'}}
	</div>
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name='recform'>
	<div class="row">
	  	{{partial 'left-sidebar'}}
	  	{{partial 'main-content-rec-form'}}
	  	{{partial 'right-sidebar-rec-form-tip'}}
	</div>
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name='left-sidebar'>
	<div class="col-lg-2">
  		<div class="list-group">
		  	<div class="list-group-item">
		    	{% endverbatim %}<img src="{% static 'images/Sanchit-rec-example.png' %}" style="width:100%;">{% verbatim %}
			</div>
			{{#link-to 'requestrecs' class="list-group-item btn btn-default" style="background-color:#005f69;color:white;"}}Get more recs{{/link-to}}
		</div>
		<div class="text-right">
			{{#link-to 'index' class="btn btn-link"}}My Recs{{/link-to}}
  			{{#link-to 'sendrecs' class="btn btn-link"}}Send Recs{{/link-to}}
		</div>
  	</div>
</script>

<script type="text/x-handlebars" data-template-name='personal-recs'>
	<div class="category_box" id="about_me">
	  	<h4 id="category_header">About Me</h4>
	  	<h5 id="category_subheader">These are recommendations people have written for you</h5>
	  	<hr>
	  	<div id="category_body">
  			<h4>What are you good at?</h4>
  			<p>{{personal_recs.answer1}}</p>
  			<h4>How can you improve?</h4>
  			<p>{{personal_recs.answer2}}</p>
		</div>
	</div>
</script>

<script type="text/x-handlebars" data-template-name='main-content-personal-recs'>
	<div class="col-lg-7">
  		{{partial 'personal-recs'}}
		<br />
		{{partial 'other-recs'}}  		
  	</div>
</script>

<script type="text/x-handlebars" data-template-name='other-recs'>
	<div class="category_box" id="about_me">
	  	<h4 id="category_header">My Recs</h4>
	  	<h5 id="category_subheader">These are private(How?) and confidential recommendations you have written for others</h5>
	  	<hr>
		<div id="category_body">
			<div class="list-group">
				{{#each other_rec for other_recs}}
					<a class="list-group-item background-active">
				    	<img {{bindAttr src="other_rec.to.img"}} style="height:40px;">
				    	<span>{{other_rec.to.name}}</span>
				    	<br />
				    	<br />
				    	<div class="row">
				    		<div class="col-lg-6">
				    			<p><strong>Relationship: </strong>{{other_rec.relationship}}</p>
				    		</div>
				    		<div class="col-lg-6">
				    			<p><strong>At: </strong>{{other_rec.at}}</p>
				    		</div>
				    	</div>
				    	<div class="row">
				    		<div class="col-lg-6">
				    			<p><strong>What is {{other_rec.to.name}} good at?</strong></p>
				    		</div>
				    		<div class="col-lg-6">
				    			<strong>What could {{other_rec.to.name}} improve on?</strong>
				    		</div>
				    	</div>
				    	<div class="row">
				    		<div class="col-lg-6">
				    			<p>{{other_rec.answer1}}</p>
				    		</div>
				    		<div class="col-lg-6">
				    			<p>{{other_rec.answer2}}</p>
				    		</div>
				    	</div>
				    	<div class="row">
				    		<div class="col-lg-12">
				    			<p><strong>Describe {{other_rec.to.name}}</strong></p>
				    		</div>
				    	</div>
				    	<div class="row">
				    		<div class="col-lg-12">
				    			<p>{{other_rec.answer3}}</p>
				    		</div>
				    	</div>
					</a>
				{{/each}}
			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars" data-template-name='main-content-send-recs'>
	<div class="col-lg-7">
		<div class="category_box" id="about_me">
		  	<h4 id="category_header">Requests</h4>
		  	<h5 id="category_subheader">Your peers value your feedback. Help them improve!</h5>
		  	<hr>
		  	<div id="category_body">
		  		{{#each recommendation_request for recommendation_requests}}
		  			<a class="list-group-item">
		  				<img {{bindAttr src="recommendation_request.from.img"}} style="height:40px;">
				    	<span>{{recommendation_request.from.name}}</span>
				    	<br />
				    	<br />
				    	<p>{{recommendation_request.message}}</p>
				    	<p><strong>Deadline: </strong>{{format-date recommendation_request.deadline}}</p>
		  			</a>
	  			{{/each}}
			</div>
		</div>
		<br />
		<div class="category_box" id="about_me">
		  	<h4 id="category_header">Recommend your friends</h4>
		  	<h5 id="category_subheader">Give honest feedback to your peers. Help them grow!</h5>
		  	<hr>
		  	<div id="category_body">
		  		{{#each recommendation_request for recommendation_requests}}
		  			<a class="list-group-item">
		  				<img {{bindAttr src="recommendation_request.from.img"}} style="height:40px;">
				    	<span>{{recommendation_request.from.name}}</span>
				    	<br />
				    	<br />
				    	<p>{{recommendation_request.message}}</p>
				    	<p><strong>Deadline: </strong>{{format-date recommendation_request.deadline}}</p>
		  			</a>
	  			{{/each}}
			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars" data-template-name='main-content-request-recs'>
	<div class="col-lg-7">
		<div class="category_box" id="about_me">
		  	<h4 id="category_header">Request Recommendation</h4>
		  	<h5 id="category_subheader">Your peers value your feedback. Help them improve!</h5>
		  	<hr>
		  	<div id="category_body">
		  		<div class="row">
					<div class="col-lg-9">
						<div class="row">
							<div class="col-lg-12">
								<input class="input-text-bordered" type="text" placeholder="To" value="Andy">
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-lg-6">
								<input type="text" class="input-text-bordered" placeholder="Relationship" value="Co-worker">
							</div>
							<div class="col-lg-6">
								<input type="text" class="input-text-bordered" placeholder="At" value="Microsoft">
							</div>
						</div>						
					</div>
					<div class="col-lg-3">
						<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c0.0.180.180/s160x160/1504083_637521086310601_95883197_a.jpg" style="height:90px;"/>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-lg-12">
						<textarea class="input-textarea-bordered" rows="3">Hey Andy, I havve a deadline on the 14th of Dec for my speech class. It would be wonderful if you could give me a recommendation.</textarea>
						<br />
						<span class="pull-right">140 words left</span>
					</div>
				</div>
				<br />
			</div>
		</div>
		<br />
	</div>
</script>

<script type="text/x-handlebars" data-template-name='right-sidebar'>
	<div class="col-lg-3">
		<div class="list-group">
			<div class="list-group-item">
		    	<h4 id="category_header">Recommend your friends</h4>
			</div>
			{{#each person_to_recommend for people_to_recommend}}
				<div class="list-group-item">
			    	<img {{bindAttr src="person_to_recommend.img"}} style="height:40px;">
			    	<span>{{person_to_recommend.name}}</span>
			    	<a href="#" class="btn-sm btn btn-success pull-right">Rec</a>
				</div>
			{{/each}}
		</div>
	</div>
</script>

<script type="text/x-handlebars" data-template-name='right-sidebar-send-rec-tip'>
	<div class="col-lg-3">
		<div class="list-group">
			<div class="list-group-item">
		    	<h4 id="category_header">Tips</h4>
			</div>
			<div class="list-group-item" style="color:grey;">
				<p>Your feedback is valuable</p>
				<p>Your feedback helps your friends (friends, peers or coworkers? be consistent) grow</p>
				<p>Occhunt is the trustworthy site</p>
			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars" data-template-name='right-sidebar-rec-form-tip'>
	<div class="col-lg-3">
		<div class="list-group">
			<div class="list-group-item">
		    	<h4 id="category_header">Tips</h4>
			</div>
			<div class="list-group-item" style="color:grey;">
				<p>Be honest and straightforward</p>
				<p>Your feedback will be confidential and anonymized</p>
				<p>Your recommendation will propel your friend further in life</p>
			</div>
		</div>
	</div>
</script>

{% endverbatim %}

{% endblock %}

{% block extra_script_end %}

<script src="{% static 'ember/js/libs/handlebars-1.0.0.js' %}"></script>
<script src="{% static 'ember/js/libs/ember-1.1.2.js' %}"></script>
<!-- Date formatting library -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
<script src="{% static 'occuhunt/js/recommendations-app.js' %}"></script>

{% endblock %}