{% extends "showcase_base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_extra_script %}

<!-- Date formatting library -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/occuhunt/js/lodash.min.js"></script>
<script type="text/javascript" src="/static/occuhunt/js/s3upload.js"></script>
<script type="text/javascript" src="/static/occuhunt/js/progress-meter.js"></script>
<!-- In production, only one script (pdf.js) is necessary -->
<!-- In production, change the content of PDFJS.workerSrc below -->
<script type="text/javascript" src="/static/pdfjs/src/shared/util.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/shared/colorspace.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/shared/pattern.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/shared/function.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/shared/annotation.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/display/api.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/display/metadata.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/display/canvas.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/display/font_loader.js"></script>

<script type="text/javascript">
  // Specify the main script used to create a new PDF.JS web worker.
  // In production, change this to point to the combined `pdf.js` file.
  PDFJS.workerSrc = '/static/pdfjs/src/worker_loader.js';
</script>

<script src="/static/occuhunt/js/waypoints.min.js"></script>
<script src="/static/occuhunt/js/waypoints-infinite.min.js"></script>
<script src="/static/occuhunt/js/recommendation-app.js"></script>

<script type="text/javascript">
	function loadRecommendationsApp(){
		$(document).ready(function(){
			$("input[name=recommendation_from]").each(function(index){
				person_who_recommended_me_ui($(this).val());
			});

			recommend_friends_ui();
		});
	}
</script>

{% endblock %}


{% block main_content %}

<div class="col-lg-7">
	<input type="hidden" name="user_linkedin_uid" value="{{user_linkedin_uid}}">
    
    <!-- This is where the pdf renders -->
    <div class="row" id="canvas_div">
      	<canvas id="the-canvas" style="display:none;" />
	</div>
  	
  	{% if resume %}
		<!-- PDF upload process begins -->
	    <div id="file_select_div">
	      <a class='btn btn-lg btn-block btn-done' id="file_select_button" href='javascript:;'>
	        UPDATE RESUME
	        <input class="btn btn-lg btn-block" type="file" id="file_upload" name="file_source" accept="application/pdf" onchange='render_pdf();'>
	      </a>
	      &nbsp;
	    </div>
	{% else %}
		<!-- PDF upload process begins -->
	    <div id="file_select_div">
	      <a class='btn btn-lg btn-block btn-done' id="file_select_button" href='javascript:;'>
	        UPLOAD RESUME
	        <input class="btn btn-lg btn-block" type="file" id="file_upload" name="file_source" accept="application/pdf" onchange='render_pdf();'>
	      </a>
	      &nbsp;
	    </div>
	{% endif %}
	
	<div class="category_box">
		<h4 id="category_header">My Resume</h4>
		<h5 id="category_subheader">This is what recruiters get to see.</h5>
	  	<div id="category_body" style="margin:0px;">
	  		<!-- This will be where the resume appears -->
	  		<div id="resume-showcase">
	  			{% if resume %}
				    <!-- Resume appears here -->
	  				<img class="resume-image" src="{{resume.url}}">
	  			{% else %}
	  				<!-- PDF upload process begins -->
				    <p style="text-align:center;">Upload a resume and showcase your profile to recruiters! This will not be shared with your friends</p>
	  			{% endif %}
	  		</div>
	  	</div>
	</div>
	<br />
	<div class="category_box" id="about_me">
	  	<h4 id="category_header">My Recommendations</h4>
	  	<h5 id="category_subheader">What are people saying about you?</h5>
	  	<hr>
		<div id="category_body">
			<div class="list-group">
				<!-- For each of my recs -->
				{% for recommendation in recommendations_for_me %}
					<input type="hidden" name="recommendation_from" value="{{recommendation.recommendation_from}}">
					<a class="list-group-item background-active">
				    	<img src="" id="recommendation_from_image_{{recommendation.recommendation_from}}" style="height:40px;">
				    	<span id="recommendation_from_name0_{{recommendation.recommendation_from}}"></span>
				    	<br />
				    	<div id="category_details">
				    		<br />
					    	<div class="row">
					    		<div class="col-lg-6">
					    			<p><strong>Relationship: </strong>{{recommendation.relationship}}</p>
					    		</div>
					    		<div class="col-lg-6">
					    			<p><strong>At: </strong>WHO</p>
					    		</div>
					    	</div>
					    	<div class="row">
					    		<div class="col-lg-6">
					    			<p><strong>What are you good at?</strong></p>
					    		</div>
					    		<div class="col-lg-6">
					    			<strong>What could you improve on?</strong>
					    		</div>
					    	</div>
					    	<div class="row">
					    		<div class="col-lg-6">
					    			<p>{{recommendation.answer1}}</p>
					    		</div>
					    		<div class="col-lg-6">
					    			<p>{{recommendation.answer2}}</p>
					    		</div>
					    	</div>
					    	<div class="row">
					    		<div class="col-lg-12">
					    			<p><strong>How he/she described you?</span></strong></p>
					    		</div>
					    	</div>
					    	<div class="row">
					    		<div class="col-lg-12">
					    			<p>{{recommendation.answer3}}</p>
					    		</div>
					    	</div>
					    </div>
					</a>
				{% endfor %}
				<!-- end for -->
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block right_content %}

<div class="col-lg-3">
	<div class="list-group" id="tips">
		<div class="list-group-item">
	    	<h4 id="category_header">Tips</h4>
		</div>
		<div class="list-group-item" style="color:grey;">
			<p>Your profile can be viewed by recruiters only</p>
		</div>
	</div>
	<div class="list-group" id="recommend_connections">
		<div class="list-group-item">
	    	<h4 id="category_header">Recommend your friends</h4>
		</div>
	</div>
</div>

{% endblock %}
