{% extends "showcase_base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_script %}

<!-- Date formatting library -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>

<script type="text/javascript">
	$.getScript("http://platform.linkedin.com/in.js?async=true", function(success, response){
		console.log("get api");
		IN.init({ 
			api_key:'xu79xm7p77of', 
			authorize:true, 
			onLoad: 'loadRecommendationsApp'
		});
	});

	function loadRecommendationsApp(){
		$.getScript("{% static 'occuhunt/js/recommendation_requests-app.js' %}", function(success, response){
			console.log("launch app");
		});
	}
</script>

{% endblock %}


{% block main_content %}

<div class="col-lg-7">
	<div class="category_box" id="about_me">
	  	<h4 id="category_header">Requests</h4>
	  	<h5 id="category_subheader">Your peers value your feedback. Help them improve!</h5>
	  	<hr>
	  	<div id="category_body">
	  		<!-- For each request -->
	  		{% for request in recommendation_requests %}
		  		<input type="hidden" name="rec_request" value="{{request.request_from}}">
	  			<a class="list-group-item" onclick="window.location.href='/recommend/new/{{request.request_from}}/';">
	  				<div class="row">
	  					<div class="col-lg-2">
	  						<img id="request_image_{{request.request_from}}" src="" style="height:90px;">
	  					</div>
	  					<div class="col-lg-8">
	  						<p id="request_name_{{request.request_from}}" style="font-weight:500;"></p>
					    	<p>{{request.message}}</p>
	  					</div>
	  					<div class="col-lg-2">
	  						<p><strong>Deadline: </strong>8 days</p>
	  					</div>
	  				</div>
			    </a>				    
		   	{% endfor %}
			<!-- end each -->
  			<br />
		</div>
	</div>
	<br />
	<div class="category_box" id="about_me">
	  	<h4 id="category_header">Recommend your coworkers</h4>
	  	<h5 id="category_subheader">Recommend your project mates, coworkers, associates and people you have worked with!</h5>
	  	<input type="text" class="input-text-light-bordered"/>
	  	<br />
	  	<br />
	  	<div id="category_body">
		    <!-- For each of your connections -->
	  			<div id="recommend_connections">
	  			</div>
	      	<!-- End each -->
		</div>
		<br />
	</div>
</div>

{% endblock %}
{% block right_content %}

<div class="col-lg-3">
	<div class="list-group">
		<div class="list-group-item">
	    	<h4 id="category_header">Tips</h4>
		</div>
		<div class="list-group-item" style="color:grey;">
			<p>Your feedback is valuable</p>
			<p>Your feedback helps your friends (friends, peers or coworkers? be consistent) grow</p>
			<p>Occuhunt is the trustworthy site</p>
		</div>
	</div>
</div>

{% endblock %}
