{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}

<link href="/static/occuhunt/css/resume_feed.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.0/jquery.qtip.min.css" />

{% endblock %}

{% block extra_script %}

<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
<script src="/static/backbone/js/backbone-min.js"></script>
<script type="text/javascript" src="/static/occuhunt/js/lodash.min.js"></script>
<script type="text/javascript" src="/static/occuhunt/js/s3upload.js"></script>
<script type="text/javascript" src="/static/occuhunt/js/progress-meter.js"></script>
<!-- In production, only one script (pdf.js) is necessary -->
<!-- In production, change the content of PDFJS.workerSrc below -->
<script type="text/javascript" src="/static/pdfjs/src/shared/util.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/shared/colorspace.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/shared/pattern.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/shared/function.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/shared/annotation.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/display/api.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/display/metadata.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/display/canvas.js"></script>
<script type="text/javascript" src="/static/pdfjs/src/display/font_loader.js"></script>

<script type="text/javascript">
  // Specify the main script used to create a new PDF.JS web worker.
  // In production, change this to point to the combined `pdf.js` file.
  PDFJS.workerSrc = '/static/pdfjs/src/worker_loader.js';
</script>
<script type="text/javascript" src="/static/occuhunt/js/resume_feed.js"></script>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-1">
    <div id="resume-menu">
      <h4 id="resume-menu-selected"><a href="/plan/resume-feed">Latest</a></h4>
      <h4 id="resume-menu-deselected"><a href="/plan/resume-feed/featured">Featured</a></h4>
      <hr>
      <h4 id="resume-menu-bounty"> </h4>
    </div>
  </div>
  <div class="col-lg-8">
    <!-- PDF upload process begins -->
    <div class="row" id="file_select_div">
      <a class='btn btn-lg btn-block btn-done' id="file_select_button" href='javascript:;'>
        UPLOAD RESUME
        <input class="btn btn-lg btn-block" type="file" id="file_upload" name="file_source" accept="application/pdf" onchange='render_pdf();'>
      </a>
      &nbsp;
    </div>

    <!-- Final upload button -->
    <div class="row" id="upload_button_div">
      <button class="btn btn-lg btn-block btn-success progress-button" id="upload_button" onclick="s3_upload();">DONE EDITING</button>
      <br>
    </div>

    <!-- Form that will be submitted -->
    <form method="POST" action="/plan/resume-feed/new-resume/submit_resume/">
        <input type="hidden" id="resume_url" name="resume_url" value="/static/images/resume-example.jpg" />
    </form>

  </div>

  <div class="col-lg-3">
    <a class="btn btn-lg btn-block btn-default" id="toggle-comments">Hide Comments</a>
  </div>
</div>

<!-- This is where the pdf renders -->
<div class="row" id="canvas_div">
  <div class="col-lg-8">
    <div class="row">
      <canvas id="the-canvas"/>
    </div>
  </div>
</div>

<div id="resume-feed">
  <!-- Resumes will be shown here -->
</div>

{% endblock %}