{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block head_title_base %}Discover Companies{% endblock %}

{% block extra_style %}
<link href="{% static "occuhunt/css/companies-list.css" %}" rel="stylesheet">
<link href="{% static "occuhunt/css/companies-favoriting.css" %}" rel="stylesheet">

<style type="text/css">

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
}

#loadingProgressG{
width:236px;
height:8px;
overflow:hidden;
background-color:#FFFFFF;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
}

.loadingProgressG{
background-color:#22afb1;
margin-top:0;
margin-left:-236px;
-moz-animation-name:bounce_loadingProgressG;
-moz-animation-duration:0.7s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:bounce_loadingProgressG;
-webkit-animation-duration:0.7s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:bounce_loadingProgressG;
-ms-animation-duration:0.7s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:bounce_loadingProgressG;
-o-animation-duration:0.7s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:bounce_loadingProgressG;
animation-duration:0.7s;
animation-iteration-count:infinite;
animation-timing-function:linear;
width:236px;
height:8px;
}

@-moz-keyframes bounce_loadingProgressG{
  0%{
  margin-left:-236px;
  }

  100%{
  margin-left:236px;
  }

  }

  @-webkit-keyframes bounce_loadingProgressG{
  0%{
  margin-left:-236px;
  }

  100%{
  margin-left:236px;
  }

  }

  @-ms-keyframes bounce_loadingProgressG{
  0%{
  margin-left:-236px;
  }

  100%{
  margin-left:236px;
  }

  }

  @-o-keyframes bounce_loadingProgressG{
  0%{
  margin-left:-236px;
  }

  100%{
  margin-left:236px;
  }

  }

  @keyframes bounce_loadingProgressG{
  0%{
  margin-left:-236px;
  }

  100%{
  margin-left:236px;
  }

}

</style>


{% endblock %}

{% block extra_script %}
<script src="{% static "occuhunt/js/companies-search.js" %}"></script>
<script type="text/javascript">
  
mixpanel.track_links("#mp-clickedsearch", "Clicked search from Search page", {'referrer': document.referrer });

  function initialize(){
    randomizeString();
    get_companies(500);
  }

  function update_favorites(){}

  // get all companies on launch
  $(document).ready(initialize);
  
</script>
{% endblock %}

{% block content %}


<div class="row text-center page-header-section">
  <h1 style="color:black; padding-bottom:10px;">Companies</h1>
</div>

<div class="row">
  <div class="col-lg-3 right-no-margin">
    <h4>Find your favorite companies.</h4>
    <h3 id="companies_found"></h3>
    <input type="text" class="form-control input-lg" id="inputCompanySearch" placeholder="Try &quot;San Francisco&quot;">
    <br/>
    <button class="btn btn-done btn-lg" onclick="searchCompanies();" id="mp-clickedsearch">SEARCH</button>
    <br />
    <br />
    <div id="loading_state"></div>
  </div>

  <div class="col-lg-9">
    <div class="row" id="companies_list">

    </div>    
  </div>
</div>

<br />

{% endblock %}