{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<link href="{% static "occuhunt/css/recommendation.css" %}" rel="stylesheet">

{% endblock %}

{% block extra_script %}

<script type="text/javascript">
	$.getScript("http://platform.linkedin.com/in.js?async=true", function(success, response){
		console.log("get api");
		IN.init({ 
			api_key:'xu79xm7p77of', 
			authorize:true, 
			onLoad: 'onLinkedInLoad'
		});
	});

	function onLinkedInLoad() {
		console.log("onLinkedInLoad");
	    IN.Event.on(IN, "auth", loadMainContent);
	}

	function loadMainContent(){
		$("#login_content").hide();
		$("#main_content").show();
		loadRecommendationsApp();
	}

</script>


	{% block extra_extra_script %}{% endblock %}

{% endblock %}

{% block content %}

<!-- 3. Displays a button to let the viewer authenticate -->
<div style="text-align:center; height:500px; padding-top:250px;" id="login_content">
	<script type="IN/Login"></script>
</div>

<div class="row" id="main_content" style="display:none;">
	<div class="col-lg-2">
		<div class="text-right">
			{% if request.get_full_path == "/showcase/" %}
				<a href="/showcase/" class="btn btn-link active">My Profile</a><br />
			{% else %}
				<a href="/showcase/" class="btn btn-link">My Profile</a><br />
			{% endif %}
			<!-- {% if request.get_full_path == "/showcase/requests/" %}
				<a href="/showcase/requests/" class="btn btn-link active">Recommend <span class="notification_number">{{requests_number}}</span></a><br />
			{% else %}
				<a href="/showcase/requests/" class="btn btn-link">Recommend <span class="notification_number">{{requests_number}}</span></a><br />
			{% endif %}
			{% if request.get_full_path == "/showcase/requests/new/" %}
				<a href="/showcase/requests/new/" class="btn btn-link active">Invite</a><br />
			{% else %}
				<a href="/showcase/requests/new/" class="btn btn-link">Invite</a><br />
			{% endif %} -->
			{% if request.get_full_path == "/showcase/applications/" %}
				<a href="/showcase/applications/" class="btn btn-link active">Application Status</a><br />
			{% else %}
				<a href="/showcase/applications/" class="btn btn-link">Application Status</a><br />
			{% endif %}
			{% if request.get_full_path == "/showcase/analytics/" %}
				<a href="/showcase/analytics/" class="btn btn-link active">Activity</a><br />
			{% else %}
				<a href="/showcase/analytics/" class="btn btn-link">Activity</a><br />
			{% endif %}
		</div>
	</div>

	{% block main_content %}
	{% endblock %}

	{% block right_content %}
	{% endblock %}

</div>

{% endblock %}
