{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}

<style type="text/css">

.favorited-company {
  background-image: url('/static/images/target.png');
  background-repeat: no-repeat;
  background-size: 20px;
}

body {
  background: url('/static/images/Home.jpg');
}

</style>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  
  $(document).ready(function(){
    updateHunts();
    getCompanies();
  });

  $(window).bind('scroll resize', function() {
      $('#filter_bar').css('top', $(this).scrollTop());
  });

</script>
{% endblock %}

{% block content %}


<br />
<br />
<br />
<br />
<br />
<div class="row" style="margin-bottom:5em;">
  <div class="col-lg-12" style="text-align:center;">
    <h1 style="color:white;font-size:80px;">Organize your job<br /> application process.</h1>
    <br />
    <br />
    <br />
    <a href="/home/" class="btn btn-done btn-lg" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px; font-family:'Proxima Nova'; font-weight: 700; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-size:30px;">VIEW UPCOMING FAIRS</a>
  </div>
</div>
{% endblock %}