{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}

<link href="{% static "occuhunt/css/splash.css" %}" rel="stylesheet">

{% endblock %}

{% block extra_script %}

<script src="{% static "occuhunt/js/splash.js" %}"></script>

{% endblock %}

{% block full_content %}

<div class="row">
  <div class="col-lg-12 text-center">
    <p class="bold-statement">Get ready for<br />your next job</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <a href="/home/" class="btn btn-xlg btn-done">VIEW JOB FAIRS ON YOUR CAMPUS</a>
  </div>
</div>

<div id="ss-container" class="ss-container padding-extra">
</div>

<div class="row">
  <div class="col-lg-12 text-center">
  <br></br>
    <h1 class="section-title">DISCOVER</h1>
    <p class="section-blurb">Job Fairs and Companies</p>
  </div>
</div>

<div id="ss-container" class="ss-container">
    <div class="ss-row ss-medium">
        <div class="ss-left">
          <div class="show-link-to-timeline">
            <p class="section-blurb" style="margin-right:50px;font-size:15px;margin-bottom:10px;">Get a Detailed Map of Upcoming Fairs</p>
            <img src="/static/images/example-fair.png" style="height:300px;">
          </div>
        </div>
        <div class="ss-right">
          <div class="show-link-to-timeline">
            <p class="section-blurb" style="padding-left:0px;font-size:15px;margin-bottom:10px;">Get a Snapshot of Your Favorite Companies</p>
            <img src="/static/images/example-fairchild.png" style="height:300px;">
          </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="section-title">PLAN</h1>
    <p class="section-blurb">Build Your Perfect Resume</p>
  </div>
</div>

<div id="ss-container" class="ss-container">
    <div class="ss-row ss-medium">
        
        <div class="ss-left">
            <div class="show-link-to-timeline">
              <p class="section-blurb" style="margin-right:67px;font-size:15px;margin-bottom:10px;">Upload Your Resume</p>
              <img src="/static/images/example-resume.png" style="height:410px;">
            </div>
        </div>
        <div class="ss-right">
            <div class="show-link-to-timeline">
              <p class="section-blurb" style="margin-left:53px;font-size:15px;margin-bottom:10px;">Receive Feedback on Your Resume</p>
              <img src="/static/images/example-comments.png" style="height:410px;" />
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="section-title">MATCH</h1>
    <p class="section-blurb">Find Your Perfect Job</p>
  </div>
</div>

<div id="ss-container" class="ss-container">
    <div class="ss-row ss-medium">
        <div class="ss-left">
            <div class="show-link-to-timeline">
              <img src="/static/images/companies-example.jpg">
            </div>
        </div>
        <div class="ss-right" style="height:500px;">
            <div class="show-link-to-timeline" style="padding-top:100px;margin-left:20px;">
              <p class="section-blurb" style="margin-left:80px;font-size:15px;margin-bottom:10px;">Fill Out Your Application Once</p>
              <img src="/static/images/application-example.png">
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <a href="/login/linkedin/?next={{request.path}}" class="btn btn-xlg btn-done">SIGN UP WITH LINKEDIN</a>
  </div>
</div>

<div class="row">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <br>
      <h3 class="text-center">Our Partners</h3>
    </div>
  </div>
  <div class="row text-center">
      <a href="https://career.berkeley.edu/"><img src="/static/images/career-center-logo-gold_gs.png" class="featured-partners"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://cet.berkeley.edu/"><img src="/static/images/CET_logo_gs.png" class="featured-partners"></a>
    <!-- </div> -->
  </div>
</div>


{% endblock %}