{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block head_title_base %}Upcoming Fairs{% endblock %}


{% block extra_style %}
<link href="{% static 'occuhunt/css/index.css' %}" rel="stylesheet">
<link href="{% static 'occuhunt/css/jquery.countdown.css' %}" rel="stylesheet" >
<link href="{% static 'occuhunt/css/profile.css' %}" rel="stylesheet">
<link href="{% static 'occuhunt/css/357.css' %}" rel="stylesheet">
<style type="text/css">
.top-border{
  border-top: 1px solid #acacac;
}

.left-border{
  border-left: 1px solid #acacac;
}

.right-border{
  border-right: 1px solid #acacac;
}

.bottom-border{
  border-bottom: 1px solid #acacac;
}

.entrance {
  background-image: url('{% static 'images/Entrance.jpg' %}');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px;
}

.exit {
  background-image: url('{% static 'images/Entrance.jpg' %}');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px;
}

</style>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  mixpanel.track_links("#mp-viewjobs", "Clicked on view jobs from modal in fair page", {'referrer': document.referrer });
  $(document).ready(function(){
    // enable tooltip for all the resume drops
    $(".resume_drop").tooltip();

    // enable preview of resume
    $(".document_preview_btn").popover();

    // check which companies user had already applied to and markk them as applied accordingly
    getApplications();

    $('*[data-poload]').on("click", function() {
      var e = $(this);
      mixpanel.track('Viewed company popup from Fair Page');
      $.ajax({
          url: '/api/v2/companies/'+e.data('poload')+'/',
          data: {},
          dataType: 'json',
          success: function(data, textStatus, jqXHR){
            console.log(data);
            e.unbind("click").popover({
              html:true,
              trigger: 'click',
              container: $(this).attr('id'),
              title:"<a class='btn-link pull-left' onclick='closeModal("+data['id']+")'><b>X</b></a><h3 class='text-center'>"+data["name"]+"</h3>",
              content:"<div class='popover-company-info'><img id='background_banner' src='"+data["banner_image"]+"'/><img id='foreground_banner' src='"+data['logo']+"'><p>"+data["company_description"].slice(0,140)+"...</p><div><a class='btn btn-done' style='display:inline-block; margin-right:10px;' id='mp-viewjobs' href='/company/"+data['id']+" /'>VIEW JOBS</a><a class='btn btn-danger' id='resume_drop_"+data['id']+"' style='display:inline-block;' value='"+data['id']+"' name='"+data['name']+"'>DROP RESUME</a></div></div>"
            }).popover("show");

            $('#resume_drop_'+data['id']+'').on("click", function() {
              var e = $(this);
              var company_id = $(this).attr("value");
              var user_id = $("#user_id").val();
              var fair_id = $("#fair_id").val();
              var company_name = $(this).attr("name")
              $("#company_id").attr('value',company_id);
              
              // show the modal with appropriate text
              $(".companyTitle").text(company_name);
              $("#resumeDropModal").modal("show");

            });

          },
      });
    });

    // highlight resume on select
    var selected_resume = null;
    var selected_cv = null;
    var selected_docs = [];
    $("input[name=resumeSelect]").change(function () {
      new_selected_resume = $(this).val();
      $("#documentSelect_"+new_selected_resume).parent().parent().css("border", "2px solid #005469");
      $("#documentSelect_"+selected_resume).parent().parent().css("border", "0px");
      selected_resume = new_selected_resume;
    });
    $("input[name=cvSelect]").change(function () {
      new_selected_cv = $(this).val();
      $("#documentSelect_"+new_selected_cv).parent().parent().css("border", "2px solid #005469");
      $("#documentSelect_"+selected_cv).parent().parent().css("border", "0px");
      selected_cv = new_selected_cv;
    });
    $("input[name=documentSelect]").change(function () {
      new_checkbox_sel = $(this).val();
      sel_index = _.indexOf(selected_docs, new_checkbox_sel)
      if(sel_index > -1) {
        selected_docs.splice(sel_index, 1);
        $("#documentSelect_"+new_checkbox_sel).parent().parent().css("border", "0px");
      } else {
        selected_docs.push(new_checkbox_sel);
        $("#documentSelect_"+new_checkbox_sel).parent().parent().css("border", "2px solid #005469");
      }
    });

    $('.resume_drop').on("click", function() {
      var e = $(this);
      var company_id = $(this).attr("value");
      var user_id = $("#user_id").val();
      var fair_id = $("#fair_id").val();
      var company_name = $(this).attr("name")
      $("#company_id").attr('value',company_id);
      
      console.log("clicked on resume drop");

      // show the modal with appropriate text
      $(".companyTitle").text(company_name);
      $("#resumeDropModal").modal("show");

    });

    $('#resume_drop_btn').on("click", function() {
      var e = $(this);
      var company_id = $(this).attr("value");
      var user_id = $("#user_id").val();
      var fair_id = $("#fair_id").val();
      var company_name = $(this).attr("name")
      $("#company_id").attr('value',company_id);
      
      // show the modal with appropriate text
      $(".companyTitle").text(company_name);
      $("#resumeDropModal").modal("show");

      // clear any old modal messages
      clearModalMessages();

    });

    $("#submitResumeDrop").on("click", function() {
      var fair_id = $("#fair_id").val();
      var company_id = $("#company_id").val();
      var position = $("input[name=companyPosition]:checked").map(function() {
        return $(this).val();
      }).get().join();

      console.log(fair_id);
      console.log(company_id);
      console.log(position);

      // save user preferences
      // get major
      var majors = $("#studentMajor").val();
      // get graduation year
      var grad_year = $("#studentGradYear").val();
      // get degree type
      var degree_type = $("#studentDegree").val();

      // get student reason
      var reason_given = $("#reasonForApplying").val();

      // if student has offers
      var company_from_text_val = $("#companyFromText").val();
      var salary_range_val = $("#currentOfferSalaryRange").val();
      var offer_deadline_val = $("#currentOfferDeadline").val();

      // submit resume
      if($("#logged_in").val() == 'False'){
        notLoggedIn();
      } else {
        // if has company and fair id
        // if selected at least 1 resume
        // if seleted at least 1 position
        // if has major, degree-type and grad-year filled out
        if(company_id && fair_id) {
          if(selected_resume) {
            if(position) {
              if(majors && degree_type && grad_year) {
                // send application!
                resumeDrop(company_id, fair_id, selected_resume, selected_cv, selected_docs, position, reason_given, majors, grad_year, degree_type);

                // if has company, offer range and deadline
                if(company_from_text_val && salary_range_val && offer_deadline_val) {
                  addOffer(company_from_text_val, salary_range_val, offer_deadline_val);
                }

                // hide modal
                $("#resumeDropModal").modal("hide");
              } else {
                addModalMessage("Check your additional info section. We need to know your major, degree type and graduation year! Please try again.");
              }
            } else {
              addModalMessage("Please select a position and try again!");
            }
          } else {
            addModalMessage("Please select a resume to submit with your application!");
          }
        } else {
          addModalMessage("Oops, there's an error on our side. Please try again or report to us about this. Really sorry for the inconvenience.");
        }
      }

    });


    // toggle additional info
    $("#toggleAdditionalInfo").on("click", function() {
      $(".additionalInfoDiv").toggle();
    });

    function addModalMessage(message){
      console.log(message);
      console.log($("#modalMessages"));
      $("#modalMessages").append('<div class="alert alert-danger alert-dismissable">'+
        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+
        message+
      '</div>');
    };

    function clearModalMessages(){
      $("#modalMessages").empty();
    };

    function notLoggedIn(){
      $("#messages").append('<div class="alert alert-danger alert-dismissable">'+
        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+
        'Oops! You need to be logged in to drop your resume with the employers!'+
      '</div>');
    }

    function resumeDrop(company_id, fair_id, selected_resume, selected_cv, selected_docs, position, reason_given, majors, grad_year, degree_type){
      console.log("CONFIRMED");
      
      // new applications
      $.ajax({
        url: '/api/v2/applications/',
        type:'POST',
        dataType: 'json',
        data: JSON.stringify({
          'company_id': company_id,
          'fair_id': fair_id,
          'resume': selected_resume,
          'cv': selected_cv,
          'docs': selected_docs,
          'position': position,
          'reason_given': reason_given,
          'status': 1,
          'majors':majors,
          'grad_year': grad_year,
          'degree_type': degree_type
        }),
        contentType: 'application/json',
        statusCode : {
          201: function(data, textStatus, jsXHR){
            console.log("successfully dropped resume!");
            console.log(data);
            console.log(textStatus);
            console.log(jsXHR);
            console.log($(this));
            // feedback on the small dot that the resume has been submitted
            // disable clicking
            $("button.resume_drop_btn[value="+data['company']['id']+"]").attr("disabled",true);
            $("button.resume_drop_btn[value="+data['company']['id']+"]").text('Applied');

            $("a.resume_drop[value="+data['company']['id']+"]").addClass("resume_dropped");

            // disable clicking
            $("a.resume_drop[value="+data['company']['id']+"]").css({"pointer-events":"none","cursor":"default"});

            // give confirmation message about successful resume submission
            $("#messages").append('<div class="alert alert-success alert-dismissable">'+
              '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+
              'Good job! You <strong>successfully</strong> dropped off your resume at '+data['company']['name']+'!'+
            '</div>');
          },
          500: function(data, textStatus, jsXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jsXHR);
            // give confirmation message about unsuccessful resume submission
            $("#messages").append('<div class="alert alert-danger alert-dismissable">'+
              '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+
              'Oops! You need to be logged in or have your resume uploaded to drop your resume with the employers!'+
            '</div>');
          },
          404: function(data, textStatus, jsXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jsXHR);
            // give confirmation message about unsuccessful resume submission
            $("#messages").append('<div class="alert alert-danger alert-dismissable">'+
              '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+
              'Oops! You need to be logged in or have your resume uploaded to drop your resume with the employers!'+
            '</div>');
          }
        }
      });
      
      // mixpanel tracking
      mixpanel.track("Career Fair > Apply to a company", {'referrer': document.referrer });
    }

    function getApplications(){
      user_id = $("#user_id").val();
      fair_id = $("#fair_id").val();
      console.log("get applications");
      $.ajax({
        url: '/api/v2/applications/?user='+String(user_id),
        type: 'GET',
        contentType: 'application/json',
        dataType: 'json',
        processData: false,
        success: function(data, textStatus, jqXHR) {
          console.log(data);
          console.log(textStatus);
          console.log(jqXHR);
          for (var i = data['response']['applications'].length - 1; i >= 0; i--) {
            // need to check if need to display favorite or unfavorite icon
            console.log($("a.resume_drop[value="+data['response']['applications'][i]['company']['id']+"]"));
            $("a.resume_drop[value="+data['response']['applications'][i]['company']['id']+"]").addClass("resume_dropped");

            // disable clicking
            $("a.resume_drop[value="+data['response']['applications'][i]['company']['id']+"]").css({"pointer-events":"none","cursor":"default"});
          }
        },
        dataType: 'json',
      });
    };

  });
  
  function closeModal(id){
    $('[data-poload='+id+']').click();
  };

</script>
{% endblock %}

{% block content %}

<input type="hidden" name="fair_id" value="{{event.id}}" id="fair_id">
<input type="hidden" name="company_id" value="0" id="company_id">
{% if not request.user.is_anonymous %}
<input type="hidden" name="logged_in" value="{{user.id}}" id="logged_in">
{% else %}
<input type="hidden" name="logged_in" value="False" id="logged_in">
{% endif %}

  <!-- Main content - STARTUP FAIR -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- Information about the career fair -->
      <div class="row visible-lg">
        <div class="col-lg-4">
          <h4 align="left">October 22nd, 12-4pm</h4>
        </div>
        <div class="col-lg-4">
          <h4 class="text-center venue-center">UCB Startup Fair</h4>
        </div>
        <div class="col-lg-4">
          <h4 class="text-right">International House</h4>
        </div>
      </div>
      <div class="row hidden-lg">
          <h4 align="left">UCB Startup Fair, October 22nd 12 - 4pm, International House</h4>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <p class="text-center room-top">Chevron Auditorium</p>
          <table>
            <tbody>
              <tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="top-border left-border"></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="853" value="company_853">Tango</a><a class="resume_drop" value="853" name="Tango" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="328" value="company_328">AutoGrid Systems</a><a class="resume_drop" value="328" name="AutoGrid Systems" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="312" value="company_312">Readyforce</a><a class="resume_drop" value="312" name="Readyforce" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="847" value="company_847">DNANexus</a><a class="resume_drop" value="847" name="DNANexus" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="259" value="company_259">FiveStars</a><a class="resume_drop" value="259" name="FiveStars" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="858" value="company_858">ReMeeting</a><a class="resume_drop" value="858" name="ReMeeting" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"></td>
                <td id="career_fair_map" class="top-border right-border"></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="left-border"><a class="btn btn-engineering fair-table vcenter" data-poload="308" value="company_308">Sift Science</a><a class="resume_drop" value="308" name="Sift Science" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="right-border"><a class="btn btn-engineering fair-table vcenter" data-poload="494" value="company_494">MemSQL</a><a class="resume_drop" value="494" name="MemSQL" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="left-border"><a class="btn btn-engineering fair-table vcenter" data-poload="862" value="company_862">Splice Machine</a><a class="resume_drop" value="862" name="Splice Machine" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="568" value="company_568">Oxygen Cloud</a><a class="resume_drop" value="568" name="Oxygen Cloud" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="846" value="company_846">Glooko</a><a class="resume_drop" value="846" name="Planet Labs" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="628" value="company_628">Tarana Wireless</a><a class="resume_drop" value="628" name="Tarana Wireless" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="845" value="company_845">Affirm</a><a class="resume_drop" value="845" name="Affirm" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="848" value="company_848">Baydin</a><a class="resume_drop" value="668" name="Baydin" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="right-border"><a class="btn btn-engineering fair-table vcenter" data-poload="564" value="company_564">Captricity</a><a class="resume_drop" value="564" name="Captricity" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="left-border"><a class="btn btn-engineering fair-table vcenter" data-poload="840" value="company_840">Dot & Bo</a><a class="resume_drop" value="840" name="Dot & Bo" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="340" value="company_340">AeroFS</a><a class="resume_drop" value="340" name="AeroFS" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="844" value="company_844">DoorDash</a><a class="resume_drop" value="844" name="DoorDash" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="667" value="company_667">AirPR</a><a class="resume_drop" value="667" name="AirPR" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="851" value="company_851">Bebop</a><a class="resume_drop" value="851" name="Bebop" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="841" value="company_841">Sobrr</a><a class="resume_drop" value="841" name="Sobrr" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="right-border"><a class="btn btn-engineering fair-table vcenter" data-poload="329" value="company_329">Brandcast</a><a class="resume_drop" value="329" name="Brandcast" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="left-border"><a class="fair-table"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="right-border"></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="left-border bottom-border"><a class="btn btn-engineering fair-table vcenter" data-poload="852" value="company_852">Turnitin</a><a class="resume_drop" value="852" name="Turnitin" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="entrance"></td>
                <td id="career_fair_map" class="bottom-border"><a class="btn btn-engineering fair-table vcenter" data-poload="857" value="company_857">Barefoot Networks</a><a class="resume_drop" value="857" name="Barefoot Networks" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="entrance"></td>
                <td id="career_fair_map" class="bottom-border"><a class="btn btn-engineering fair-table vcenter" data-poload="344" value="company_344">Berkeley Startup Cluster</a><a class="resume_drop" value="344" name="Berkeley Startup Cluster" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="entrance"></td>
                <td id="career_fair_map" class="bottom-border"><a class="btn btn-engineering fair-table vcenter" data-poload="842" value="company_842">Bitcasa</a><a class="resume_drop" value="842" name="Bitcasa" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="bottom-border"><a class="btn btn-engineering fair-table vcenter" data-poload="345" value="company_345">Okta</a><a class="resume_drop" value="345" name="Okta" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="bottom-border right-border"></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="fair-table"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="348" value="company_348">PernixData</a><a class="resume_drop" value="348" name="PernixData" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="669" value="company_669">Refresh</a><a class="resume_drop" value="669" name="Refresh" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="864" value="company_864">Robinhood</a><a class="resume_drop" value="864" name="Robinhood" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>

              </tr>
            </tbody>
          </table>
          <p class="text-center room-custom">Robert Sproul Room</p>
          <table>
            <tbody>
              <tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="top-border left-border"></td>
                <td id="career_fair_map" class="top-border"></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="321" value="company_321">AeroSpike</a><a class="resume_drop" value="321" name="AeroSpike" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="332" value="company_332">Humin</a><a class="resume_drop" value="332" name="Humin" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="315" value="company_315">Magoosh</a><a class="resume_drop" value="315" name="Magoosh" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"></td>
                <td id="career_fair_map" class="top-border right-border"></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="left-border"><a class="btn btn-engineering fair-table vcenter" data-poload="849" value="company_849">Vertigo</a><a class="resume_drop" value="568" name="Vertigo" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="right-border"><a class="btn btn-engineering fair-table vcenter" data-poload="326" value="company_326">A16Z</a><a class="resume_drop" value="326" name="A16Z" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="left-border"><a class="btn btn-engineering fair-table vcenter" data-poload="863" value="company_863">WriteLab</a><a class="resume_drop" value="863" name="WriteLab" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="843" value="company_843">Tubular Labs</a><a class="resume_drop" value="843" name="Hortonworks" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="right-border"><a class="btn btn-engineering fair-table vcenter" data-poload="326" value="company_326">A16Z</a><a class="resume_drop" value="326" name="A16Z" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="bottom-border left-border"><a class="btn btn-engineering fair-table vcenter" data-poload="335" value="company_335">Reflektion</a><a class="resume_drop" value="335" name="Reflektion" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="bottom-border"></td>
                <td id="career_fair_map" class="entrance"></td>
                <td id="career_fair_map" class="bottom-border"><a class="btn btn-engineering fair-table vcenter" data-poload="854" value="company_854">Scale Data</a><a class="resume_drop" value="854" name="Scale Data" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="bottom-border"><a class="btn btn-engineering fair-table vcenter" data-poload="609" value="company_609">Wish</a><a class="resume_drop" value="609" name="Wish" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="entrance"></td>
                <td id="career_fair_map" class="bottom-border right-border"><a class="btn btn-engineering fair-table vcenter" data-poload="850" value="company_850">Zenefits</a><a class="resume_drop" value="850" name="Zenefits" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
              </tr>
            </tbody>
          </table>

          <p class="text-center room-custom">Home Room</p>
          <table>
            <tbody>
              <tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="top-border left-border"></td>
                <td id="career_fair_map" class="top-border"></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="273" value="company_273">IXL Learning</a><a class="resume_drop" value="273" name="IXL Learning" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"><a class="btn btn-engineering fair-table vcenter" data-poload="856" value="company_856">Metanautix</a><a class="resume_drop" value="856" name="Metanautix" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="top-border"></td>
                <td id="career_fair_map" class="top-border right-border"></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="left-border"><a class="btn btn-engineering fair-table vcenter" data-poload="855" value="company_855">Platform9</a><a class="resume_drop" value="855" name="Platform9" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="right-border"><a class="btn btn-engineering fair-table vcenter" data-poload="304" value="company_304">TubeMogul</a><a class="resume_drop" value="304" name="TubeMogul" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="left-border"><a class="btn btn-engineering fair-table vcenter" data-poload="322" value="company_322">Brightedge</a><a class="resume_drop" value="322" name="Brightedge" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="right-border"><a class="btn btn-engineering fair-table vcenter" data-poload="607" value="company_607">ClickTime</a><a class="resume_drop" value="607" name="ClickTime" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map" class="bottom-border left-border"></td>
                <td id="career_fair_map" class="bottom-border"></td>
                <td id="career_fair_map" class="bottom-border"><a class="btn btn-engineering fair-table vcenter" data-poload="839" value="company_839">Flux.io</a><a class="resume_drop" value="839" name="Flux.io" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="bottom-border"><a class="btn btn-engineering fair-table vcenter" data-poload="663" value="company_663">Clustrix</a><a class="resume_drop" value="663" name="Clustrix" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a></td>
                <td id="career_fair_map" class="bottom-border"></td>
                <td id="career_fair_map" class="entrance right-border"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal when user isn't logged in -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="resumeDropModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>

        <h4 class="modal-title" id="category_header">Resume Drop to <span class="companyTitle"></span></h4>

      </div>
      <div class="modal-body">
        Login to drop your resume with <span class="companyTitle"></span>!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a class='btn btn-md btn-danger' href="/login/linkedin/?next={{request.path}}" onclick='mixpanel.track("357 > Login", {'referrer': document.referrer });'>LOGIN TO DROP RESUME</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal when user is logged in -->
<div class="modal fade" id="resumeDropModal" tabindex="-1" role="dialog" aria-labelledby="resumeDropModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>

        <h4 class="modal-title" id="category_header">Resume Drop to <span class="companyTitle"></span></h4>

      </div>
      <div class="modal-body">
        {% if not request.user.is_anonymous %}
        <!-- Modal error messages -->
        <div class="row">
          <div class="col-lg-12">
            <div id="modalMessages"></div>
          </div>
        </div>
        <!-- Pick your title -->
        <div class="row">
          <div class="col-lg-12">
            <h4>Which positions are you interested in with <span class="companyTitle"></span>?</h4>
            <div class="row">
              <div class="col-lg-4"><input type="checkbox" name="companyPosition" value="Software Engineering">&nbsp;Software Engineering</div>
              <div class="col-lg-4"><input type="checkbox" name="companyPosition" value="Product Manager">&nbsp;Product Manager</div>
              <div class="col-lg-4"><input type="checkbox" name="companyPosition" value="UI/UX Engineering">&nbsp;UI/UX Engineering</div>
              <div class="col-lg-4"><input type="checkbox" name="companyPosition" value="Marketing">&nbsp;Marketing</div>
              <div class="col-lg-4"><input type="checkbox" name="companyPosition" value="Business Development">&nbsp;Business Development</div>
              <div class="col-lg-4"><input type="checkbox" name="companyPosition" value="Growth Hacker">&nbsp;Growth Hacker</div>
              <div class="col-lg-4"><input type="checkbox" name="companyPosition" value="Accountant">&nbsp;Accountant</div>
              <div class="col-lg-4"><input type="checkbox" name="companyPosition" value="Other">&nbsp;Other</div>
            </div>
          </div>
        </div>
        <!-- Pick your documents -->
        <div class="row">
          <div class="col-lg-4">
            <h4>Resumes</h4>
            <ul class="documents" id="resumes">
              {% for resume in resumes %}
              <li class="document">
                <div class="document_image_bg" style="background: url({{resume.image_url}}); background-size: 68px 108px; height:108px; width: 68px; display:block;">
                  <div class="document_preview_div">
                    <button class="btn btn-done btn-sm document_preview_btn" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<img src='{{resume.image_url}}' >">View</button>
                  </div>
                  <div class="document_select_div">
                    <input class="document_select_radio" type="radio" name='resumeSelect' value='{{resume.id}}' id="documentSelect_{{resume.id}}"/>
                    <label class="btn btn-danger btn-sm document_select_label" for="documentSelect_{{resume.id}}">Select</label>
                  </div>
                </div>
              </li>
              {% endfor %}
              <li class="document" style="display:block;">
                <a href='/profile/documents/'>
                  <img style="width:68px; height:108px;" src="{% static 'images/add-document.png' %}">
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h4>Cover Letters</h4>
            <ul class="documents" id="cvs">
              {% for cv in cvs %}
              <li class="document">
                <div class="document_image_bg" style="background: url({{cv.image_url}}); background-size: 68px 108px; height:108px; width: 68px; display:block;">
                  <div class="document_preview_div">
                    <button class="btn btn-done btn-sm document_preview_btn" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<img src='{{cv.image_url}}' >">View</button>
                  </div>
                  <div class="document_select_div">
                    <input class="document_select_radio" type="radio" name='cvSelect' value='{{cv.id}}' id="documentSelect_{{cv.id}}"/>
                    <label class="btn btn-danger btn-sm document_select_label" for="documentSelect_{{cv.id}}">Select</label>
                  </div>
                </div>
              </li>
              {% endfor %}
              <li class="document" style="display:block;">
                <a href='/profile/documents/'>
                  <img style="width:68px; height:108px;" src="{% static 'images/add-document.png' %}">
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h4>Additional Docs</h4>
            <ul class="documents" id="portfolio">
              {% for portfolio in portfolios %}
              <li class="document">
                <div class="document_image_bg" style="background: url({{portfolio.image_url}}); background-size: 68px 108px; height:108px; width: 68px; display:block;">
                  <div class="document_preview_div">
                    <button class="btn btn-done btn-sm document_preview_btn" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<img src='{{portfolio.image_url}}' >">View</button>
                  </div>
                  <div class="document_select_div">
                    <input class="document_select_radio" type="checkbox" name='documentSelect' value='{{portfolio.id}}' id="documentSelect_{{portfolio.id}}"/>
                    <label class="btn btn-danger btn-sm document_select_label" for="documentSelect_{{portfolio.id}}">Select</label>
                  </div>
                </div>
              </li>
              {% endfor %}
              <li class="document" style="display:block;">
                <a href='/profile/documents/'>
                  <img style="width:68px; height:108px;" src="{% static 'images/add-document.png' %}">
                </a>
              </li>
            </ul>
          </div>
        </div>

        <h4>Why <span class="companyTitle"></span>? Briefly tell us what attracts you to <span class="companyTitle"></span></h4>
        <textarea class="form-control" style="width:100%;" id="reasonForApplying"></textarea>

        <h4 id="toggleAdditionalInfo"><span class="glyphicon glyphicon-chevron-right additionalInfoDiv"></span><span class="glyphicon glyphicon-chevron-down additionalInfoDiv" style="display:none;"></span></span>Additional Info</h4>
        <div class="additionalInfoDiv" style="display:none;">
          <!-- Current Offer -->
          <label>Tell us about your current offer! (optional)</label>
          <div class="row">
            <div class="col-lg-5">
              <input class="form-control" type="text" placeholder="Company" id="companyFromText">
            </div>
            <div class="col-lg-4">
              <select class="form-control" id="currentOfferSalaryRange">
                <option value="1">20k-30k</option>
                <option value="2">30k-40k</option>
                <option value="3">40k-50k</option>
                <option value="4">50k-60k</option>
                <option value="5">60k-70k</option>
                <option value="6">70k-80k</option>
                <option value="7">80k-100k</option>
                <option value="8">100k-120k</option>
                <option value="9">120k-140k</option>
                <option value="10">140k-160k</option>
                <option value="11">160k-180k</option>
                <option value="12">180k-200k</option>
                <option value="13">200k-250k</option>
                <option value="14">250k+</option>
                <option value="15">I do not wish to disclose</option>
              </select>
            </div>
            <div class="col-lg-3">
              <select class="form-control" id="currentOfferDeadline">
                <option value="1">In 3 days</option>
                <option value="2">In 7 days</option>
                <option value="3">In 14 days</option>
                <option value="4">In 28 days</option>
                <option value="5">I have time </option>
              </select>
            </div>
          </div>
          <span class="help-block">This will not be shown to the company you have received the offer from.t</span>

          <!-- Additional Info - Major, Degree, Grad Date -->
          <div class="row">
            <div class="col-lg-5">
              <label>Major</label>
              <select multiple size="8" class="form-control" id="studentMajor" style="width:100%">
                {% for major in majors %}
                  {% if major in request.user.student.major.all %}
                    <option value="{{major.id}}" selected>{{major.major}}</option>
                  {% else %}
                    <option value="{{major.id}}">{{major.major}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-4">
              <label>Degree Type</label>
              <select class="form-control" id="studentDegree">
                <option value=""></option>
                {% for degree_type in degree_types %}
                  {% if request.user.student.degree.id == degree_type.id %}
                    <option value="{{degree_type.id}}" selected>{{degree_type.degree}}</option>
                  {% else %}
                    <option value="{{degree_type.id}}">{{degree_type.degree}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-3">
              <label>Graduation Year</label>
              {% if request.user.student.graduation_year %}
                <input type="text" class="input-text" placeholder="Graduation Year" id="studentGradYear" value="{{request.user.student.graduation_year}}">
              {% else %}
                <input type="text" class="input-text" placeholder="2015" id="studentGradYear" value="">
              {% endif %}
            </div>
          </div>
        </div>

        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-done" id="submitResumeDrop">DROP RESUME</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}