{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block head_title_base %}Upcoming Fairs{% endblock %}


{% block extra_style %}
<link href="/static/occuhunt/css/index.css" rel="stylesheet">
<style type="text/css">
.top-border{
  border-top: 1px solid #acacac;
}

.left-border{
  border-left: 1px solid #acacac;
}

.right-border{
  border-right: 1px solid #acacac;
}

.bottom-border{
  border-bottom: 1px solid #acacac;
}

.entrance {
  background-image: url('/static/images/Entrance.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px;
}

.exit {
  background-image: url('/static/images/Entrance.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px;
}

</style>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  mixpanel.track_links("#mp-viewjobs", "Clicked on view jobs from modal in fair page", {'referrer': document.referrer });
  $(document).ready(function(){
    getCompanies();
    $('*[data-poload]').on("click", function() {
      var e = $(this);
      mixpanel.track('Viewed company popup from Fair Page');
      $.ajax({
          url: '/api/v1/companies/'+e.data('poload')+'/',
          data: {},
          dataType: 'json',
          success: function(data, textStatus, jqXHR){
            console.log(data);
            e.unbind("click").popover({
              html:true,
              trigger: 'click',
              container: $(this).attr('id'),
              title:"<a class='btn-link pull-left' onclick='closeModal("+data['id']+")'><b>X</b></a><h3 class='text-center'>"+data["name"]+"</h3><a class='btn-link' id='modal-plus' onclick='favoriteCompanyWithId("+data['id']+",this, null);' style='right:17px; top:10px;position:absolute; float:right; '><span class='glyphicon glyphicon-plus'></span></a>",
              content:"<div class='popover-company-info'><img id='background_banner' src='"+data["banner_image"]+"'/><img id='foreground_banner' src='"+data['logo']+"'><p>"+data["company_description"].slice(0,140)+"...</p><a class='btn btn-done' id='mp-viewjobs' href='/company/"+data['id']+" /'>VIEW JOBS</a></div>"
            }).popover("show");
          },
      });
    });
  });

  function closeModal(id){
    $('[data-poload='+id+']').click();
  }

  $(window).bind('scroll resize', function() {
      $('#filter_bar').css('top', $(this).scrollTop());
  });

</script>
{% endblock %}

{% block content %}
  <div class="col-lg-1 visible-lg" style="left:20px;padding-top:42px;position:absolute;">
    <div class="btn-group-vertical" id="filter_bar" data-toggle="buttons" style="top: 0px;">
      <button type="button" class="btn btn-categorydisabled favorited-company btn-sm simplebox" onclick="toggleTable('.favorited-company');" style="background-image:url('/static/images/other/fold.png');">Favorites</button>
      <button type="button" class="btn btn-engineering btn-sm simplebox" onclick="toggleTable('.btn-engineering');">Engineering</button>
      <button type="button" class="btn btn-finance btn-sm simplebox" onclick="toggleTable('.btn-finance');">Finance</button>
      <button type="button" class="btn btn-government btn-sm simplebox" onclick="toggleTable('.btn-government');">Government</button>
      <button type="button" class="btn btn-health btn-sm simplebox" onclick="toggleTable('.btn-health');">Health</button>
      <button type="button" class="btn btn-technology btn-sm simplebox" onclick="toggleTable('.btn-technology');">Technology</button>
      <button type="button" class="btn btn-other btn-sm simplebox" onclick="toggleTable('.btn-other');">Other</button>
    </div>
  </div>
  
  <!-- Main content - EECS CAREER FAIR -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- Information about the career fair -->
        <div class="row visible-lg">
          <div class="col-lg-4">
            <h4 align="left">September 25th, 11am - 3pm</h4>
          </div>
          <div class="col-lg-4">
            <h4 class="text-center venue-center">EECS Career Fair</h4>
          </div>
          <div class="col-lg-4">
            <h4 class="text-right">Recreational Sports Facility</h4>
          </div>
        </div>
        <div class="row hidden-lg">
            <h4 align="left">EECS Career Fair, September 25 11am - 3pm, RSF - Field House Gym</h4>
        </div>
        <!-- EECS Career -->

        <p class="text-center room-top">Field House Gym</p>
        <div class="row">
          <div class="col-lg-8">
            <table>
              <tbody><tr>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="231" value="company_231">Twitter</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-government fair-table vcenter" data-poload="303" value="company_303">CIA</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="287" value="company_287">Nvidia</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="233" value="company_233">Aerospace Corp</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="278" value="company_278">LinkedIn / Slideshare</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="292" value="company_292">Pinterest</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="256" value="company_256">Facebook</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="227" value="company_227">Workday</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="226" value="company_226">Yahoo!</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="289" value="company_289">Palantir</a></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="285" value="company_285">National Instruments</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="258" value="company_258">Fairchild</a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="234" value="company_234">Texas Instruments</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="260" value="company_260">Foxconn Electronics</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="223" value="company_223">Zynga</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="217" value="company_217">Asana</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="229" value="company_229">Venmo</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="297" value="company_297">Quizlet.com</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="250" value="company_250">Crunchyroll</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="295" value="company_295">PocketGems</a></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="225" value="company_225">Yelp</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="269" value="company_269">IBM</a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="283" value="company_283">Motorola</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="254" value="company_254">EMC</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="224" value="company_224">Zazzle</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="291" value="company_291">Path</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="209" value="company_209">Adobe</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="222" value="company_222">Box</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="267" value="company_267">Groupon</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="293" value="company_293">Pivotal Labs</a></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="300" value="company_300">Riverbed Technology</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-finance fair-table vcenter" data-poload="221" value="company_221">Bechtel</a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="276" value="company_276">KLA-Tencor</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="232" value="company_232">Twilio</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="251" value="company_251">Datastax</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="286" value="company_286">Netapp</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="263" value="company_263">GoDaddy</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="288" value="company_288">Oracle</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="294" value="company_294">Pixar Animation</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-other fair-table vcenter" data-poload="299" value="company_299">Redfin</a></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="210" value="company_210">Airbnb</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="241" value="company_241">Sandisk</a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="240" value="company_240">Shoretel</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="264" value="company_264">Goodreads</a></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="208" value="company_208">Adap.tv</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-other fair-table vcenter" data-poload="275" value="company_275">Kabam</a></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="268" value="company_268">HP</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="257" value="company_257">Factset Research</a></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="262" value="company_262">General Motors</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-government fair-table vcenter" data-poload="242" value="company_242">Sandia National Labs</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="211" value="company_211">Akamai Technologies</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="216" value="company_216">ARM</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="219" value="company_219">AT&amp;T</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="246" value="company_246">Cisco SF</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="281" value="company_281">Microsoft</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="298" value="company_298">Rackspace</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="265" value="company_265">Google</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-health fair-table vcenter" data-poload="249" value="company_249">Counsyl</a></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="248" value="company_248">Comcast / NBC Universal</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="243" value="company_243">Samsung Mobile STA</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="302" value="company_302">Salesforce.com</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="236" value="company_236">Stottler Henke AI</a></td>
                <td id="career_fair_map"><a class="btn btn-other fair-table vcenter" data-poload="282" value="company_282">Mopub</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="247" value="company_247">Cisco Systems</a></td>
                <td id="career_fair_map"><a class="btn btn-other fair-table vcenter" data-poload="261" value="company_261">Demeterr</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="284" value="company_284">Mozilla</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="266" value="company_266">Gree International</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="213" value="company_213">AppDynamics</a></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="228" value="company_228">VMWare</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="215" value="company_215">Arista Networks</a></td>
                <td id="career_fair_map"><a class="btn btn-finance fair-table vcenter" data-poload="230" value="company_230">Two Sigma Investments</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-finance fair-table vcenter" data-poload="252" value="company_252">Deloitte</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="218" value="company_218">Aspera</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="238" value="company_238">Square</a></td>
                <td id="career_fair_map"><a class="btn btn-finance fair-table vcenter" data-poload="272" value="company_272">Intuit</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="301" value="company_301">Rocket Fuel</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="290" value="company_290">Pandora</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-health fair-table vcenter" data-poload="220" value="company_220">AthenaHealth</a></td>
              </tr><tr>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="271" value="company_271">Intel</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="212" value="company_212">Amazon</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="261" value="company_261">General Electric</a></td>
                <td id="career_fair_map"><a class="btn btn-other fair-table vcenter" data-poload="207" value="company_207">Accenture</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="274" value="company_274">Juniper Networks</a></td>
                <td id="career_fair_map"><a class="btn btn-finance fair-table vcenter" data-poload="296" value="company_296">PWC</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-other fair-table vcenter" data-poload="279" value="company_279">Macys.com</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="259" value="company_259">Fivestars</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="244" value="company_244">Broadcom</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="239" value="company_239">SK Hynix</a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="277" value="company_277">Lab126</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="280" value="company_280">Maxim Integrated</a></td>
                <td id="career_fair_map"><a class="btn btn-other fair-table vcenter" data-poload="245" value="company_245">Chevron</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="270" value="company_270">Indiegogo</a></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="255" value="company_255">F5 Networks</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="253" value="company_253">Dropbox</a></td>
                <td id="career_fair_map"><a class="btn btn-engineering fair-table vcenter" data-poload="237" value="company_237">Storm8</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-other fair-table vcenter" data-poload="273" value="company_273">IXL Learning</a></td>
              </tr><tr>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="214" value="company_214">Apple</a></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"></td>
                <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="235" value="company_235">Switchfly</a></td>
              </tr>
            </tbody></table>
          </div>
        </div>
      </div>
    </div>
  </div>
    

{% endblock %}