{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block head_title_base %}Upcoming Fairs{% endblock %}


{% block extra_style %}
<link href="/static/occuhunt/css/index.css" rel="stylesheet">
<style type="text/css">

.btn {
  border-width: 1px;
}

.btn-technology {
  border-color: #ffa753;
}

.top-border{
  border-top: 1px solid #acacac;
}

.left-border{
  border-left: 1px solid #acacac;
}

.right-border{
  border-right: 1px solid #acacac;
}

.bottom-border{
  border-bottom: 1px solid #acacac;
}

.entrance {
  background-image: url('/static/images/Entrance.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px;
}

.exit {
  background-image: url('/static/images/Entrance.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px;
}

</style>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  mixpanel.track_links("#mp-viewjobs", "Clicked on view jobs from modal in fair page", {'referrer': document.referrer });
  $(document).ready(function(){
    getCompanies();
    $('*[data-poload]').on("click", function() {
      var e = $(this);
      mixpanel.track('Viewed company popup from Fair Page');
      $.ajax({
          url: '/api/v1/companies/'+e.data('poload')+'/',
          data: {},
          dataType: 'json',
          success: function(data, textStatus, jqXHR){
            console.log(data);
            e.unbind("click").popover({
              html:true,
              trigger: 'click',
              container: $(this).attr('id'),
              title:"<a class='btn-link pull-left' onclick='closeModal("+data['id']+")'><b>X</b></a><h3 class='text-center'>"+data["name"]+"</h3><a class='btn-link' id='modal-plus' onclick='favoriteCompanyWithId("+data['id']+",this, null);' style='right:17px; top:10px;position:absolute; float:right; '><span class='glyphicon glyphicon-plus'></span></a>",
              content:"<div class='popover-company-info'><img id='background_banner' src='"+data["banner_image"]+"'/><img id='foreground_banner' src='"+data['logo']+"'><p>"+data["company_description"].slice(0,140)+"...</p><a class='btn btn-done' id='mp-viewjobs' href='/company/"+data['id']+" /'>VIEW JOBS</a></div>"
            }).popover("show");
          },
      });
    });
  });

  function closeModal(id){
    $('[data-poload='+id+']').click();
  }

  $(window).bind('scroll resize', function() {
      $('#filter_bar').css('top', $(this).scrollTop());
  });

</script>
{% endblock %}

{% block content %}
  <div class="col-lg-1 visible-lg" style="left:20px;padding-top:42px;position:absolute;">
    <div class="btn-group-vertical" id="filter_bar" data-toggle="buttons" style="top: 0px;">
      <button type="button" class="btn btn-categorydisabled favorited-company btn-sm simplebox" onclick="toggleTable('.favorited-company');" style="background-image:url('/static/images/other/fold.png');">Favorites</button>
      <button type="button" class="btn btn-engineering btn-sm simplebox" onclick="toggleTable('.btn-engineering');">Engineering</button>
      <button type="button" class="btn btn-finance btn-sm simplebox" onclick="toggleTable('.btn-finance');">Finance</button>
      <button type="button" class="btn btn-government btn-sm simplebox" onclick="toggleTable('.btn-government');">Government</button>
      <button type="button" class="btn btn-health btn-sm simplebox" onclick="toggleTable('.btn-health');">Health</button>
      <button type="button" class="btn btn-technology btn-sm simplebox" onclick="toggleTable('.btn-technology');">Technology</button>
      <button type="button" class="btn btn-other btn-sm simplebox" onclick="toggleTable('.btn-other');">Other</button>
    </div>
  </div>

  <!-- Main content - SPRING CAREER FAIR -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- Information about the career fair -->
      <div class="row visible-lg">
        <div class="col-lg-4">
          <h4 align="left">February 19-20th, 11am - 3pm</h4>
        </div>
        <div class="col-lg-4">
          <h4 class="text-center venue-center">Internship & Summer Job Fair</h4>
        </div>
        <div class="col-lg-4">
          <h4 class="text-right">Recreational Sports Facility</h4>
        </div>
      </div>
      <div class="row hidden-lg">
          <h4 align="left">Internship & Summer Job Fair, February 19-20th 11am - 3pm, RSF - Field House Gym</h4>
      </div>
      <!-- Internship & Summary Job Fair Day 1 Career -->

      <p class="text-center room-top">Day 1 - Field House Gym</p>
      <div class="row">
        <div class="col-lg-8">
          <table>
            <tbody><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="570" value="company_570">Wealthfront</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="478" value="company_478">Brightroll</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="571" value="company_571">Redbeacon</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="504" value="company_504">UCB Global Internships</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="572" value="company_572">Splunk</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="573" value="company_573">JPMorgan Chase</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="574" value="company_574">US Air Force</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="575" value="company_575">Spectranetics</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="250" value="company_250">Crunchyroll</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="471" value="company_471">Moka5</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="485" value="company_485">Piazza</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="576" value="company_576">Stumbleupon</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="577" value="company_577">Pearson</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="578" value="company_578">Marin Software</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="579" value="company_579">DE Shaw</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="580" value="company_580">Thermo Fisher Scientific</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="581" value="company_581">JSR Micro</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="583" value="company_583">Silicon Labs</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="241" value="company_241">Sandisk</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="584" value="company_584">Echostar</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="585" value="company_585">Razorfish</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="464" value="company_464">Kohl's</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="376" value="company_376">SAP Americas</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="586" value="company_586">Veeva Systems</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="251" value="company_251">DataStax</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="587" value="company_587">Zenpayroll</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="588" value="company_588">Apollo Group</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="589" value="company_589">Lightning Bolt Solutions</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="590" value="company_590">Ancestry.com</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="350" value="company_465">Acumen</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="591" value="company_591">Nitro</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="591" value="company_592">Tesoro</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="457" value="company_457">E&J Gallo Winery</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="593" value="company_593">FireEye</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="594" value="company_594">Weber Metals</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="315" value="company_315">Magoosh</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="595" value="company_595">WhatsApp</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="596" value="company_596">Guidewire </a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="597" value="company_597">MuleSoft</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="338" value="company_338">Zuora</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="369" value="company_369">McKesson</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="472" value="472">DuPont Industrial Bio</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="598" value="company_598">NASA Glenn Research Center</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="599" value="company_599">Lattice Semiconductor</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="600" value="company_600">Sony Network Entertainment</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="263" value="company_263">GoDaddy</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="269" value="company_269">IBM</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="565" value="company_565">Curious.com</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="601" value="company_601">HGST</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="602" value="company_602">Dictionary.com</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="603" value="company_603">Chegg</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="480" value="company_480">eBay</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="312" value="company_312">Readyforce</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="604" value="company_604">NICE Systems</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="302" value="company_302">Salesforce</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="440" value="company_440">Nimble Storage</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="605" value="company_605">Abbott Laboratories</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="606" value="company_606">CBS Interactive</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="221" value="company_221">Bechtel</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="607" value="company_607">ClickTime</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-health fair-table vcenter" data-poload="511" value="company_511">Peace Corps</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="608" value="company_608">Codazen</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="496" value="company_496">Informatica</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="609" value="company_609">Wish.com</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="610" value="company_610">VSS Monitoring</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="611" value="company_611">Proofpoint</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="612" value="company_612">Nokia</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="613" value="company_613">Bay Area SMACNA</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="614" value="company_614">Arrayent</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="273" value="company_273">IXL Learning</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="615" value="company_615">Galileo Learning</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="342" value="company_342">Liveramp</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="492" value="company_492">Stottler Henke</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="616" value="company_616">Walt Disney</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="617" value="company_617">Uber</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="618" value="company_618">Bio-Rad</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="619" value="company_619">TE Connectivity</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="215" value="company_215">Arista Networks</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="246" value="company_246">Cisco SF - Meraki</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="259" value="company_259">FiveStars </a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="620" value="company_620">Jive Software</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="569" value="company_569">Jobularity</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="346" value="company_346">Nest Labs</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="621" value="company_621">Trulia</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="470" value="company_470">Symantec</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="622" value="company_622">Linear Technology</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="623" value="company_623">Ambarella</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border"><a class="btn btn-technology fair-table vcenter" data-poload="211" value="company_211">Akamai Technologies</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="624" value="company_624">Visa</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="270" value="company_270">Indiegogo </a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="279" value="company_279">Macys.com</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="497" value="company_497">Lam Research</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="218" value="company_218">Aspera</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="244" value="company_244">Broadcom</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="247" value="company_247">Cisco Systems</a></td>
              <td id="career_fair_map"><a class="btn btn-technology fair-table vcenter" data-poload="261" value="company_261">General Electric</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map" class="right-border"><a class="btn btn-technology fair-table vcenter" data-poload="299" value="company_299">Redfin</a></td>
            </tr><tr>
              <td id="career_fair_map" class="left-border bottom-border"><a class="btn btn-technology fair-table vcenter" data-poload="625" value="company_625">GAP</a></td>
              <td id="career_fair_map" class="bottom-border"></td>
              <td id="career_fair_map" class="bottom-border"></td>
              <td id="career_fair_map" class="bottom-border"></td>
              <td id="career_fair_map" class="bottom-border"></td>
              <td id="career_fair_map" class="bottom-border"></td>
              <td id="career_fair_map" class="entrance"></td>
              <td id="career_fair_map" class="entrance"></td>
              <td id="career_fair_map" class="entrance"></td>
              <td id="career_fair_map" class="entrance"></td>
              <td id="career_fair_map" class="bottom-border"></td>
              <td id="career_fair_map" class="bottom-border"></td>
              <td id="career_fair_map" class="bottom-border"></td>
              <td id="career_fair_map" class="bottom-border"></td>
              <td id="career_fair_map" class="bottom-border right-border"><a class="btn btn-technology fair-table vcenter" data-poload="274" value="company_274">Juniper Networks</a></td>
            </tr>
          </tbody></table>
        </div>
      </div>

    </div>
  </div>

{% endblock %}