{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block head_title_base %}Upcoming Fairs{% endblock %}


{% block extra_style %}
<link href="/static/occuhunt/css/index.css" rel="stylesheet">
<style type="text/css">
.top-border{
  border-top: 1px solid #acacac;
}

.left-border{
  border-left: 1px solid #acacac;
}

.right-border{
  border-right: 1px solid #acacac;
}

.bottom-border{
  border-bottom: 1px solid #acacac;
}

.entrance {
  background-image: url('/static/images/Entrance.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px;
}

.exit {
  background-image: url('/static/images/Entrance.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px;
}

.resume_drop {
  float: right;
  position:absolute;
  display:block;
  color:black;
  border: 2px solid #c44d48;
  background: transparent;
  margin-top: 2px;
  margin-left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.resume_drop:hover {
  background: white;
}

.resume_dropped {
  background-color: white;
}

</style>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  mixpanel.track_links("#mp-viewjobs", "Clicked on view jobs from modal in fair page", {'referrer': document.referrer });
  $(document).ready(function(){
    // enable tooltip for all the resume drops
    $(".resume_drop").tooltip();

    // check which companies user had already applied to and markk them as applied accordingly
    getApplications();

    getCompanies();
    $('*[data-poload]').on("click", function() {
      var e = $(this);
      mixpanel.track('Viewed company popup from Fair Page');
      $.ajax({
          url: '/api/v1/companies/'+e.data('poload')+'/',
          data: {},
          dataType: 'json',
          success: function(data, textStatus, jqXHR){
            console.log(data);
            e.unbind("click").popover({
              html:true,
              trigger: 'click',
              container: $(this).attr('id'),
              title:"<a class='btn-link pull-left' onclick='closeModal("+data['id']+")'><b>X</b></a><h3 class='text-center'>"+data["name"]+"</h3><a class='btn-link' id='modal-plus' onclick='favoriteCompanyWithId("+data['id']+",this, null);' style='right:17px; top:10px;position:absolute; float:right; '><span class='glyphicon glyphicon-plus'></span></a>",
              content:"<div class='popover-company-info'><img id='background_banner' src='"+data["banner_image"]+"'/><img id='foreground_banner' src='"+data['logo']+"'><p>"+data["company_description"].slice(0,140)+"...</p><a class='btn btn-done' id='mp-viewjobs' href='/company/"+data['id']+" /'>VIEW JOBS</a></div>"
            }).popover("show");
          },
      });
    });

    $('.resume_drop').on("click", function() {
      var e = $(this);
      var company_id = $(this).attr("value");
      var user_id = $("#user_id").val();
      var fair_id = $("#fair_id").val();
      console.log($(this).attr("value"));
      console.log("resume_drop");
      var confirmation=prompt("Please type CONFIRM to confirm your resume drop. Note: CONFIRM in all caps without spaces","");

      if (confirmation=="CONFIRM"){
        console.log("CONFIRMED");
        $.ajax({
          url: '/api/v1/applications/',
          type:'POST',
          dataType: 'json',
          data: JSON.stringify({
            'user_id': user_id, 
            'company_id': company_id,
            'fair_id': fair_id,
            'status': "Applied"
          }),
          contentType: 'application/json',
          statusCode : {
            201: function(data, textStatus, jsXHR){
              console.log("successfully dropped resume!");
              console.log(data);
              console.log(textStatus);
              console.log(jsXHR);
              console.log($(this));
              e.css({"background":"white"});
              $("#messages").append('<div class="alert alert-success alert-dismissable">'+
                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+
                'You <strong>successfully</strong> dropped off your resume at Lumosity!'+
              '</div>')
              alert("Your profile has been successfully");
            },
            500: function(data, textStatus, jsXHR){
              console.log(data);
              console.log(textStatus);
              console.log(jsXHR);
            }
          }
        });
      }
    });

  });

  function closeModal(id){
    $('[data-poload='+id+']').click();
  }

  function getApplications(){
    user_id = $("#user_id").val();
    fair_id = $("#fair_id").val();
    console.log("get applications");
    $.ajax({
      url: '/api/v1/applications/?user='+String(user_id)+'&fair='+String(fair_id),
      type: 'GET',
      contentType: 'application/json',
      dataType: 'json',
      processData: false,
      success: function(data, textStatus, jqXHR) {
        console.log(data);
        console.log(textStatus);
        console.log(jqXHR);
        for (var i = data['response']['applications'].length - 1; i >= 0; i--) {
          // need to check if need to display favorite or unfavorite icon
          console.log($("a.resume_drop[value="+data['response']['applications'][i]['company']['id']+"]"));
          $("a.resume_drop[value="+data['response']['applications'][i]['company']['id']+"]").css({"background":"white"});

          // disable clicking
          $("a.resume_drop[value="+data['response']['applications'][i]['company']['id']+"]").css({"pointer-events":"none","cursor":"default"});
        }
      },
      dataType: 'json',
    });
  }

  $(window).bind('scroll resize', function() {
      $('#filter_bar').css('top', $(this).scrollTop());
  });

</script>
{% endblock %}

{% block content %}

<input type="hidden" name="fair_id" value="8" id="fair_id">

<!--   <div class="col-lg-1 visible-lg" style="left:20px;padding-top:42px;position:absolute;">
    <div class="btn-group-vertical" id="filter_bar" data-toggle="buttons" style="top: 0px;">
      <button type="button" class="btn btn-categorydisabled favorited-company btn-sm simplebox" onclick="toggleTable('.favorited-company');" style="background-image:url('/static/images/other/fold.png');">Favorites</button>
      <button type="button" class="btn btn-engineering btn-sm simplebox" onclick="toggleTable('.btn-engineering');">Engineering</button>
      <button type="button" class="btn btn-finance btn-sm simplebox" onclick="toggleTable('.btn-finance');">Finance</button>
      <button type="button" class="btn btn-government btn-sm simplebox" onclick="toggleTable('.btn-government');">Government</button>
      <button type="button" class="btn btn-health btn-sm simplebox" onclick="toggleTable('.btn-health');">Health</button>
      <button type="button" class="btn btn-technology btn-sm simplebox" onclick="toggleTable('.btn-technology');">Technology</button>
      <button type="button" class="btn btn-other btn-sm simplebox" onclick="toggleTable('.btn-other');">Other</button>
    </div>
  </div> -->

  <!-- Main content - STARTUP CAREER FAIR -->
  <div id="messages">

  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="overflow:scroll;">
      <!-- Information about the career fair -->
      <div class="row visible-lg">
        <div class="col-lg-4">
          <h4 align="left">February 26th, 12 - 4pm</h4>
        </div>
        <div class="col-lg-4">
          <h4 class="text-center venue-center">Startup Fair</h4>
        </div>
        <div class="col-lg-4">
          <h4 class="text-right">International House</h4>
        </div>
      </div>
      <div class="row hidden-lg">
          <h4 align="left">Startup Fair, Oct 9, 12 - 4pm, International House</h4>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table>
            <tbody><tr>
              <td id="career_fair_map"><a class="resume_drop" value="321" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a><a class="btn btn-technology fair-table vcenter" data-poload="321" value="company_321">Aerospike</a></td>
              <td id="career_fair_map"><a class="resume_drop" value="325" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a><a class="btn btn-technology fair-table vcenter" data-poload="325" value="company_325">Alpine Data Labs</a></td>
              <td id="career_fair_map"><a class="resume_drop" value="326" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a><a class="btn btn-technology fair-table vcenter" data-poload="326" value="company_326">Andreessen Horowitz</a></td>
              <td id="career_fair_map"><a class="resume_drop" value="564" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a><a class="btn btn-technology fair-table vcenter" data-poload="564" value="company_564">Captricity</a></td>
              <td id="career_fair_map"><a class="resume_drop" value="565" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a><a class="btn btn-technology fair-table vcenter" data-poload="565" value="company_565">Curious.com</a></td>
              <td id="career_fair_map"><a class="resume_drop" value="566" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a><a class="btn btn-technology fair-table vcenter" data-poload="566" value="company_566">Nutanix</a></td>
              <td id="career_fair_map"><a class="resume_drop" value="567" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a><a class="btn btn-technology fair-table vcenter" data-poload="567" value="company_567">DocSend</a></td>
              <td id="career_fair_map"><a class="resume_drop" value="317" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a><a class="btn btn-technology fair-table vcenter" data-poload="317" value="company_317">Lumosity</a></td>
              <td id="career_fair_map"><a class="resume_drop" value="568" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a><a class="btn btn-technology fair-table vcenter" data-poload="568" value="company_568">Oxygen Cloud</a></td>
              <td id="career_fair_map"><a class="resume_drop" value="569" data-toggle="tooltip" data-placement="top" title="Click to drop resume"></a><a class="btn btn-technology fair-table vcenter" data-poload="569" value="company_569">Jobularity</a></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
              <td id="career_fair_map"></td>
            </tr></tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="thumbnail">
        <div class="caption">
          <h3>Your profile</h3>
        </div>
        <img src="https://resumefeed.s3.amazonaws.com/sanchit-barejapdfGKCePV2T4DMAArWcjmdpg3o7u1iIpV" alt="...">
        <div class="caption">
          <p><a href="#" class="btn btn-done" role="button">Edit Profile</a></p>
        </div>
      </div>
    </div>
  </div>
    

{% endblock %}