/* jQuery Countdown styles 2.0.0. */
.is-countdown {
  border: 0px solid #ccc;
  background-color: #fff;
}
.countdown-rtl {
  direction: rtl;
}
.countdown-holding span {
  color: #888;
}
.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
}
.countdown-show1 .countdown-section {
  width: 98%;
}
.countdown-show2 .countdown-section {
  width: 48%;
}
.countdown-show3 .countdown-section {
  width: 32.5%;
}
.countdown-show4 .countdown-section {
  width: 24.5%;
}
.countdown-show5 .countdown-section {
  width: 19.5%;
}
.countdown-show6 .countdown-section {
  width: 16.25%;
}
.countdown-show7 .countdown-section {
  width: 14%;
}
.countdown-section {
  display: block;
  float: left;
  font-size: 75%;
  text-align: center;
}
.countdown-amount {
    font-size: 200%;
}
.countdown-period {
    display: block;
}
.countdown-descr {
  display: block;
  width: 100%;
}

.countdown-time {
  display: block;
  width: 100%;
  color: rgb(170, 186, 204);
  font-size: 35px;
  font-family: "Proxima Nova";
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 60px;
}

/* titles */
.main-357 {
  display: block;
  color: rgb(51, 136, 144);
  font-size: 85px;
  font-family: "Proxima Nova";
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
}

.description-357 {
  display: block;
  width: 100%;
  color: black;
  font-size: 18px;
  font-family: "Proxima Nova";
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 5px;
}

/* CSS for vertical company blocks */
.company-block {
  display: block;
  width: 100%;
  background: rgb(240, 247, 247);
  border: 1px solid #e4e4e4;
  padding: 10px;
  text-align: center;
}

.company-block > .company-logo {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}

.company-logo > img {
  width: 100%;
}

.company-block > h4 {
  font-size: 15px;
  font-family: "Proxima Nova";
  font-weight: 500;
  line-height: 1em;
}

.company-block > p {
  font-size: 13px;
}

.company-description {
  height: 160px;
  text-align: left;
}

.company-positions {
  height: 100px;
}

.squeeze-margin {
  padding-left: 4px;
  padding-right: 4px;
}

/* Modal css */
.modal-lg {
  width: 750px;
}

input[name=companyPosition] {
  margin-bottom: 10px;
}

.document {
  margin-bottom: 10px;
  width: 70px;
  height: 110px;
}

.document_image {
  width: 66px;
  height: 106px;
}

.document_preview_div {
  display: none;
  position: absolute;
  top: 0px;
  height:55px;
  width: 100%;
  background: rgba(0,0,0, 0.2);
}

.document_preview_btn {
  margin: 13px 9px;
}

.document_select_div {
  display: none;
  background: rgba(0,0,0, 0.2);
  position: absolute;
  top: 55px;
  height:54px;
  width: 100%;
}

.document_select_radio {
  display: none;
} 

.document_select_label {
  margin: 13px 5px;
}

.document_image_bg:hover > .document_preview_div {
  display: block !important;
}

.document_image_bg:hover > .document_select_div {
  display: block !important;
}

#toggleAdditionalInfo {
  cursor: pointer;
}

.glyphicon {
  font-size: 17px;
}

/* OffrHunt */
.popover-content{
  padding: 0px;.
}

.bold-statement {
  font-size: 70px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-weight: 300;
  color: #035d67;
  line-height: 1;
  margin-bottom: 0px;
}

.quote-statement {
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-weight: 400;
  color: #035d67;
  line-height: 1;
  margin-bottom: 0;
}

.explanation-statement {
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-weight: 400;
  color: rgb(200,200,200);
  line-height: 1;
  margin-bottom: 0;
}

body {
  height:100%;
}

.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
} 
 
/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #70aab0;
    left: 20%;
    margin-left: -10px;
}
 
.cbp_tmtimeline > li {
    position: relative;
}
 
/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}
 
.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}
 
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #70aab0;
}
 
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #70aab0;
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #70aab0;
}
 
/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #348891;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
    width: 60%;
    text-align: center;
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #005f69;
}
 
.cbp_tmtimeline > li .cbp_tmlabel h2 { 
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
 
/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #348891;
    border-width: 10px;
    top: 10px;
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #005f69;
}
 
/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 80px;
    height: 80px;
    font-size: 60px;
    line-height: 80px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #70aab0;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #70aab0;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -45px;
}
 