{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<link href="{% static 'occuhunt/css/profile_preview.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_script %}

<script type="text/javascript">

$(document).ready(function() {
    visit_document({{document.id}});
});

</script>

{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'zeroclipboard/ZeroClipboard.js' %}"></script>
<script src="{% static 'occuhunt/js/profile_preview.js' %}"></script>

<div class="col-lg-2">
    <h4>About</h4>
    <p>{{document.user.first_name}} {{document.user.last_name}}</p>
</div>

<div class="col-lg-8">
	<input type="hidden" name="user_linkedin_uid" value="{{user_linkedin_uid}}">
    
    <div>
        <h4 style="float:left;">Document</h4>
        <a href="javascript:window.open('{{document.url}}','_blank');download_document({{document.id}});" class="btn btn-sm btn-done" style="float:right;">Download .pdf</a>
    </div>
    <img style="width:100%; height:100%; border:1px solid #dddddd;" src="{{document.image_url}}">

</div>

<div class="col-lg-2">
    <h4>Links</h4>
    {% for link in links %}
        <p><a class="copyToClipboard" data-clipboard-text="{{link.url}}" data-toggle="tooltip" data-placement="top"><span class="glyphicon glyphicon-link"></span></a>&nbsp;<a href="javascript:window.open('{{link.url}}','_blank');visit_link({{document.id}},{{link.id}});">{{link.link_name}}</a></p>
    {% endfor %}
</div>


{% endblock %}

