{% extends "recruiter/recruiter_base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<style type="text/css">

body {
  background: url('/static/images/Home.jpg') !important;
}

</style>
{% endblock %}

{% block content %}

{% if error_loggin_in %}
  <div class="alert alert-danger">Sorry! We weren't able to log you in. If this happens again, feel free to call us at 510 612-7328.</div>
{% endif %}

  <div class="row">
    <div class="col-lg-8">
      <div class="jumbotron" style="background:rgba(250,250,250,0.5)">
        <br />
        <div class="text-center">
          <h1><img src="{% static 'images/logo/Occuhunt-Logo-4.png'%}" style="width: 400px;"></h1>
          <p class="lead">Hire effectively on college campuses.</p>
        </div>
        <div class="row text-center">
          <div class="col-lg-3">
            <h4>Receive digital versions of student resumes</h4>
            <h1><img src="{% static 'images/example-resume.png' %}" style="width:100%;"></h1>
          </div>
          <div class="col-lg-3">
            <h4>Increase brand awareness on campus</h4>
            <h1><img src="{% static 'images/example-fairchild.png' %}" style="width:100%;"></h1>
          </div>
          <div class="col-lg-3">
            <h4>Analyze effectiveness of recruiting efforts</h4>
            <h1><span class="glyphicon glyphicon-signal"></span></h1>
          </div>
          <div class="col-lg-3">
            <h4>Keep students informed on their application</h4>
            <h1><span class="glyphicon glyphicon-bell"></span></h1>
          </div>
        </div>
        <br />
      </div>
    </div>
    <div class="col-lg-4">
      <h3 style="color:white;">Login</h3>
      <form role="form" action="/recruiter/login/" method="post">
        <div class="form-group input-group-lg">
          <input type="text" class="form-control" id="input_username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group input-group-lg">
          <input type="password" class="form-control" id="input_password" name="password" placeholder="Password">
        </div>
        {% csrf_token %}
        <input type="submit" value="Login" class="btn btn-done btn-lg">
      </form>
      <br />
      <h4 style="color:white;">Call us at 510-612-7328 or send and email to occuhunt@gmail.com to sign up with us! We will give you a free account right away - no questions asked.</h4>
    </div>
  </div>
{% endblock %}