{% extends "recruiter/recruiter_base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<!-- Add css here -->
<style type="text/css">
	body {
		background-color: white;	
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-smooth: always;
	}

	.existing_job {
		margin-bottom: 20px;
	}

	.new_job {
		margin-bottom: 20px;
	}

</style>

{% endblock %}

{% block extra_script %}
<!-- Add javascript here -->

<script type="text/javascript">

var original_banner_img = '{{ company.banner_image }}';
var original_logo_img = '{{ company.logo }}';
var original_location = '{{ company.location }}';
var original_founded = '{{ company.founded }}';
var original_num_employees = '{{ company.number_employees }}';
var original_description = '{{ company.company_description }}';
var original_career_site = '{{ company.careers_website }}';

var new_banner_img = '{{ company.banner_image }}';
var new_logo_img = '{{ company.logo }}';
var new_location = '{{ company.location }}';
var new_founded = '{{ company.founded }}';
var new_num_employees = '{{ company.number_employees }}';
var new_description = '{{ company.company_description }}';
var new_career_site = '{{ company.careers_website }}';

var new_job_array = [1];

$(document).ready(function() {
	// initially, save button has to be disabled
	disableSaveState();

	$("#bannerImgUrl").on("keyup", onChangeBanner);
	$("#logoImgUrl").on("keyup", onChangeLogo);
	$("#companyLocation").on("keyup", onChangeLocation);
	$("#companyFounded").on("keyup", onChangeFoundedOn);
	$("#companyNumEmployees").on("keyup", onChangeNumEmployees);
	$("#companyDescription").on("keyup", onChangeCompanyInfo);
	$("#companyCareersWebsite").on("keyup", onChangeCareersSite);

	// enable save state on changes being made
	$("input").on("keyup", enableSaveState);
	$("textarea").on("keyup", enableSaveState);
});

function onChangeBanner() {
	// get new image URL	
	// if valid URL, change banner image
	// if empty, revert to original src
	new_banner_img = $("#bannerImgUrl").val();
	if(new_banner_img){
		$("#company_banner").attr("src",new_banner_img);
	} else {
		new_banner_img = original_banner_img; 
		$("#company_banner").attr("src",original_banner_img);
		$("#bannerImgUrl").val(original_banner_img);
	}
}

function onChangeLogo() {
	// get new image URL	
	// if valid URL, change logo image
	// if empty, revert to original src
	console.log("asdfadsf");
	new_logo_img = $("#logoImgUrl").val();
	if(new_logo_img){
		$("#company_logo").attr("src",new_logo_img);
	} else {
		new_logo_img = original_logo_img;
		$("#company_logo").attr("src",original_logo_img);
		$("#logoImgUrl").val(original_logo_img);
	}
}

function onChangeLocation() {
	new_location = $("#companyLocation").val();
}

function onChangeFoundedOn() {
	new_founded = $("#companyFounded").val();
}

function onChangeNumEmployees() {
	new_num_employees = $("#companyNumEmployees").val();
}

function onChangeCompanyInfo() {
	new_description = $("#companyDescription").val();
}

function onChangeCareersSite() {
	new_career_site = $("#companyCareersWebsite").val();
}

function addJob() {
	// get the maximum in the new_job_array and add 1 to it for a new entry.
	// add new name, job type, location and description
	var new_job_num = Math.max.apply(Math,new_job_array) + 1;
	if(new_job_num > 0){
		new_job_array.push(new_job_num);
	} else {
		// this is the case where we emptied the array
		new_job_num = 1;
		new_job_array.push(new_job_num);
	}
	$("#add_jobs").append('<div class="new_job" id="new_job_'+String(new_job_num)+'">'+
							'<div class="row">'+
								'<div class="col-lg-1">'+
									'<a class="btn btn-done btn-sm" onclick="removeJob(false, '+String(new_job_num)+', false);"><span class="glyphicon glyphicon-minus" style="color:white;"></span></a>'+
								'</div>'+
								'<div class="col-lg-4">'+
									'<input type="text" class="form-control" style="width:100%;" id="new_job_'+String(new_job_num)+'_title" placeholder="Title (e.g. Software Engineering Intern)">'+
								'</div>'+
								'<div class="col-lg-4">'+
									'<select class="form-control" id="new_job_'+String(new_job_num)+'_type" style="width:100%;">'+
									  	'<option>Engineering Software</option>'+
									  	'<option>Engineering Hardware</option>'+
									  	'<option>Product/Project Management</option>'+
									  	'<option>Engineering QA</option>'+
									  	'<option>WebDev/Design/Internet</option>'+
									  	'<option>Tech Ops/Data</option>'+
									  	'<option>Technical/Customer Support</option>'+
									  	'<option>Manufacturing</option>'+
									  	'<option>Life Sciences</option>'+
									  	'<option>Marketing/PR/Product Mktg</option>'+
									  	'<option>Sales</option>'+
									  	'<option>Business Dev</option>'+
									  	'<option>Professional Svcs</option>'+
									  	'<option>Accounting/Finance</option>'+
									  	'<option>HR/Recruiting</option>'+
									  	'<option>Administration</option>'+
									  	'<option>Legal</option>'+
									  	'<option>Operations</option>'+
									  	'<option>Other</option>'+
									'</select>'+
								'</div>'+
								'<div class="col-lg-3">'+
									'<input type="text" class="form-control" style="width:100%;" id="new_job_'+String(new_job_num)+'_location" placeholder="Location: (e.g. San Francisco, CA)">'+
								'</div>'+
							'</div>'+
							'<br />'+
							'<div class="row">'+
								'<div class="col-lg-12">'+
									'<textarea class="form-control" style="font-size:16px; width:100%;" id="new_job_'+String(new_job_num)+'_description" rows="3" placeholder="Job Description"></textarea>'+
								'</div>'+
							'</div>'+
						'</div>');

	// enable save state on changes being made
	$("input").on("keyup", enableSaveState);
	$("textarea").on("keyup", enableSaveState);
	
}

function removeJob(jobId, domId, isOnServer) {
	// given the job id, remove the name, job type, location and description
	// sends an ajax request for delete
	// if the job they want to delete is something that hasn't been saved yet
	//     	then it should be just removed from the dom
	// 		it should also remove the job number from the new_job_array
	console.log(domId);
	if(isOnServer){
		if(jobId) {
			$.ajax({
		        url: '/api/v1/jobs/'+String(jobId)+'/',
		        type: 'PUT',
		        data: JSON.stringify({
		          'job_id': jobId,
		          'deactivate': true,
		        }),
		        dataType: 'json',
		        contentType: 'application/json',
		        statusCode : {
		            200: function(data, textStatus, jsXHR){
		                console.log(data);
		                // remove job from the dom
		                $("#existing_job_"+String(domId)).remove();
		                alert("changes saved!");
		            },
		            500: function(data, textStatus, jsXHR){
		                console.log(data);
		                console.log(textStatus);
		                console.log(jsXHR);
		            }
		        }
		    });
		}
	} else {
		index = new_job_array.indexOf(domId);
		if (index > -1) {
		    new_job_array.splice(index, 1);
		}
		$("#new_job_"+String(domId)).remove();
	}
}

function enableSaveState() {
	$("#saveChangeBtn").text("Save Changes");
	$("#saveChangeBtn").attr("disabled",false);
}

function disableSaveState() {
	$("#saveChangeBtn").text("Saved");
	$("#saveChangeBtn").attr("disabled",true);
}

function saveChanges() {
	// check for new values
	// only send up new values if not it should use old values
	$.ajax({
        url: '/api/v1/companies/{{company.id}}/',
        type: 'PUT',
        data: JSON.stringify({
          'founded': new_founded,
          'careers_website': new_career_site,
          'logo': new_logo_img,
          'banner_image': new_banner_img,
          'number_employees': new_num_employees,
          'company_description': new_description,
          'location': new_location,
          'careers_website': new_career_site,
        }),
        dataType: 'json',
        contentType: 'application/json',
        statusCode : {
            204: function(data, textStatus, jsXHR){
            	// disable save changes button
            	disableSaveState();
                // alert("changes saved!");
            },
            500: function(data, textStatus, jsXHR){
                console.log(data);
                console.log(textStatus);
                console.log(jsXHR);
            }
        }
    });
    // send up new jobs added as well. only the new jobs that are not empty - need to check if the fields are not empty.
    for (var i = new_job_array.length - 1; i >= 0; i--) {
    	new_job_id = new_job_array[i];
    	job_name = $("#new_job_"+String(new_job_id)+"_title").val();
    	job_type = $("#new_job_"+String(new_job_id)+"_type").val();
    	job_location = $("#new_job_"+String(new_job_id)+"_location").val();
    	job_description = $("#new_job_"+String(new_job_id)+"_description").val();
	    if(job_name && job_type && job_location && job_description) {
	    	$.ajax({
		        url: '/api/v1/jobs/',
		        type: 'POST',
		        data: JSON.stringify({
		          'company_id': {{company.id}},
		          'name': job_name,
		          'job_type': job_type,
		          'location': job_location,
		          'description': job_description,
		        }),
		        dataType: 'json',
		        contentType: 'application/json',
		        statusCode : {
		            201: function(data, textStatus, jsXHR){
		                console.log(data);
		                console.log("removing job_id: "+String(new_job_id));
		            	// remove it from new_job pile & remove it from existing new_job_array
		            	// once job is saved - move it to existing pile
		            	$("#existing_jobs").append('<div class="existing_job" id="existing_job_'+String(data['id'])+'">'+
									'<a class="btn btn-done btn-sm" style="display:inline-block;" onclick="removeJob('+String(data['id'])+', '+String(data['id'])+', true);"><span class="glyphicon glyphicon-minus" style="color:white;"></span></a>'+
									'<p id="job_description" style="display:inline-block;">&nbsp;&nbsp;&nbsp;'+String(data['name'])+'<span id="job_location">&nbsp;'+String(data['location'])+'</span></p>'+
									'<p id="company_detailed_info">'+String(data['description'])+'</p>'+
								'</div>');
		            	disableSaveState();
		                // alert("job saved!");
		            },
		            500: function(data, textStatus, jsXHR){
		                console.log(data);
		                console.log(textStatus);
		                console.log(jsXHR);
		            }
		        }
		    });
		}
    };
    // being optimistic here by assuming all jobs updates will be successful
    // remove all input fields
    $("#add_jobs").empty();
    // empty array as well
    new_job_array = [];
    // add 1 blank job field at the end
    addJob();
}

</script>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
	  	<h1 id="company_title" style="color:#035d67;">{{ company.name }}</h1>
	</div>
	<div class="col-lg-2">
		<button class="btn btn-danger btn-lg" style="position:fixed;" onclick="saveChanges();" id="saveChangeBtn">Save Changes</button>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 no-space">
		<img id="company_banner" src="{{ company.banner_image }}">
		<input type="text" class="form-control" style="width:100%;" id="bannerImgUrl" value="{{company.banner_image}}" placeholder="Banner: {{ company.banner_image }}">
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2" id="company_description_container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-1" id="company_stats">
				
				<br /><br />
				<div style="line-height:1.4;">
					Logo:
					<img id="company_logo" style="padding-top:0px;margin-bottom:0px;" src="{{ company.logo }}"><br /><br />
					<input type="text" class="form-control" style="width:100%;" id="logoImgUrl" value="{{company.logo}}"><br />
					Location: <input type="text" class="form-control" style="width:80%;" id="companyLocation" value="{{company.location}}"><br />
					Founded: <input type="text" class="form-control" style="width:100%;" id="companyFounded" value="{{company.founded}}"><br />
					Number of Employees:<input type="text" class="form-control" style="width:100%;" id="companyNumEmployees" value="{{company.number_employees}}">
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-1" id="company_description">
				<div>
					<h4 id="company_header">COMPANY INFO</h4>
				</div>
				<textarea class="form-control" style="font-size:16px;" rows="20" id="companyDescription">{{company.company_description}}</textarea>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2" id="job_description_container">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10">
				{% if user.is_authenticated %}
					<br />
					<br />
					<br />
					<div class="row">
						<div class="col-lg-12">
							<h4 id="company_header" style="display:inline;">JOBS</h4>
							<a style="display:inline;" class="btn btn-done btn-mg pull-right" onclick="addJob();"><span class="glyphicon glyphicon-plus" style="color:white;"></span> Add Job</a>
						</div>
					</div>
						{% if jobs %}		
							<div id="existing_jobs">			
								{% for job in jobs %}
								<div class="existing_job" id="existing_job_{{job.id}}">
									<a class="btn btn-done btn-sm" style="display:inline-block;" onclick="removeJob({{job.id}}, {{job.id}}, true);"><span class="glyphicon glyphicon-minus" style="color:white;"></span></a>
									<p id="job_description" style="display:inline-block;">&nbsp;&nbsp;&nbsp;{{ job.name }}<span id="job_location">&nbsp;{{ job.location }}</span></p>
									<p id="company_detailed_info">{{ job.description }}</p>
								</div>
								{% endfor %}
							</div>
						{% endif %} <!-- Logged in but has no jobs available -->
						<div id="add_jobs">
							<div class="new_job" id="new_job_1">
								<div class="row">
									<div class="col-lg-1">
										<a class="btn btn-done btn-sm" onclick="removeJob(false, 1, false);"><span class="glyphicon glyphicon-minus" style="color:white;"></span></a>
									</div>
									<div class="col-lg-4">
										<input type="text" class="form-control" style="width:100%;" id="new_job_1_title" placeholder="Job Title">
									</div>
									<div class="col-lg-4">
										<select class="form-control" id="new_job_1_type" style="width:100%;">
										  	<option>Engineering Software</option>
										  	<option>Engineering Hardware</option>
										  	<option>Product/Project Management</option>
										  	<option>Engineering QA</option>
										  	<option>WebDev/Design/Internet</option>
										  	<option>Tech Ops/Data</option>
										  	<option>Technical/Customer Support</option>
										  	<option>Manufacturing</option>
										  	<option>Life Sciences</option>
										  	<option>Marketing/PR/Product Mktg</option>
										  	<option>Sales</option>
										  	<option>Business Dev</option>
										  	<option>Professional Svcs</option>
										  	<option>Accounting/Finance</option>
										  	<option>HR/Recruiting</option>
										  	<option>Administration</option>
										  	<option>Legal</option>
										  	<option>Operations</option>
										  	<option>Other</option>
										</select>
									</div>
									<div class="col-lg-3">
										<input type="text" class="form-control" style="width:100%;" id="new_job_1_location" placeholder="Job Location">
									</div>
								</div>
								<br />
								<div class="row">
									<div class="col-lg-12">
										<textarea class="form-control" style="font-size:16px; width:100%;" id="new_job_1_description" rows="3" placeholder="Job Description"></textarea>
									</div>
								</div>
							</div>
						</div>
					{% endif %}

				<br />
				<br />
				<div>
					<p style="color:white; font-size: 16px;">Careers Website:</p><input type="text" class="form-control" style="width:300px;" id="companyCareersWebsite" value="{{company.careers_website}}"
				</div>
				<br />
				<br />
			</div>
		</div>
	</div>
</div>

<!-- hard code everything for design -->
{% endblock %}