{% extends "recruiter/recruiter_base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<!-- Add css here -->
<link href="/static/occuhunt/css/recruiter_hire.css" rel="stylesheet">
<script src="/static/underscore/underscore-min.js"></script>
<style type="text/css">
  body {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
  }
  .list-group-item {
    border-radius: 0px;
  }

</style>

{% endblock %}

{% block extra_script %}
{% endblock %}

{% block content %}

<br />

<div class="row">
  <div class="col-lg-3 col-md-3 no-space">
    <select class="form-control" id="filter_school">
      <option value="1">UC Berkeley</option>
    </select>
  </div>
  <div class="col-lg-3 col-md-3 no-space">
    <select class="form-control" id="filter_event">
    </select>
  </div>
</div>

<br />

<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h4>Analytics</h4></div>
      <div class="panel-body" id="fair_analytics">
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h4>Calculator</h4></div>
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-addon input-lg">$</span>
          <input type="number" class="form-control input-lg" placeholder="500" value="500" id="event_cost">
        </div>
        <span class="pull-right">total amount spent for the event</span>
        <br />
        <br />
        <p class="lead">Cost/application<span class="pull-right" style="font-size:40px;">$<span id="cost_per_application">5.36</span>/-</span></p>
        <br />
        <p class="lead">Cost/interview<span class="pull-right" style="font-size:40px;">$<span id="cost_per_interview">11.73</span>/-</span></p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  
</script>

<!-- hard code everything for design -->
{% endblock %}