{% extends "recruiter/recruiter_base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<!-- Add css here -->
<link href="{% static 'occuhunt/css/recruiter_hire.css' %}" rel="stylesheet">
<script src="{% static 'occuhunt/js/custom-form-elements.js' %}"></script>
<script src="{% static 'underscore/underscore-min.js' %}"></script>
<style type="text/css">
  body {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
  }
  .list-group-item {
    border-radius: 0px;
  }

  #application_email {
    font-style: normal;
  }

  #application_status {
    font-style: normal;
  }

  .popover {
    max-width: 400px;
  }

</style>

{% endblock %}

{% block extra_script %}
<!-- Add javascript here -->
<script type="text/javascript">

var applicants = [];

function get_events() {
  $.ajax({
    url: '/api/v1/fairs/',
    data: { },
    success: function(data, textStatus, jqXHR) {
        console.log(data);
        console.log(textStatus);
        console.log(jqXHR);
        for (var i = 0; i < data['objects'].length; i++) {
          $("#filter_event").append('<option value="'+data['objects'][i]['id']+'">'+data['objects'][i]['name']+'</option>');
        };
        get_candidates();
      },
    dataType: 'json',
  });
}

function set_fair_id(){
  $("#fair_id_input").val($("#filter_event").val());
}

function get_candidates() {
  applicants = [];
  clear_candidates();
  fair_id = $("#filter_event").val();
  degree_id = $("#degree_type").val();
  major_id = $("#major_type").val();
  grad_year = $("#grad_year").val();
  set_fair_id();
  // <option value="1">Applicants that are awaiting response</option>
  // <option value="2">Applicants I've talked to</option>
  // <option value="3">Applicants I've rejected</option>
  // <option value="4">Applicants to interview</option>
  // <option value="5">All event attendees</option>
  data_to_send = {};
  url = '/api/v1/applications/'
  if($("#filter_applicants").val() == "1"){
    company_id = $("#recruiter_id").val();
    url = '/api/v1/applications/?fair_id='+fair_id+'&company_id='+company_id+'&status__in=1&status__in=2';
  } else if ($("#filter_applicants").val() == "2") {
    company_id = $("#recruiter_id").val();
    url = '/api/v1/applications/?fair_id='+fair_id+'&company_id='+company_id+'&status__in=2';
  } else if ($("#filter_applicants").val() == "3") {
    company_id = $("#recruiter_id").val();
    url = '/api/v1/applications/?fair_id='+fair_id+'&company_id='+company_id+'&status__in=3';
  } else if ($("#filter_applicants").val() == "4") {
    company_id = $("#recruiter_id").val();
    url = '/api/v1/applications/?fair_id='+fair_id+'&company_id='+company_id+'&status__in=4';
  } else {
    url = '/api/v1/applications/?fair_id='+fair_id+'&unique_students=true';
    data_to_send = {'fair_id':fair_id, 'unique_students':true};
  }
  if(degree_id){
    url = url+'&degree_type='+degree_id;
  }
  if(major_id){
    url = url+'&major='+major_id;
  }
  if(grad_year){
    url = url+'&grad_year='+grad_year;
  }
  $.ajax({
    url: url,
    data: {},
    success: function(data, textStatus, jqXHR) {
        console.log(data);
        console.log(textStatus);
        console.log(jqXHR);
        search_applicants();
        if(data['response']['applications'].length > 0) {
          applicants = data['response']['applications'];
          for (var i = 0; i < data['response']['applications'].length; i++) {
            positions_list = split_commas(data['response']['applications'][i]['position']);
            positions = '';
            for (var j = 0; j < positions_list.length; j++){
              positions = positions.concat(' <span class="label label-success">'+positions_list[j]+'</span>');
            }
            $("#candidate_list").append('<a id="applicant_list_id_'+data['response']['applications'][i]['id']+'" onclick="get_candidate('+data['response']['applications'][i]['id']+')" class="list-group-item">'+data['response']['applications'][i]['user']['first_name']+' '+data['response']['applications'][i]['user']['last_name']+'</a>');
          };
          // auto-select the first candidate
          $("#applicant_list_id_"+data['response']['applications'][0]['id']).first().click();
        } else {
          $("#candidate_list").append('<a class="list-group-item">Sorry, no candidates :( Please choose another category</a>')
        }
      },
    dataType: 'json',
  });
}

function clear_candidates(){
  $("#candidate_list").empty();
}

function split_commas(str){
  return str.split(',');
}

function get_candidate(application_id) {
  // if candidate did apply to the company, then it must in fact 
  console.log(application_id);
  $.ajax({
    url: '/api/v1/applications/'+application_id+'/',
    data: { },
    success: function(data, textStatus, jqXHR) {
        console.log(data);
        console.log(textStatus);
        console.log(jqXHR);
        $("#application_info").show();
        // need to check if everything exist
        $("#application_first_name").text(data['user']['first_name']);
        $("#application_last_name").text(data['user']['last_name']);
        $("#application_email").text(data['user']['email']);
        $("#application_note").val(data['note']);
        $("#application_resume_img").attr({'src': data['user']['resume']});
        if($("#filter_applicants").val() == "1" || $("#filter_applicants").val() == "2"){
          // configure accept and reject buttons
          $("#accept_applicant_btn").attr({'onclick':'show_acceptance_message('+application_id+',"'+data['user']['first_name']+'","'+data['user']['last_name']+'","'+data['company']['name']+'");'});
          $("#reject_applicant_btn").attr({'onclick':'reject_candidate('+application_id+');'});
          $("#reject_applicant_btn").show();
          $("#accept_applicant_btn").show();
          // configure notes
          $("#application_note_btn").attr({'onclick':'save_note('+application_id+');'});
          $("#note_div").show();
          // configure download pdf
          $("#download_pdf_btn").show();
          $("#download_pdf_btn").attr({'onclick':'download_pdf('+application_id+');'});
          // application status
          if($("#filter_applicants").val() == "1") {
            $("#application_status").text("Awaiting response");
          }
          if($("#filter_applicants").val() == "2") {
            $("#application_status").text("Met at fair - Awaiting response");
          }
        } else if ($("#filter_applicants").val() == "3" || $("#filter_applicants").val() == "4") {
          // configure accept and reject buttons
          $("#reject_applicant_btn").hide();
          $("#accept_applicant_btn").hide();
          // configure application notes
          $("#application_note_btn").attr({'onclick':'save_note('+application_id+');'});
          $("#note_div").show();
          // configure download pdf
          $("#download_pdf_btn").show();
          $("#download_pdf_btn").attr({'onclick':'download_pdf('+application_id+');'});
          // application status
          if($("#filter_applicants").val() == "3") {
            $("#application_status").text("Rejected");
          }
          if($("#filter_applicants").val() == "4") {
            $("#application_status").text("To invite for interview");
          }
        } else {
          // hide all other buttons
          $("#accept_applicant_btn").hide();
          $("#reject_applicant_btn").hide();
          $("#note_div").hide();
          $("#download_pdf_btn").hide();
          // application status config
          $("#application_status").text("Fair Attendee");
        }
      },
    dataType: 'json',
  });
}

function show_acceptance_message(application_id, first_name, last_name, company_name) {
  console.log("show show_acceptance_message");
  console.log(application_id);
  console.log(first_name);
  console.log(last_name);
  var html_content = "<label>Your email</label><br /><input class='form-control input-sm' type='text' id='recruiter_email' placeholder='Email'/><br /><label>Email Body</label><br /><div id='application_message'>Hello <span id='msg_first_name'>"+String(first_name)+"</span> <span id='msg_last_name'>"+String(last_name)+"</span>, <br /><br />"+
    ""+String(company_name)+" has indicated an interest in interviewing you. We've CC'ed the contact person in this email. Please connect with them to find a common time.<br /><br />"+
    "<textarea style='width:350px;height:100px;' id='recruiter_message'>Here are some times suggested by the recruiter:\n\n</textarea><br /><br />"+
    "Keep up the good work!<br /><br />"+
    "Visit Occuhunt to stay up-to-date with your applications.<br /><br />"+
    "Good luck!<br />"+
    ""+String(company_name)+"<br />"+
    "via Occuhunt</div><br />"+
    "<button class='btn btn-md btn-success' id='send_application_email' onclick='accept_candidate("+application_id+")'>Send Message</button>";

  $("#accept_applicant_btn").popover({
    animation: 'true', 
    html:'true', 
    trigger:'click',
    title:"Message applicant",
    content:html_content,
    placement:'bottom',
    container:'body'
  });

  $("#msg_first_name").text(first_name);
  $("#msg_last_name").text(last_name);
  $("#msg_company_name").text(company_name);
  $("#send_application_email").attr({'onclick':'accept_candidate('+application_id+');'});
  console.log($("#send_application_email"));
}

function accept_candidate(application_id){
  // check if recruiter email has been input
  // if not, show error
  // else, send msg
    // get msg content

  if($("#recruiter_email").val()){
    var recruiter_email = $("#recruiter_email").val();
    var recruiter_message = $("#recruiter_message").val()+"";

    $.ajax({
      url: '/api/v1/applications/'+String(application_id)+'/',
      type: 'PUT',
      data: JSON.stringify({
        'status': 4,
        'recruiter_email': recruiter_email,
        'recruiter_message': recruiter_message
      }),
      dataType: 'json',
      contentType: 'application/json',
      success: function(data, textStatus, jsXHR){
        console.log(data);
        // remove person from list dom - never need to show again
        $("#applicant_list_id_"+String(application_id)).next().click();
        $("#applicant_list_id_"+String(application_id)).remove();
        // hide popover as well
        $("#accept_applicant_btn").popover('hide');
      }
    });
  } else {
    alert("Please input your email address!");
  }
}

function reject_candidate(application_id){
  $.ajax({
    url: '/api/v1/applications/'+String(application_id)+'/',
    type: 'PUT',
    data: JSON.stringify({
      'status': 3,
    }),
    dataType: 'json',
    contentType: 'application/json',
    success: function(data, textStatus, jsXHR){
      console.log(data);
      // remove person from list dom and send it to 
      $("#applicant_list_id_"+String(application_id)).next().click();
      $("#applicant_list_id_"+String(application_id)).remove();
    }
  });
}

function save_note(application_id) {
  if($("#application_note").val()){
    $.ajax({
      url: '/api/v1/applications/'+String(application_id)+'/',
      type: 'PUT',
      data: JSON.stringify({
        'note': $("#application_note").val(),
      }),
      dataType: 'json',
      contentType: 'application/json',
      success: function(data, textStatus, jsXHR){
        console.log(data);
        // disable saving note
        disable_save_note();
        // alert("changes saved!");
      }
    });
  } else {
    alert("your note is empty!");
  }
}

function download_pdf(application_id) {
  // /recruiter/candidate/download_pdf/
  $.ajax({
    type: "POST",
    url: "/recruiter/candidate/download_pdf/",
    data: { application_id: application_id, csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() }
  }).done(function( returnData ) {
    if(returnData['success']){
      // extract resume url
      console.log(returnData);
      // being download process
      window.open(returnData['resume_pdf'],'_blank');
    } else {
      // ask them to give feedback or try again in a while.
    }
  });
}

function enable_save_note(){
  $("#application_note_btn").text("Save Note");
  $("#application_note_btn").attr({"disabled":false});
}

function disable_save_note(){
  $("#application_note_btn").text("Saved!");
  $("#application_note_btn").attr({"disabled":true});
}

function search_applicants(){
  $("#search_applicants").keyup(function(){
    query = $("#search_applicants").val();
    // get applicants by first_name, last_name and email
    applicants_sh = _.map(applicants,function(applicant){ 
      app_id = String(applicant['id']);
      applicant_majors = applicant["user"]["majors"].join(" ");
      search_text = applicant['user']["first_name"]+" "+applicant["user"]["last_name"]+" "+applicant["user"]["email"]+" "+applicant["user"]["graduation_year"]+" "+applicant["user"]["degree"]+" "+applicant_majors;
      dict = {};
      dict["app_id"] = app_id;
      dict["search_text"] = search_text;
      dict["first_name"] = applicant['user']["first_name"];
      dict["last_name"] = applicant['user']["last_name"];
      return dict;
    });
    // search in all fields
    matched_applicants = _.filter(applicants_sh, function(applicant){ 
      return (applicant["search_text"].toLowerCase().indexOf(query.toLowerCase()) > -1); 
    });
    console.log(matched_applicants);
    // clear candidates adn display just the list
    clear_candidates();
    // if list is empty, just get candidates again
    if(matched_applicants.length > 0) {
      for (var i = 0; i < matched_applicants.length; i++) {
        $("#candidate_list").append('<a id="applicant_list_id_'+matched_applicants[i]['app_id']+'" onclick="get_candidate('+matched_applicants[i]['app_id']+')" class="list-group-item">'+matched_applicants[i]['first_name']+' '+matched_applicants[i]['last_name']+'</a>');
      };
    } else {
      $("#candidate_list").append('<a class="list-group-item">Sorry, no candidates :( Please choose another category</a>')
    }
  });
}

$(document).ready(function() {
  get_events();
  // clear_candidates();
  // get_candidates();

  // on change of any of the filters
  $("#filter_school").on("change",get_candidates);
  $("#filter_event").on("change",get_candidates);
  $("#filter_applicants").on("change",get_candidates);
  $("#degree_type").on("change",get_candidates);
  $("#major_type").on("change",get_candidates);
  $("#grad_year").on("change",get_candidates);
  $("#application_note").on("keyup",enable_save_note);
});

</script>

{% endblock %}

{% block subnavbar_base %}
<div class="row" style="background-color:#005f69; padding-bottom:0px; height: 40px; margin-left:0px; margin-right:0px;">
  <div class="container" style="padding:8px 0 8px 0; vertical-align:middle;">
    <!-- Search bar -->
    <form role="search" style="padding:0px; width:250px; display:inline-block; vertical-align:middle;">
      <div>
        <input type="text" placeholder="Search skills & keywords" id="search_applicants" style="width:100%; display:block; border-radius:3px; margin:auto; border:1px solid white; padding-left: 10px;">
      </div>
    </form>

    <!-- School, Position, Grad Date, Degree, Major, Category -->
    <div class="dropdown" style="display:inline-block; padding-left:10px; top:2px;">
      <a data-toggle="dropdown" href="#" style="color:white; font-family:'Proxima Nova'; font-size:15px;">Schools <b class="caret"></b></a>
      </button>
      <ul class="dropdown-menu" role="menu" id="filter_school">
        <li><a onclick="add_school(1);">UC Berkeley</a></li>
      </ul>
    </div>

    <div class="dropdown" style="display:inline-block; padding-left:10px; top:2px;">
      <a data-toggle="dropdown" href="#" style="color:white; font-family:'Proxima Nova'; font-size:15px;">Categories <b class="caret"></b></a>
      </button>
      <ul class="dropdown-menu" role="menu" id="filter_applicants">
        <li><a onclick="add_category(1);">Awaiting response</a></li>
        <li><a onclick="add_category(2);">Talked to</a></li>
        <li><a onclick="add_category(3);">Rejected</a></li>
        <li><a onclick="add_category(4);">Interview</a></li>
        <li><a onclick="add_category(5);">Attendees</a></li>
      </ul>
    </div>

    <div class="dropdown" style="display:inline-block; padding-left:10px; top:2px;">
      <a data-toggle="dropdown" href="#" style="color:white; font-family:'Proxima Nova'; font-size:15px;">Positions <b class="caret"></b></a>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="dropdown" style="display:inline-block; padding-left:10px; top:2px;">
      <a data-toggle="dropdown" href="#" style="color:white; font-family:'Proxima Nova'; font-size:15px;">Majors <b class="caret"></b></a>
      </button>
      <ul class="dropdown-menu" id="major_type" role="menu">
        <li><a onclick="add_major(1);">Accounting</a></li>
        <li><a onclick="add_major(2);">Aerospace Engineering</a></li>
        <li><a onclick="add_major(3);">Anthropology</a></li>
        <li><a onclick="add_major(4);">Applied Mathematics</a></li>
        <li><a onclick="add_major(5);">Architecture</a></li>
        <li><a onclick="add_major(6);">Art</a></li>
        <li><a onclick="add_major(7);">Art History</a></li>
        <li><a onclick="add_major(8);">Artificial Intelligence</a></li>
        <li><a onclick="add_major(9);">Biochemistry</a></li>
        <li><a onclick="add_major(10);">Bioengineering</a></li>
        <li><a onclick="add_major(11);">Biology</a></li>
        <li><a onclick="add_major(12);">Business</a></li>
        <li><a onclick="add_major(13);">Chemical Engineering</a></li>
        <li><a onclick="add_major(14);">Chemistry</a></li>
        <li><a onclick="add_major(15);">Chinese</a></li>
        <li><a onclick="add_major(16);">Civil Engineering</a></li>
        <li><a onclick="add_major(17);">Cognitive Science</a></li>
        <li><a onclick="add_major(18);">Communications</a></li>
        <li><a onclick="add_major(19);">Computer Engineering</a></li>
        <li><a onclick="add_major(20);">Computer Science</a></li>
        <li><a onclick="add_major(21);">Design</a></li>
        <li><a onclick="add_major(22);">Economics</a></li>
        <li><a onclick="add_major(23);">Education</a></li>
        <li><a onclick="add_major(24);">Electrical Engineering</a></li>
        <li><a onclick="add_major(25);">Embedded Systems</a></li>
        <li><a onclick="add_major(26);">English</a></li>
        <li><a onclick="add_major(27);">Entrepreneurship</a></li>
        <li><a onclick="add_major(28);">Environmental Studies</a></li>
        <li><a onclick="add_major(29);">Finance</a></li>
        <li><a onclick="add_major(30);">Fine Arts</a></li>
        <li><a onclick="add_major(31);">French</a></li>
        <li><a onclick="add_major(32);">Government</a></li>
        <li><a onclick="add_major(33);">Graphic Design</a></li>
        <li><a onclick="add_major(34);">History</a></li>
        <li><a onclick="add_major(35);">Human Computer Interaction</a></li>
        <li><a onclick="add_major(36);">Industrial Engineering</a></li>
        <li><a onclick="add_major(37);">Informatics</a></li>
        <li><a onclick="add_major(38);">Information Security</a></li>
        <li><a onclick="add_major(39);">Information Technology</a></li>
        <li><a onclick="add_major(40);">International Relations</a></li>
        <li><a onclick="add_major(41);">Japanese</a></li>
        <li><a onclick="add_major(42);">Journalism</a></li>
        <li><a onclick="add_major(43);">Law</a></li>
        <li><a onclick="add_major(44);">Linguistics</a></li>
        <li><a onclick="add_major(45);">Literature</a></li>
        <li><a onclick="add_major(46);">Machine Learning</a></li>
        <li><a onclick="add_major(47);">Marketing</a></li>
        <li><a onclick="add_major(48);">Materials Science</a></li>
        <li><a onclick="add_major(49);">Mathematics</a></li>
        <li><a onclick="add_major(50);">Mechanical Engineering</a></li>
        <li><a onclick="add_major(51);">Molecular Biology</a></li>
        <li><a onclick="add_major(52);">Music</a></li>
        <li><a onclick="add_major(53);">Nanotechnology</a></li>
        <li><a onclick="add_major(54);">Neuroscience</a></li>
        <li><a onclick="add_major(55);">Nuclear Engineering</a></li>
        <li><a onclick="add_major(56);">Operations Research</a></li>
        <li><a onclick="add_major(57);">Philosophy</a></li>
        <li><a onclick="add_major(58);">Physics</a></li>
        <li><a onclick="add_major(59);">Political Science</a></li>
        <li><a onclick="add_major(60);">Project Management</a></li>
        <li><a onclick="add_major(61);">Psychology</a></li>
        <li><a onclick="add_major(62);">Robotics</a></li>
        <li><a onclick="add_major(63);">Sociology</a></li>
        <li><a onclick="add_major(64);">Software Engineering</a></li>
        <li><a onclick="add_major(65);">Spanish</a></li>
        <li><a onclick="add_major(66);">Statistics</a></li>
        <li><a onclick="add_major(67);">Symbolic Systems</a></li>
        <li><a onclick="add_major(68);">Systems Engineering</a></li>
        <li><a onclick="add_major(69);">Telecommunications</a></li>
      </ul>
    </div>

    <div class="dropdown" style="display:inline-block; padding-left:10px; top:2px;">
      <a data-toggle="dropdown" href="#" style="color:white; font-family:'Proxima Nova'; font-size:15px;">Degrees <b class="caret"></b></a>
      </button>
      <ul class="dropdown-menu" id="degree_type" role="menu">
        <li><a onclick="add_degree(1);">BA</a></li>
        <li><a onclick="add_degree(2);">BS</a></li>
        <li><a onclick="add_degree(3);">MS</a></li>
        <li><a onclick="add_degree(4);">MA</a></li>
        <li><a onclick="add_degree(5);">MBA</a></li>
        <li><a onclick="add_degree(6);">JS</a></li>
        <li><a onclick="add_degree(7);">PhD</a></li>
        <li><a onclick="add_degree(8);">High School Diploma</a></li>
      </ul>
    </div>

    <div class="dropdown" style="display:inline-block; padding-left:10px; top:2px;">
      <a data-toggle="dropdown" href="#" style="color:white; font-family:'Proxima Nova'; font-size:15px;">Grad Dates <b class="caret"></b></a>
      </button>
      <ul class="dropdown-menu" id="grad_year" role="menu">
        <li><a onclick="add_gradyear(2010);">2010</a></li>
        <li><a onclick="add_gradyear(2011);">2011</a></li>
        <li><a onclick="add_gradyear(2012);">2012</a></li>
        <li><a onclick="add_gradyear(2013);">2013</a></li>
        <li><a onclick="add_gradyear(2014);">2014</a></li>
        <li><a onclick="add_gradyear(2015);">2015</a></li>
        <li><a onclick="add_gradyear(2016);">2016</a></li>
        <li><a onclick="add_gradyear(2017);">2017</a></li>
        <li><a onclick="add_gradyear(2018);">2018</a></li>
      </ul>
    </div>

    <div class="dropdown" style="display:inline-block; padding-left:10px; top:2px; float:right;">
      <a href="" style="color:white; font-family:'Proxima Nova'; font-weight:700; font-size:15px;"><span class="glyphicon glyphicon-plus" style="color:white;"></span>&nbsp;Save Search</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="" style="color:white; font-family:'Proxima Nova'; font-weight:500; font-size:15px;">Previous Searches <b class="caret"></b></a>
    </div>

  </div>
</div>

<div class="row">
  <div class="container" style="padding:15px 0px 15px 0px; vertical-align:middle;">
    <span style="font-size:14px; font-weight:500;">Showing candidates who match:</span>
    <span class="label label-link" style="font-size:12px">C++ <span class="glyphicon glyphicon-remove" style="color:white; top:2px;"></span> / python <span class="glyphicon glyphicon-remove" style="color:white; top:2px;"></span> / Olympiad <span class="glyphicon glyphicon-remove" style="color:white; top:2px;"></span></span>
    <span class="label label-warning">AND</span>
    <span class="label label-link" style="font-size:12px">UC Berkeley <span class="glyphicon glyphicon-remove" style="color:white; top:2px;"></span> / Stanford <span class="glyphicon glyphicon-remove" style="color:white; top:2px;"></span></span>

    <!-- export data button -->
    <form class="pull-right" role="export-data" action="/recruiter/hire/download_excel_to_export/" method="post">
      <div class="form-group">
        <input type="hidden" name="fair_id" value="" id="fair_id_input">
        <input type="hidden" name="company_id" value="{{request.user.recruiter.company.id}}" id="company_id_input">
        {% csrf_token %}
        <input type="submit" value="Export Data" class="btn btn-inverted-default pull-right">
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-2 col-md-2 category_box">
    <div class="row" id="category_header_box">
      <h4 id="category_header">Candidates (57)</h4>
      <!-- <h5 id="category_subheader">Select a candidate.</h5> -->
      <hr style="margin-bottom:0px; margin-top:0px;">
      
    </div>
    <div class="row">
      <div class="list-group" id="candidate_list">
        <!-- Candidates will appear here -->
      </div>
    </div>
  </div>
  <div class="col-lg-10 col-md-10 category_box" id="application_info" style="text-align:center;">
    <div class="row" id="category_header_box">
      <div class="col-lg-10">
        <h3 id="category_header"><span id="application_first_name">First</span>&nbsp;<span id="application_last_name">Last Name</span></h3>
        <h5 id="category_subheader"><span id="application_email">Email</span><h5>
        <h5 id="category_subheader"><span id="application_status">Application Status</span></h5>
        <button class="btn btn-lg btn-success" id="accept_applicant_btn" style="position:absolute; top:10px; right:10px;">To Interview</button>
        <button class="btn btn-lg btn-danger" id="reject_applicant_btn" style="position:absolute; top:10px; left:10px;">Reject</button>      
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-10">
        <h4>Resume</h4>
        <a class="btn btn-done btn-sm pull-right" id="download_pdf_btn" style="margin-top:-34px;">Download</a>
        <div style="text-align:center;">
          <img style="border:1px solid #acacac;" src="https://resumefeed.s3.amazonaws.com/sanchit-barejapdfu01nBM1mjF4kaWEJmaXcdgkyP4fBqI" id="application_resume_img">
        </div>
      </div>
      <div class="col-lg-2" id="note_div">
        <h4>Notes</h4>
        <textarea class="form-control" rows="5" id="application_note">Sample Note</textarea>
        <!-- <a class="btn btn-done btn-sm pull-right" disabled id="application_note_btn" >Save Note</a> -->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  
</script>

<!-- hard code everything for design -->
{% endblock %}