{% extends "recruiter/recruiter_base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<!-- Add css here -->
<link href="/static/occuhunt/css/recruiter_hire.css" rel="stylesheet">
<script src="/static/occuhunt/js/custom-form-elements.js"></script>
<style type="text/css">
  body {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
  }
</style>

{% endblock %}

{% block extra_script %}
<!-- Add javascript here -->

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-3 no-space">
    <select class="form-control">
      <option>UC Berkeley</option>
      <option>MIT</option>
      <option>Stanford</option>
      <option>UCLA</option>
      <option>Harvard</option>
    </select>
  </div>
  <div class="col-lg-3 no-space">
    <select class="form-control">
      <option>Startup Fair</option>
      <option>Spring Career Fair</option>
    </select>
  </div>
  <div class="col-lg-3 no-space">
    <select class="form-control">
      <option>Applicants that applied to me</option>
      <option>All attendees</option>
    </select>
  </div>
</div>

<br />

<div class="row">
  <div class="col-lg-2 col-md-2 category_box">
    <div class="row" id="category_header_box">
      <h4 id="category_header">CHOOSE CANDIDATE</h4>
      <h5 id="category_subheader">Select a candidate.</h5>
      <hr>
    </div>
    <div class="row">
      <div id="applicant_main">
        <img id="applicant_logo" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1/c3.0.160.160/p160x160/1474590_10152026189784110_1340713522_n.jpg">
        <div id="applicant_info">
          <p id="applicant_name">Sanchit Bareja</p>
          <p id="applicant_title">EECS 2014</p>
        </div>
      </div>
      <div id="applicant_main">
        <img id="applicant_logo" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1/c3.0.160.160/p160x160/1474590_10152026189784110_1340713522_n.jpg">
        <div id="applicant_info">
          <p id="applicant_name">Sanchit Bareja</p>
          <p id="applicant_title">EECS 2014</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-10 col-md-10 category_box">
    <div class="row" id="category_header_box">
        <h4 id="category_header">Sanchit Bareja</h4>
        <h5 id="category_subheader">Accept or Reject this applicant! Accept = interview, Reject = don't expect a call</h5>
        <button class="btn btn-lg btn-success" style="position:absolute; top:10px; right:10px;">Accept</button>
        <button class="btn btn-lg btn-danger" style="position:absolute; top:10px; left:10px;">Reject</button>
        <hr>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <input class="input-text" type="text" placeholder="First Name" value="Sanchit">
      </div>
      <div class="col-lg-4">
        <input type="text" class="input-text" placeholder="Last Name" value="Bareja">
      </div>
      <div class="col-lg-4">
        <input type="text" class="input-text" placeholder="Major" value="EECS">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-4">
        <input type="text" class="input-text" placeholder="Email" value="sanchit@berkeley.edu">
      </div>
      <div class="col-lg-4">
        <input type="text" class="input-text" placeholder="Phone" value="+1 (510) 612-7328">
      </div>
      <div class="col-lg-4">
        <input type="text" class="input-text" placeholder="Graduation Year" value="2015">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-10">
        <h4>Resume</h4>
        <img style="border:1px solid #acacac" src="https://resumefeed.s3.amazonaws.com/sanchit-barejapdfu01nBM1mjF4kaWEJmaXcdgkyP4fBqI">
      </div>
      <div class="col-lg-2">
        Notes
      </div>
    </div>
  </div>
  <div class="col-lg-10 col-md-10 category_box" id="application_sent">
    <img src="/static/images/checkmark.png" style="height:100px;"/>
    <h1>Application Sent</h1>
  </div>
</div>

<script type="text/javascript">
  
</script>

<!-- hard code everything for design -->
{% endblock %}